<style>
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th, tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h1><%= @club.name %></h1>

<p>
  <strong>billard_area:</strong>
  <%= link_to @club.ba_id, "https://#{@club.region.shortname.downcase}.billardarea.de/cms_clubs/details/#{@club.ba_id}" %>
</p>

<p>
  <strong>Region:</strong>
  <%= link_to @club.region.name, region_path(@club.region) if @club.region.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @club.shortname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= link_to @club.homepage, @club.homepage %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @club.email, @club.email %>
</p>

<p>
  <strong>Priceinfo:</strong>
  <%= @club.priceinfo %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @club.logo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @club.status %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @club.founded %>
</p>

<p>
  <strong>Dbu entry:</strong>
  <%= @club.dbu_entry %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>

<h2>Players</h2>
<% Season.joins(:season_participations => :club).where(clubs: {id: @club.id}).uniq.order(name: :desc).each do |season| %>
 <h3>Season <%= season.name %></h3>
  <table>
    <thead>
    <tr>
      <th>Player ID</th>
      <th>Club</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Title</th>
    </tr>
    </thead>

    <tbody>
    <% Player.joins(:season_participations => :club).joins(:season_participations => :season).where("seasons.id = ?", season.id).where("clubs.id = ?", @club.id).order(lastname: :asc, firstname: :asc).uniq.each do |player| %>
      <tr>
        <td><%= link_to player.ba_id, player_path(player) %></td>
        <td><%= link_to @club.shortname, club_path(@club) %></td>
        <td><%= player.firstname %></td>
        <td><%= player.lastname %></td>
        <td><%= player.title %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
