<div class="container mx-auto my-8 px-4">
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Clubs', clubs_path %> > <%= @club.name %></h1>
      <%= link_to('Edit', edit_club_path(@club), class: "btn btn-link") if current_user.andand.admin? %>
    </div>

    <div class="flex flex-wrap space-y-5 bg-white dark:bg-black rounded shadow p-8">
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8">
        <h5><%= t('club.ba_id') %></h5><%= link_to @club.ba_id, "https://nbv.billardarea.de/cms_clubs/details/#{@club.ba_id}" %>
      </div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8">
        <h5><%= t('club.region_id') %></h5><%= link_to @club.region.name, region_path(@club.region) if @club.region.present? %>
      </div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8">
        <h5><%= t('club.name') %></h5><%= link_to(@club.name, club_path(@club)) %></div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.shortname') %></h5><%= @club.shortname %></div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.address') %></h5><%= @club.address.html_safe %>
      </div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8">
        <h5><%= t('club.homepage') %></h5><%= link_to_if @club.homepage.present?, @club.homepage, @club.homepage %>
      </div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.email') %></h5><%= mail_to @club.email %></div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8">
        <h5><%= t('club.priceinfo') %></h5><%= @club.priceinfo.gsub(/\n+/, "<br />").html_safe %>
      </div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.logo') %></h5><%= @club.logo %></div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.status') %></h5><%= @club.status %></div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.founded') %></h5><%= @club.founded %></div>
      <div class="w-1/2 md:w-3/12 mb-4 m-w-full pr-8"><h5><%= t('club.dbu_entry') %></h5><%= @club.dbu_entry %></div>
    </div>
  </div>
</div>
<div class="flex flex-row px-3 lg:px-0">
  <%= button_to I18n.t("tournaments.show.reload_from_billard_area"), reload_from_ba_club_path(@club), method: :post, style: "float: left; margin-right: 10px;", class: "btn btn-flat btn-primary" %>
  <%= button_to I18n.t("tournaments.show.reload_from_billard_area_with_details"), reload_from_ba_with_player_details_club_path(@club), method: :post, style: "float: left; margin-right: 10px;", class: "btn btn-flat btn-primary" %>
</div>
<hr>
<div class="px-3 lg:px-0">
  <div class="container mx-auto my-8 px-4">
    <div class="max-w-xl justify-center mx-auto">
      <h2 class="space-above"><%= t('player.index.players') %></h2>
      <%- Season.joins(:season_participations => :club).where(clubs: { id: @club.id }).order(name: :desc).uniq.each do |season| %>
        <h3><%= t('home.index.season') %> <%= season.name %></h3>
        <div class="flex space-x-20 p-4 justify-center bg-white dark:bg-black">
          <table class="w-full">
            <thead>
            <tr>
              <th><%= t('season_participation.player_id') %></th>
              <th><%= t('season_participation.club_id') %></th>
              <th><%= t('player.firstname') %></th>
              <th><%= t('player.lastname') %></th>
              <th><%= t('player.title') %></th>
            </tr>
            </thead>
            <tbody>
            <%- Player.joins(:season_participations => :club).joins(:season_participations => :season).where("seasons.id = ?", season.id).where("clubs.id = ?", @club.id).order(lastname: :asc, firstname: :asc).uniq.each do |player| %>
              <tr>
                <td><%= link_to player.ba_id, player_path(player) %></td>
                <td><%= link_to @club.shortname, club_path(@club) %></td>
                <td><%= player.firstname %></td>
                <td><%= player.lastname %></td>
                <td><%= player.title %></td>
              </tr>
            <%- end %>
            </tbody>
          </table>
        </div>
      <%- end %>
    </div>
  </div>
</div>

