<%- row = local_assigns[:row] %>
<%- row_nr = local_assigns[:row_nr] %>
<%- t_no = local_assigns[:t_no] %>
<%- r_no = local_assigns[:r_no] %>
<%- table_ids = local_assigns[:table_ids] %>
<%- round_player_a_ids = local_assigns[:assigned_players_a_ids] %>
<%- round_player_b_ids = local_assigns[:assigned_players_b_ids] %>
<%- players_hash = Player.where(id: round_player_a_ids + round_player_b_ids).inject({}) { |memo, player| memo[player.id] = player; memo } %>
<%- available_fitting_table_ids = local_assigns[:available_fitting_table_ids] %>
<%- party_monitor = local_assigns[:party_monitor] %>
<%- party = party_monitor.andand.party %>
<%- game = party.games.where(gname: "#{row['seqno']}-#{row['type']}").first %>
<%- nl = 1; nr = 2; nls = "a"; nrs = "b" %>
<%- ba_results = game.andand.data.andand["ba_results"].presence || game.andand.table_monitor.andand.data.andand["ba_results"].presence %>
<%- if ba_results.present? %>
  <%- if ba_results["Spieler1"] == players_hash[Array(row['player_b'])[0]].andand.ba_id %>
    <%- nl = 2; nr = 1; nls = "b"; nrs = "a" %>
  <%- end %>
<%- end %>
<%= content_tag "div", id: "rendered_from", value: local_assigns[:rendered_from], style: "display: none" do %>
  <%= local_assigns[:rendered_from] %>
<%- end %>
<%= content_tag "div", id: "row", value: row.inspect, style: "display: none" do %>
  <%= row.inspect %>
<%- end %>
<%= content_tag "div", id: "row_nr", value: row_nr, style: "display: none" do %>
  <%= row_nr %>
<%- end %>
<%= content_tag "div", id: "t_no", value: t_no, style: "display: none" do %>
  <%= t_no %>
<%- end %>
<%= content_tag "div", id: "r_no", value: r_no, style: "display: none" do %>
  <%= r_no %>
<%- end %>
<%= content_tag "div", id: "table_ids", value: table_ids.inspect, style: "display: none" do %>
  <%= table_ids.inspect %>
<%- end %>
<%= content_tag "div", id: "round_player_a_ids", value: round_player_a_ids.inspect, style: "display: none" do %>
  <%= round_player_a_ids.inspect %>
<%- end %>
<%= content_tag "div", id: "round_player_b_ids", value: round_player_b_ids.inspect, style: "display: none" do %>
  <%= round_player_b_ids.inspect %>
<%- end %>
<%= content_tag "div", id: "available_fitting_table_ids", value: available_fitting_table_ids.inspect, style: "display: none" do %>
  <%= available_fitting_table_ids.inspect %>
<%- end %>
<%= content_tag "div", id: "party_monitor", value: party_monitor.attributes.inspect, style: "display: none" do %>
  <%= party_monitor.attributes.inspect %>
<%- end %>
<%= content_tag "div", id: "party", value: party.attributes.inspect, style: "display: none" do %>
  <%= party.attributes.inspect %>
<%- end %>
<%= content_tag "div", id: "game", value: game.andand.attributes.inspect, style: "display: none" do %>
  <%= game.andand.attributes.inspect %>
<%- end %>
<%= content_tag "div", id: "ba_results", value: ba_results.inspect, style: "display: none" do %>
  <%= ba_results.inspect %>
<%- end %>
<div style="display:table-row">
  <%- table = Table[party_monitor.data[:table_ids].andand[r_no - 1].andand[t_no - 2]] %>
  <div style="display:table-row-group">
    <div style="display:table-cell" class="p-3"><b><%= row["seqno"] %><b></b></b></div>
    <div style="display:table-cell" class="p-3 <%= "flex" if table.present? %> flex-row items-center">
      <b><%= row["type"] %></b>&nbsp;
    </div>
    <div style="display:table-cell" class="p-3 <%= "flex" if table.present? %> flex-row items-center">
      <%- if table.present? %>
        <%- if table.table_monitor.playing_round? %>
          <%= custom_link_to table_monitor_path(table.table_monitor), :"data-turbo" => false, target: :_blank do %>
            <%= render_svg "icons/view-show",
                           styles: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg m-2 lg:m-3 mr-0 #{
                             if table.table_monitor.state == "set_over"
                               "dark:text-yellow-400 text-yellow-400"
                             elsif %w[final_set_score final_match_score].include?(table.table_monitor.state)
                               "dark:text-green-400 text-green-400"
                             else
                               "dark:text-gray-300 text-gray-300"
                             end} inline-block", title: "Öffne Scoreboard" %>
          <% end %>
          <%- if table.table_monitor.state == "set_over" %>
            <%= content_tag "div", class: "flex items-center cursor-pointer", data: { reflex: "click->TableMonitorReflex#admin_ack_result touchstart->TableMonitorReflex#admin_ack_result", id: table.table_monitor.id, from_admin: true }, id: "party_game", title: "Klick wenn Spielergebnis geprüft" do %>
              <%= render_svg "icons/checkmark", styles: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg m-2 lg:m-3 mr-0 #{table.table_monitor.state == "set_over" ? "dark:text-yellow-400 text-yellow-400" : "dark:text-gray-300 text-gray-300"} inline-block" %>
              <div class="font-bold text-yellow-400">OK?</div>
            <% end %>
          <%- end %>
        <%- end %>
      <% end %>
    </div>
    <div style="display:table-cell" class="p-3">
      <label>
        <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-1-player_a" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
          <option value="0" selected=""></option>
          <%- round_player_a_ids.each do |pid| %>
            <option value="<%= pid %>" <%= 'selected' if Array(party_monitor.data[:rows][row_nr][:player_a])[0] == pid %> >
              <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
            </option>
          <%- end %>
        </select>
      </label></div>
    <div style="display:table-cell" class="p-3">
      <div class=flex>
        <%- unless row['type'] == "14/1e" %>
          <label>
            <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-sc1" size="2" maxlength="3" value="<%= ba_results["Ergebnis#{nl}"] if ba_results.present? %>">
          </label>:<label>
        <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-sc2" size="2" maxlength="3" value="<%= ba_results["Ergebnis#{nr}"] if ba_results.present? %>">
      </label>
        <%- end %>
      </div>
    </div>
    <div style="display:table-cell" class="p-3">
      <label>
        <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-1-player_b" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
          <option value="0" selected=""></option>
          <%- round_player_b_ids.each do |pid| %>
            <option value="<%= pid %>" <%= 'selected' if Array(party_monitor.data[:rows][row_nr][:player_b])[0] == pid %> >
              <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
            </option>
          <%- end %>
        </select>
      </label></div>
    <div style="display:table-cell" class="p-3">&nbsp;</div>
    <div style="display:table-cell" class="p-3">
      <div class="flex items-center justify-center">
        <label>
          <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-pt1" size="2" maxlength="3" value="<%= game.andand.game_participations.andand.where(role: "player#{nls}").andand.first.andand.points %>">
        </label>:<label>
        <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-pt2" size="2" maxlength="3" value="<%= game.andand.game_participations.andand.where(role: "player#{nrs}").andand.first.andand.points %>">
      </label>
      </div>
    </div>
    <div style="display:table-cell" class="p-3 w-1/4">

      <%= select_tag "table_id_#{r_no}_#{t_no - 1}",
                     options_for_select(Table.joins(:table_kind).joins(:location => { :clubs => :region }).where(id: available_fitting_table_ids).order('locations.name, tables.name').map { |table| ["#{table.name}", table.id] }, table_ids[t_no - 2]),
                     disabled: ('disabled' if party_monitor.state != "table_definition_mode"),
                     class: "border mt-1 font-bold", size: 1 %>
    </div>
  </div>
</div>
<%- if row['type'] == '14/1e' %>
  <div style="display:table-row" class="text-center">
    <div style="display:table-row-group" class="">
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3">
        <div class="flex">
          Punkte:
          <label>
            <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-sc1" size="3" maxlength="3" value="<%= ba_results["Ergebnis#{nl}"] if ba_results.present? %>">
          </label>:<label>
          <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-sc2" size="3" maxlength="3" value="<%= ba_results["Ergebnis#{nr}"] if ba_results.present? %>">
        </label>&nbsp;&nbsp;Aufn.:
          <label>
            <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-in1" size="3" maxlength="3" value="<%= ba_results["Aufnahmen#{nl}"] if ba_results.present? %>">
          </label>/<label>
          <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-in2" size="3" maxlength="3" value="<%= ba_results["Aufnahmen#{nr}"] if ba_results.present? %>">
        </label>&nbsp;&nbsp;HS:
          <label>
            <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-br1" size="3" maxlength="3" value="<%= ba_results["Höchstserie#{nl}"] if ba_results.present? %>">
          </label>/<label>
          <input disabled="disabled" class="font-bold" type="text" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-1-br2" size="3" maxlength="3" value="<%= ba_results["Höchstserie#{nr}"] if ba_results.present? %>">
        </label>&nbsp;
        </div>
      </div>
    </div>
  </div>
<%- end %>
<%- if row['type'] =~ /Doppel/ || row['type'] =~ /4er/ %>
  <div style="display:table-row">
    <div style="display:table-row-group">
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3 text-left">
        <div class=flex>
          <label>
            <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-2-1-player_a" <%= 'disabled' unless party_monitor.state == 'next_round_seeding_mode' && party_monitor.current_round == r_no %>>
              <option value="0" selected=""></option>
              <%- round_player_a_ids.each do |pid| %>
                <option value="<%= pid %>" <%= 'selected' if party_monitor.data[:rows][row_nr][:player_a][1] == pid %> >
                  <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
                </option>
              <%- end %>
            </select>
          </label>
        </div>
      </div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3">
        <label>
          <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-2-1-player_b" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
            <option value="0" selected=""></option>
            <%- round_player_b_ids.each do |pid| %>
              <option value="<%= pid %>" <%= 'selected' if party_monitor.data[:rows][row_nr][:player_b][1] == pid %> >
                <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
              </option>
            <%- end %>
          </select>
        </label></div>
      <div style="display:table-cell" class="p-3">&nbsp;</div>
      <div style="display:table-cell" class="p-3"></div>
    </div>
  </div>
<%- end %>
<%- if row['type'] =~ /4er/ %>
  <div style="display:table-row">
    <div style="display:table-row-group">
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3 text-left"><label>
        <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-3-1-player_a" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
          <option value="0" selected=""></option>
          <%- round_player_a_ids.each do |pid| %>
            <option value="<%= pid %>" <%= 'selected' if party_monitor.data[:rows][row_nr][:player_a][2] == pid %> >
              <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
            </option>
          <%- end %>
        </select>
      </label></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3 text-left">
        <label>
          <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-3-1-player_b" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
            <option value="0" selected=""></option>
            <%- round_player_b_ids.each do |pid| %>
              <option value="<%= pid %>" <%= 'selected' if party_monitor.data[:rows][row_nr][:player_b][2] == pid %> >
                <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
              </option>
            <%- end %>
          </select>
        </label></div>
      <div style="display:table-cell" class="p-3">&nbsp;</div>
      <div style="display:table-cell" class="p-3"></div>
    </div>
  </div>
  <div style="display:table-row">
    <div style="display:table-row-group">
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3 text-left">
        <label>
          <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-4-1-player_a" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
            <option value="0" selected=""></option>
            <%- round_player_a_ids.each do |pid| %>
              <option value="<%= pid %>" <%= 'selected' if party_monitor.data[:rows][row_nr][:player_a][3] == pid %> >
                <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
              </option>
            <%- end %>
          </select>
        </label></div>
      <div style="display:table-cell" class="p-3"></div>
      <div style="display:table-cell" class="p-3 text-left">
        <label>
          <select class="font-bold" size="1" name="<%= party.cc_id %>-<%= row_nr %>-<%= r_no %>-4-1-player_b" <%= 'disabled' unless party_monitor.state == "next_round_seeding_mode" && party_monitor.current_round == r_no %>>
            <option value="0" selected=""></option>
            <%- round_player_b_ids.each do |pid| %>
              <option value="<%= pid %>" <%= 'selected' if party_monitor.data[:rows][row_nr][:player_b][3] == pid %> >
                <%= players_hash[pid].lastname %>, <%= players_hash[pid].firstname %> (<%= players_hash[pid].ba_id %>)
              </option>
            <%- end %>
          </select>
        </label></div>
      <div style="display:table-cell" class="p-3">&nbsp;</div>
      <div style="display:table-cell" class="p-3"></div>
    </div>
  </div>
<%- end %>
