<p>
  <strong>Ba:</strong>
  <%= @season.ba_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @season.data %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
