<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Seasons', seasons_path %> > Season #<%= @season.id %></h1>
      <%= button_to( 'Edit', edit_season_path(@season), disabled: !current_user&.admin?, class: "btn btn-link") %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Ba</h5>
        <%= @season.ba_id %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @season.name %>
      </div>
            <div class="mb-4">
        <h5>Data</h5>
        <%= @season.data %>
      </div>
          </div>
  </div>
</div>
