<%= form_with(model: party) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.text_field :date, class: "form-control", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_input: true, flatpickr_alt_format: t("time.formats.long") } %>
  </div>

  <div class="form-group">
    <%= form.label :league_id %>
    <%= form.number_field :league_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :league_team_a_id %>
    <%= form.number_field :league_team_a_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :league_team_b_id %>
    <%= form.number_field :league_team_b_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ba_id %>
    <%= form.number_field :ba_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :day_seqno %>
    <%= form.number_field :day_seqno, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :data %>
    <%= form.text_area :data, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :host_league_team_id %>
    <%= form.number_field :host_league_team_id, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= custom_link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
