<div class=" rounded shadow table-responsive">
  <table class="table">
    <% @parties ||= records %>
    <% @pagy ||= defined?(pagy) ? pagy : nil %>
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :league_id,'League', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :region,'Region', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :league_team_a_id,'League team a', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :league_team_b_id,'League team b', params, class: 'text-gray-700' %></th>
<!--      <th class="p-3 uppercase text-left text-xs"><%#= sortable @parties, :ba_id,'Ba', params, class: 'text-gray-700' %></th>-->
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :cc_id,'Cc', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :day_seqno,'Day seqno', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :date,'Datum', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :data,'Data', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :host_league_team_id,'Host league team', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :source_url,'Source', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @parties, :sync_date,'Sync Date', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @parties.each do |party| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to party.league.name, league_path(party.league) %></td>
        <td class="p-3"><%= custom_link_to party.league.organizer.shortname, region_path(party.league.organizer) if party.league.organizer_type == "Region" %></td>
        <td class="p-3"><%= custom_link_to( party.league_team_a.andand.name, league_team_path(party.league_team_a)) if party.league_team_a.present? %></td>
        <td class="p-3"><%= custom_link_to( party.league_team_b.andand.name, league_team_path(party.league_team_b)) if party.league_team_b.present? %></td>
        <td class="p-3"><%= custom_link_to party.cc_id, party.cc_link if party.cc_id.present? %></td>
        <td class="p-3"><%= party.day_seqno %></td>
        <td class="p-3"><%= party.date %></td>
        <td class="p-3"><%= party.data %></td>
        <td class="p-3"><%= custom_link_to( party.host_league_team.name, league_team_path(party.host_league_team)) if party.host_league_team.present? %></td>
        <td class="p-3"><%= link_to_if party.source_url.present?, party.source_url.present? ? URI.parse(party.source_url).host : "", party.source_url, target: :_blank %></td>
        <td class="p-3"><%= party.sync_date.andand.to_date %></td>

        <td>
          <%= custom_link_to "View", party, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.andand.pages.to_i > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
