<div id="<%= dom_id slot %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Dayofweek</p>
    <%= slot.dayofweek %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Hourofday start</p>
    <%= slot.hourofday_start %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Minuteofhour start</p>
    <%= slot.minuteofhour_start %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Hourofday end</p>
    <%= slot.hourofday_end %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Minuteofhour end</p>
    <%= slot.minuteofhour_end %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Next start</p>
    <%= slot.next_start %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Next end</p>
    <%= slot.next_end %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Table</p>
    <%= slot.table_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Recurring</p>
    <%= slot.recurring %>
  </div>
</div>
