<div class="container mx-auto p-4">
  <div class="my-8">
    <h1><%= t(".title") %></h1>

    <p class="mb-2">Dies ist der Einstieg für registrierte Benutzer.</p>

    <%- if request.host == "roald.carambus.de" %>
      <p>Der Zugriff zum Antarktis Bildertausch Album wurde geschlossen.</p>
      <p>Vielen Dank an alle, die mitgemacht haben!</p>
    <% else %>
      <p>Ab Saison 2022/2023 werden die Daten von den verschiedenen ClubCloud Instanzen aus deren öffentlichen Bereichen geholt.
        Die Datenübernahme erfolgt redundanzfrei zentral über den Carambus API Server. Locale Carambus Instanzen in den Spiellokalen greifen regionale
        Daten vom Carambus API Server ab.</p>
      <p>Alle Daten sind über die Menüs zugreifbar. Schreibender Zugriff in Carambus erfordert eine Administratorrolle.</p>
      <p>Upload von Ergebnisdaten in die ClubCloud erfordert einen entsprechend authorisierten Zugang zu der jeweiligen ClubCloud Instanz.</p>
      <ul class="list-inside">
        <li><%= custom_link_to "Regionalverbände", regions_path %>
          <ul class="list-inside">
            <li>BA-ID[1], Name, Kurzname, Logo, E-Mail, Adresse, Land</li>
          </ul>
        </li>
        <li><%= custom_link_to "Clubs", clubs_path %>
          <ul class="list-inside">
            <li>BA-ID, Region, Name, Kurzname, Adresse, Home-Page, E-Mail, Logo</li>
          </ul>
        </li>
        <li><%= custom_link_to "Spiellokale", locations_path %>
          <ul class="list-inside">
            <li>Club, Region, Name, Adresse</li>
          </ul>
        </li>
        <li><%= custom_link_to "Tischausstattung", tables_path %>
          <ul class="list-inside">
            <li>Tischarten, Zahl, Größe, Namen, Verwaltung über die Spiellokale</li>
          </ul>
        </li>
        <li><%= custom_link_to "Spielerdaten", players_path %>
          <ul class="list-inside">
            <li>BA-ID, Club, Nachname, Vorname, Titel</li>
          </ul>
        </li>
        <li><%= custom_link_to "Saisonale Vereinszugehörigkeiten", season_participations_path %>
          <ul class="list-inside">
            <li>Spieler, Saison, Club</li>
          </ul>
        </li>
        <li><%= custom_link_to "Turniere", tournaments_path %>
          <ul class="list-inside">
            <li>BA-ID, Titel, Disziplin, Spielklasse, Modus, Zugangsbeschränkung, Datum, Akkreditierungsschluss, Spiellokal, Saison, Region,
              Schlussdatum, Aufnahmegrenze, Punktziel, Organisator (Club oder Region)
            </li>
          </ul>
        </li>
        <li><%= custom_link_to "Turniermoduspläne", tournament_plans_path %>
          <ul class="list-inside">
            <li>Name, Regelsystem, Spielerzahl, Tischzahl, Beschreibung, Gruppenzahl, formaler Ablauf</li>
          </ul>
        </li>
        <li><%= custom_link_to "Turnier/Spieler Setzlisten", seedings_path %>
          <ul class="list-inside">
            <li>Spieler, Listenplatz, Turnier, ggf. Vorgaben bei Vorgabeturnieren</li>
          </ul>
        </li>
        <li><%= custom_link_to "Spiele", game_participations_path %>
          <ul class="list-inside">
            <li>Turnier, Spielname, PlayerA, PlayerB</li>
          </ul>
        </li>
        <li><%= custom_link_to "Spielergebnisse", games_path %>
          <ul class="list-inside">
            <li>Spiel, Bälle, Aufnahmen, Höchstserie, Durchschnitt</li>
          </ul>
        </li>
        <li><%= custom_link_to "Spieler Rankings", player_rankings_path %>
          <ul class="list-inside">
            <li>Spieler, Disziplin, bester Einzeldurchschnitt, bester Turnierdurchschnitt</li>
          </ul>
        </li>
      </ul>
    <%- end %>
  </div>
</div>
