<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Tournament Series Ccs</h1>

    <% if @tournament_series_ccs.any? %>
      <%= button_to 'New Tournament Series Cc', new_tournament_series_cc_path, disabled: !current_user&.admin?, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @tournament_series_ccs.any? %>
    <div class=" rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :cc_id,'Cc', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :name,'Name', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :branch_cc_id,'Branch cc', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :season,'Season', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :valuation,'Valuation', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :series_valuation,'Series valuation', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :no_tournaments,'No tournaments', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :point_formula,'Point formula', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :min_points,'Min points', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :point_fraction,'Point fraction', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :price_money,'Price money', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :currency,'Currency', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :club_id,'Club', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :show_jackpot,'Show jackpot', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :jackpot,'Jackpot', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :status,'Status', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :data,'Data', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @tournament_series_ccs.each do |tournament_series_cc| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                      <td class="p-3"><%= tournament_series_cc.cc_id %></td>
                      <td class="p-3"><%= tournament_series_cc.name %></td>
                      <td class="p-3"><%= tournament_series_cc.branch_cc_id %></td>
                      <td class="p-3"><%= tournament_series_cc.season %></td>
                      <td class="p-3"><%= tournament_series_cc.valuation %></td>
                      <td class="p-3"><%= tournament_series_cc.series_valuation %></td>
                      <td class="p-3"><%= tournament_series_cc.no_tournaments %></td>
                      <td class="p-3"><%= tournament_series_cc.point_formula %></td>
                      <td class="p-3"><%= tournament_series_cc.min_points %></td>
                      <td class="p-3"><%= tournament_series_cc.point_fraction %></td>
                      <td class="p-3"><%= tournament_series_cc.price_money %></td>
                      <td class="p-3"><%= tournament_series_cc.currency %></td>
                      <td class="p-3"><%= tournament_series_cc.club_id %></td>
                      <td class="p-3"><%= tournament_series_cc.show_jackpot %></td>
                      <td class="p-3"><%= tournament_series_cc.jackpot %></td>
                      <td class="p-3"><%= tournament_series_cc.status %></td>
                      <td class="p-3"><%= tournament_series_cc.data %></td>

            <td>
              <%= custom_link_to "View", tournament_series_cc, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Tournament Series Cc</p>
        <%= button_to 'New Tournament Series Cc', new_tournament_series_cc_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
