<div class="container mx-auto my-8 px-4">
  <% @tournament_series_ccs ||= records %>
  <% @pagy ||= pagy %>
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Tournament Series Ccs</h1>

    <% if @tournament_series_ccs.any? %>
      <%= button_to 'New Tournament Series Cc', new_tournament_series_cc_path, disabled: !current_user&.admin?, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @tournament_series_ccs.any? %>
    <div class=" rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :cc_id,'Cc', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :name,'Name', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :branch_cc_id,'Branch cc', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :season,'Season', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :valuation,'Valuation', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :series_valuation,'Series valuation', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :no_tournaments,'No tournaments', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :point_formula,'Point formula', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :min_points,'Min points', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :point_fraction,'Point fraction', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :price_money,'Price money', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :currency,'Currency', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :club_id,'Club', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :show_jackpot,'Show jackpot', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :jackpot,'Jackpot', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :status,'Status', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_series_ccs, :data,'Data', params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @tournament_series_ccs.each do |tournament_series_cc| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                      <td class="p-3"><%= tournament_series_cc.cc_id %></td>
                      <td class="p-3"><%= tournament_series_cc.name %></td>
                      <td class="p-3"><%= tournament_series_cc.branch_cc_id %></td>
                      <td class="p-3"><%= tournament_series_cc.season %></td>
                      <td class="p-3"><%= tournament_series_cc.valuation %></td>
                      <td class="p-3"><%= tournament_series_cc.series_valuation %></td>
                      <td class="p-3"><%= tournament_series_cc.no_tournaments %></td>
                      <td class="p-3"><%= tournament_series_cc.point_formula %></td>
                      <td class="p-3"><%= tournament_series_cc.min_points %></td>
                      <td class="p-3"><%= tournament_series_cc.point_fraction %></td>
                      <td class="p-3"><%= tournament_series_cc.price_money %></td>
                      <td class="p-3"><%= tournament_series_cc.currency %></td>
                      <td class="p-3"><%= tournament_series_cc.club_id %></td>
                      <td class="p-3"><%= tournament_series_cc.show_jackpot %></td>
                      <td class="p-3"><%= tournament_series_cc.jackpot %></td>
                      <td class="p-3"><%= tournament_series_cc.status %></td>
                      <td class="p-3"><%= tournament_series_cc.data %></td>

            <td>
              <%= custom_link_to "View", tournament_series_cc, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
            <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
      </svg>
      <div class="flex-1 text-center">

        <%= button_to 'New Tournament Series Cc', new_tournament_series_cc_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
