<div class=" rounded shadow table-responsive">
  <table class="table">
    <thead>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :name,'Name', request.params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :organizer_id,'Organizer', request.params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :season_id,'Season', request.params, class: 'text-gray-700' %></th>
<!--    <th class="p-3 uppercase text-left text-xs"><%#= sortable @leagues, :ba_id,'Ba_id<br>(BA_Link)'.html_safe, request.params, class: 'text-gray-700' %></th>-->
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :cc_id,'Cc_Id<br>(CC_Link)'.html_safe, request.params, class: 'text-gray-700' %></th>
<!--    <th class="p-3 uppercase text-left text-xs"><%#= sortable @leagues, :ba_id2,'Ba_id2<br>(BA_Link)'.html_safe, request.params, class: 'text-gray-700' %></th>-->
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :cc_id2,'Cc_Id2<br>(CC_Link)'.html_safe, request.params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :discipline_id,'Discipline', request.params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :game_plan,'Game Plan', request.params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :source_url,'Source', request.params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @leagues, :sync_date,'Sync Date', request.params, class: 'text-gray-700' %></th>

    <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @leagues.includes(:season).each do |league| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3 font-semibold"><%= custom_link_to league.name, league %></td>
        <td class="p-3"><%= link_to_if league.organizer.is_a?(Region), league.organizer.shortname, region_path(league.organizer) %></td>
        <td class="p-3"><%= custom_link_to league.season.name, season_path(league.season) %></td>
<!--        <td class="p-3"><%#= link_to_if league.ba_id.present?, (league.ba_id.present? ? "#{league.ba_id}" : ""), league.ba_id_link, class: "yellow_link" %></td>-->
        <td class="p-3"><%= link_to_if league.cc_id.present?, (league.cc_id.present? ? "#{league.cc_id}" : ""), league.cc_id_link, class: "green_link" %></td>
<!--        <td class="p-3"><%#= link_to_if league.ba_id2.present?, (league.ba_id2.present? ? "#{league.ba_id2}" : ""), league.ba_id_link, class: "yellow_link" %></td>-->
        <td class="p-3"><%= link_to_if league.cc_id2.present?, (league.cc_id2.present? ? "#{league.cc_id2}" : ""), league.cc_id_link, class: "green_link" %></td>
        <td class="p-3"><%= custom_link_to(league.discipline.andand.name, discipline_path(league.discipline)) if league.discipline.present? %></td>
        <td class="p-3"><%= custom_link_to(league.game_plan.andand.name, game_plan_path(league.game_plan)) if league.game_plan.present? %></td>
        <td class="p-3"><%= link_to_if league.source_url.present?, league.source_url.present? ? URI.parse(league.source_url).host : "", league.source_url, class: "green_link" %></td>
        <td class="p-3"><%= league.sync_date.andand.to_date %></td>
        <td>
          <%= custom_link_to "View", league, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject { |k, v| k == "table_only" }) %>
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
