<table class="table table-striped">
  <% schedule_by_rounds.each do |runde, parties| %>
    <thead>
    <tr>
      <th colspan="6" style="background:#cfc"><%= runde %></th>
    </tr>
    <tr>

      <% unless Rails.env.production? %>
        <th>id</th>
      <% end %>
      <th>ST</th>
      <th>Termin</th>
      <th>Heim</th>
      <th>Erg.</th>
      <th>Gast</th>
      <th>Gastgeber</th>
    </tr>
    </thead>
    <tbody>
    <% parties.each do |party| %>
      <tr>
        <% unless Rails.env.production? %>
          <td><%= party.id %></td>
        <% end %>
        <td><%= party.day_seqno %></td>
        <td><%= l(party.date, format: :short) if party.date %></td>
        <td><%= link_to party.league_team_a.name, league_team_path(party.league_team_a) if party.league_team_a %></td>
        <td>
          <% if party.data["result"].present? %>
            <%= link_to party.data["result"], party_path(party), class: 'fw-bold' %>
          <% else %>
            &ndash;
          <% end %>
        </td>
        <td><%= link_to party.league_team_b.name, league_team_path(party.league_team_b) if party.league_team_b %></td>
        <td><%= party.host_league_team&.name %></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>
