<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-left">Platz</th>
      <th class="text-left">Mannschaft</th>
      <th class="text-left">S</th>
      <th class="text-left">G</th>
      <th class="text-left">U</th>
      <th class="text-left">V</th>
      <th class="text-left">Pkt.</th>
      <th class="text-left">Diff.</th>
      <th class="text-left">Partien</th>
    </tr>
  </thead>
  <tbody>
    <% standings.each do |row| %>
      <tr>
        <td><%= row[:platz] %></td>
        <td><%= link_to row[:name], league_team_path(row[:team]) %></td>
        <td><%= row[:spiele] %></td>
        <td><%= row[:gewonnen] %></td>
        <td><%= row[:unentschieden] %></td>
        <td><%= row[:verloren] %></td>
        <td><strong><%= row[:punkte] %></strong></td>
        <td><%= row[:diff] > 0 ? "+#{row[:diff]}" : row[:diff] %></td>
        <td><%= row[:partien] %></td>
      </tr>
    <% end %>
  </tbody>
</table> 