<%= form_for(@discipline) do |f| %>
  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :table_kind %><br>
    <%= f.select :table_kind_id, options_for_select(["select", nil] + TableKind.all.map{|tk| [tk.name, tk.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
