<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Disciplines</h1>

    <% if @disciplines.any? %>
      <div class="flex-row w-2/4">
        <div class="flex flex-row">
          <div class="flex w-full">
            <form action="/disciplines" method="get" target="table_wrapper" data-reflex-serialize-form="true">
              <%= search_field_tag :sSearch, params[:sSearch], id: 'sSearch', data: { reflex: "input->SearchReflex#perform", reflex_permanent: "search" }, placeholder: "Search" %>
            </form>
          </div>
          <div id="helpSearch" class="flex pl-3" data-controller="tooltip" data-tippy-content="Search Field - z.B.: info region:nbv season:2022/2023" data-tippy-delay="0" data-tippy-arrow="true" data-tippy-size="regular" data-tippy-animation="fade">
            <%= render_svg "icons/information-outline", styles: "fill-current icon-sm text-gray-700 dark:text-gray-800 hover:text-gray-800 hover: dark: inline-blocktable_monitor.save" %>
          </div>
        </div>
      </div>
      <%= button_to 'New Discipline', new_discipline_path, method: :get, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @disciplines.any? %>
    <%= turbo_frame_tag 'table_wrapper' do %>
      <%= render partial: 'disciplines_table' %>
    <% end %>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject{|k,v| k == "table_only"})%>
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

    <%- if current_user&.admin? %>
      <%= form_tag merge_disciplines_path, method: :post do %>
        <%= label_tag "merge" %><%= number_field_tag "merge", nil, placeholder: "master discipline id" %>

        <%= label_tag "with duplicates (comma-separated ids)" %><%= text_field_tag "with", nil, placeholder: "slave discipline id" %>
        <%= submit_tag "merge and delete slave", class: "btn btn-primary" %>
      <% end %>
    <% end %>

  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Discipline</p>
        <%= button_to 'New Discipline', new_discipline_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
