<h1><%= @discipline.name %> / <%= @discipline.table_size %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Table size:</strong>
  <%= @discipline.table_size %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
