<h1><%= @discipline.name %> / <%= @discipline.table_kind.andand.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Table Kind:</strong>
  <%= link_to(@discipline.table_kind.andand.name, table_kind_path(@discipline.table_kind)) if @discipline.table_kind.present? %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
