  <table class="table">
  <thead>
  <tr>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :cc_id,'Cc', params, class: 'text-gray-700' %></th>
<!--    <th class="p-3 uppercase text-left text-xs"><%#= sortable @league_ccs, :ba_link,'BA-Link', params, class: 'text-gray-700' %></th>-->
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :cc_link,'CC-Link', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :league_id,'Liga(Carambus)', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :season,'Saison', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :name,'Name', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :shortname,'Kürzel', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :status,'Status', params, class: 'text-gray-700' %></th>
    <% unless @season_cc.present? %>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :season_cc_id,'Season cc', params, class: 'text-gray-700' %></th>
    <%- end %>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :context,'Context', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs"><%= sortable @league_ccs, :report_form,'Spielbericht', params, class: 'text-gray-700' %></th>
    <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @league_ccs.each do |league_cc| %>
    <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
      <td class="p-3"><%= custom_link_to league_cc.cc_id, league_cc_path(league_cc) %></td>
<!--      <td class="p-3"><%#= custom_link_to "#{league_cc.league.ba_id}/#{league_cc.league.ba_id2}", "https://#{league_cc.context}.billardarea.de/cms_leagues/plan/#{league_cc.league.ba_id}/#{league_cc.league.ba_id2}", class: "yellow_link", target: "_blank" if league_cc.league.present? %></td>-->
      <%= form_tag("#{RegionCc::BASE_URL}#{RegionCc::PATH_MAP["showLeague"][0]}", id: "cc_link_#{league_cc.id}", :method => :post, :class => 'internal', target: :_blank) do %>
        <%= hidden_field_tag 'fedId', league_cc.fedId %>
        <%= hidden_field_tag 'branchId', league_cc.branchId %>
        <%= hidden_field_tag 'subBranchId', league_cc.subBranchId %>
        <%= hidden_field_tag 'seasonId', league_cc.seasonId %>
        <%= hidden_field_tag 'leagueId', league_cc.leagueId %>
      <% end %>
      <td class="p-3"><%= custom_link_to("#{league_cc.link_name}", "#", onclick: "document.getElementById(\"#{"cc_link_#{league_cc.id}"}\").submit();", :title => 'Hover text for link') %></td>
      <td class="p-3"><%= custom_link_to league_cc.league.name, league_path(league_cc.league) if league_cc.league.present? %></td>
      <td class="p-3"><%= custom_link_to "#{league_cc.season_cc.name} (#{league_cc.season_cc.branch_cc.name})", season_cc_path(league_cc.season_cc) if league_cc.season_cc.present? %></td>
      <td class="p-3"><%= league_cc.name %></td>
      <td class="p-3"><%= league_cc.shortname %></td>
      <td class="p-3"><%= league_cc.status %></td>
      <% unless @season_cc.present? %>
        <td class="p-3"><%= league_cc.season_cc_id %></td>
      <%- end %>
      <td class="p-3"><%= league_cc.context %></td>
      <td class="p-3"><%= league_cc.report_form %></td>

      <td>
        <%= custom_link_to "View", league_cc, class: "btn btn-link no-underline" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if @pagy.present? && @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
