<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1><%= custom_link_to 'League Ccs', league_ccs_path %> > League Cc #<%= @league_cc.id %></h1>
      <%= custom_link_to 'Edit', edit_league_cc_path(@league_cc), class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Cc</h5>
        <%= @league_cc.cc_id %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @league_cc.name %>
      </div>
            <div class="mb-4">
        <h5>Season cc</h5>
        <%= custom_link_to "#{@league_cc.season_cc.name}(#{@league_cc.season_cc_id})", season_cc_path(@league_cc.season_cc) %>
      </div>
            <div class="mb-4">
        <h5>Context</h5>
        <%= @league_cc.context %>
      </div>
          </div>
  </div>

  <% if @league_team_ccs.any? %>
    <h3> League Teams</h3>
    <div id="table_wrapper text-sm">
      <%= render partial: 'league_team_ccs/league_team_ccs_table' %>
    </div>
  <% end %>

  <% if @party_ccs.any? %>
    <h3> Parties</h3>
    <div id="table_wrapper text-base">
      <%= render partial: 'party_ccs/party_ccs_table' %>
    </div>
  <% end %>
</div>
