<%= form_for(@player_tournament_participation) do |f| %>
  <% if @player_tournament_participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_tournament_participation.errors.count, "error") %> prohibited this player_tournament_participation from being saved:</h2>

      <ul>
      <% @player_tournament_participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.number_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
