<%= form_for(@seeding) do |f| %>
  <% if @seeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seeding.errors.count, "error") %> prohibited this seeding from being saved:</h2>

      <ul>
      <% @seeding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.number_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :ba_state %><br>
    <%= f.text_field :ba_state %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
