<% content_for :javascript do %>
  <script>
    function searchSeedings(selectObj, tableOnly) {
      Rails.ajax({
        type: "GET",
        url: "/seedings?sSearch=" + document.getElementById("search").value.replace(/&/g, '%26') + "&table_only=true",
        success: function (response) {
          var elem = document.getElementById("table_wrapper");
          elem.innerHTML = response.body.innerHTML;
        },
        error: function (response) {
          console.log(response.responseText);
        }
      })
    }

    document.addEventListener("turbo:load", function () {
      //searchSeedings(document.getElementById("search"), false);
    })
  </script>
<% end %>
<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3"><%= t('seeding.index.seedings') %></h1>

    <% if @seedings.any? %>
      <div class="flex-row w-2/4">
        <div class="flex flex-row">
          <div class="flex w-full">
            <form action="/seedings" method="get" target="table_wrapper" data-reflex-serialize-form="true">
              <%= search_field_tag :sSearch, @sSearch, id: 'sSearch', data: { reflex: "input->SearchReflex#perform", reflex_permanent: "search" }, placeholder: "Search" %>
            </form>
          </div>
          <div class="flex pl-3">
            <%= render_svg "icons/information-outline", styles: "fill-current icon-sm text-gray-700 dark:text-gray-800 hover:text-gray-800 hover: dark: inline-blocktable_monitor.save" %>
          </div>
        </div>
      </div>
      <%= button_to('New Seeding', new_seeding_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary") if current_user&.admin? %>
    <% end %>
  </div>

  <% if @seedings.any? %>
    <%= turbo_frame_tag 'table_wrapper' do %>
      <%= render partial: 'seedings_table' %>
    <% end %>
  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Seeding</p>
        <%= button_to 'New Seeding', new_seeding_path, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
