<style>
    textarea {
        width: 100%;
        height: 80px;
    }
</style>
<%= form_for(@tournament_plan) do |f| %>
  <% if @tournament_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament_plan.errors.count, "error") %> prohibited this tournament_plan from being saved:</h2>

      <ul>
      <% @tournament_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rulesystem %><br>
    <%= f.text_area :rulesystem %>
  </div>
  <div class="field">
    <%= f.label :more_description %><br>
    <%= f.text_area :more_description %>
  </div>
  <div class="field">
    <%= f.label :even_more_description %><br>
    <%= f.text_area :even_more_description %>
  </div>
  <div class="field">
    <%= f.label :executor_class %><br>
    <%= f.text_field :executor_class %>
  </div>
  <div class="field">
    <%= f.label :executor_params %><br>
    <%= f.text_area :executor_params %>
  </div>
  <div class="field">
    <%= f.label :players %><br>
    <%= f.number_field :players %>
  </div>
  <div class="field">
    <%= f.label :ngroups %><br>
    <%= f.number_field :ngroups %>
  </div>
  <div class="field">
    <%= f.label :tables %><br>
    <%= f.number_field :tables %>
  </div>
  <div class="field">
    <%= f.label :nrepeats %><br>
    <%= f.number_field :nrepeats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
