
<div class=" rounded shadow table-responsive">
  <% @tournament_plans ||= records %>
  <% @pagy ||= pagy %>
  <table class="table">
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :name,'Name', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :rulesystem,'Rulesystem', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :players,'Players', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :tables,'Tables', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :more_description,'More description', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :even_more_description,'Even more description', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :executor_class,'Executor class', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :executor_params,'Executor params', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :ngroups,'Ngroups', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :nrepeats,'Nrepeats', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-300 w-20"><%= t('actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @tournament_plans.each do |tournament_plan| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= tournament_plan.name %></td>
        <td class="p-3"><%= tournament_plan.rulesystem %></td>
        <td class="p-3"><%= tournament_plan.players %></td>
        <td class="p-3"><%= tournament_plan.tables %></td>
        <td class="p-3"><%= tournament_plan.more_description %></td>
        <td class="p-3"><%= tournament_plan.even_more_description %></td>
        <td class="p-3"><%= tournament_plan.executor_class %></td>
        <td class="p-3"><%= JSON.parse tournament_plan.executor_params %></td>
        <td class="p-3"><%= tournament_plan.ngroups %></td>
        <td class="p-3"><%= tournament_plan.nrepeats %></td>

        <td>
          <%= custom_link_to t('view'), tournament_plan, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
