<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Tournament Plans</h1>

    <% if @tournament_plans.any? %>
      <%= link_to 'New Tournament Plan', new_tournament_plan_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @tournament_plans.any? %>
    <div class="bg-white dark:bg-black rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :name, 'Name', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :rulesystem, 'Rulesystem', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :players, 'Players', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :tables, 'Tables', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :more_description, 'More description', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :even_more_description, 'Even more description', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :executor_class, 'Executor class', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :executor_params, 'Executor params', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :ngroups, 'Ngroups', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tournament_plans, :nrepeats, 'Nrepeats', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-200 w-20"><%= t('actions') %></th>
          </tr>
        </thead>

        <tbody>
        <% @tournament_plans.each do |tournament_plan| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:bg-gray-800">
                      <td class="p-3"><%= tournament_plan.name %></td>
                      <td class="p-3"><%= tournament_plan.rulesystem %></td>
                      <td class="p-3"><%= tournament_plan.players %></td>
                      <td class="p-3"><%= tournament_plan.tables %></td>
                      <td class="p-3"><%= tournament_plan.more_description %></td>
                      <td class="p-3"><%= tournament_plan.even_more_description %></td>
                      <td class="p-3"><%= tournament_plan.executor_class %></td>
                      <td class="p-3"><%= JSON.parse tournament_plan.executor_params %></td>
                      <td class="p-3"><%= tournament_plan.ngroups %></td>
                      <td class="p-3"><%= tournament_plan.nrepeats %></td>

            <td>
              <%= link_to t('view'), tournament_plan, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white dark:bg-black rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Tournament Plan</p>
        <%= link_to 'New Tournament Plan', new_tournament_plan_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
