<div class="field">
  <%= label_tag :name %>:
  <%= @tournament_plan.name %>
</div>
<div class="field">
  <%= label_tag :rulesystem %>:
  <%= @tournament_plan.rulesystem %>
</div>
<div class="field">
  <%= label_tag :more_description %>:
  <%= @tournament_plan.more_description %>
</div>
<div class="field">
  <%= label_tag :even_more_description %>:
  <%= @tournament_plan.even_more_description %>
</div>
<div class="field">
  <%= label_tag :executor_class %>:
  <%= @tournament_plan.executor_class %>
</div>
<div class="field">
  <%= label_tag :executor_params %>:
  <%= @tournament_plan.executor_params %>
</div>
<div class="field">
  <%= label_tag :players %>:
  <%= @tournament_plan.players %>
</div>
<div class="field">
  <%= label_tag :ngroups %>:
  <%= @tournament_plan.ngroups %>
</div>
<div class="field">
  <%= label_tag :tables %>:
  <%= @tournament_plan.tables %>
</div>
<div class="field">
  <%= label_tag :nrepeats %>:
  <%= @tournament_plan.nrepeats %>
</div>


<%= link_to 'Edit', edit_tournament_plan_path(@tournament_plan) %> |
<%= link_to 'Back', tournament_plans_path %>
