<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Category Ccs</h1>

    <% if @category_ccs.any? %>
      <%= button_to 'New Category Cc', new_category_cc_path, method: :get, disabled: current_user&.admin?, class: "btn btn-primary"  %>
    <% end %>
  </div>

  <% if @category_ccs.any? %>
    <div class=" rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :cc_id,'Cc', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :name,'Name', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :branch_cc_id,'Sparte', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :context,'Context', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :min_age,'Min age', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :max_age,'Max age', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :sex,'Sex', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @category_ccs, :status,'Status', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @category_ccs.each do |category_cc| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
            <td class="p-3"><%= category_cc.cc_id %></td>
            <td class="p-3"><%= category_cc.name %></td>
            <td class="p-3"><%= custom_link_to "#{category_cc.branch_cc.discipline.name}[#{category_cc.branch_cc.discipline_id}]", discipline_path(category_cc.branch_cc.discipline) %></td>
            <td class="p-3"><%= category_cc.context %></td>
            <td class="p-3"><%= category_cc.min_age %></td>
            <td class="p-3"><%= category_cc.max_age %></td>
            <td class="p-3"><%= category_cc.sex %></td>
            <td class="p-3"><%= category_cc.status %></td>

            <td>
              <%= custom_link_to "View", category_cc, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Category Cc</p>
        <%= button_to 'New Category Cc', new_category_cc_path, disabled: !current_user&.admin?, class: "btn btn-primary"   %>
      </div>
    </div>
  <% end %>
</div>
