<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Category Ccs', category_ccs_path %> > Category Cc #<%= @category_cc.id %></h1>
      <%= custom_link_to 'Edit', edit_category_cc_path(@category_cc), class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Context</h5>
        <%= @category_cc.context %>
      </div>
            <div class="mb-4">
        <h5>Max age</h5>
        <%= @category_cc.max_age %>
      </div>
            <div class="mb-4">
        <h5>Min age</h5>
        <%= @category_cc.min_age %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @category_cc.name %>
      </div>
            <div class="mb-4">
        <h5>Sex</h5>
        <%= @category_cc.sex %>
      </div>
            <div class="mb-4">
        <h5>Status</h5>
        <%= @category_cc.status %>
      </div>
            <div class="mb-4">
        <h5>Cc</h5>
        <%= @category_cc.cc_id %>
      </div>
            <div class="mb-4">
        <h5>Branch cc</h5>
        <%= @category_cc.branch_cc_id %>
      </div>
          </div>
  </div>
</div>
