<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Rulesystem:</strong>
  <%= @template.rulesystem %>
</p>

<p>
  <strong>Players:</strong>
  <%= @template.players %>
</p>

<p>
  <strong>Tables:</strong>
  <%= @template.tables %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
