<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Registration List Ccs', registration_list_ccs_path %> > Registration List Cc #<%= @registration_list_cc.id %></h1>
      <%= custom_link_to 'Edit', edit_registration_list_cc_path(@registration_list_cc), class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Cc</h5>
        <%= @registration_list_cc.cc_id %>
      </div>
            <div class="mb-4">
        <h5>Context</h5>
        <%= @registration_list_cc.context %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @registration_list_cc.name %>
      </div>
            <div class="mb-4">
        <h5>Branch cc</h5>
        <%= @registration_list_cc.branch_cc_id %>
      </div>
            <div class="mb-4">
        <h5>Season</h5>
        <%= @registration_list_cc.season_id %>
      </div>
            <div class="mb-4">
        <h5>Discipline</h5>
        <%= @registration_list_cc.discipline_id %>
      </div>
            <div class="mb-4">
        <h5>Category cc</h5>
        <%= @registration_list_cc.category_cc_id %>
      </div>
            <div class="mb-4">
        <h5>Deadline</h5>
        <%= @registration_list_cc.deadline %>
      </div>
            <div class="mb-4">
        <h5>Qualifying date</h5>
        <%= @registration_list_cc.qualifying_date %>
      </div>
            <div class="mb-4">
        <h5>Data</h5>
        <%= @registration_list_cc.data %>
      </div>
            <div class="mb-4">
        <h5>Status</h5>
        <%= @registration_list_cc.status %>
      </div>
          </div>
  </div>
</div>
