<div id="<%= dom_id game_plan %>" class="space-y-2">
  <div>
    <p class="text-xs uppercase tracking-wide text-gray-400 dark:text-gray-500">Name</p>
    <span class="font-medium text-gray-900 dark:text-gray-100"><%= game_plan.name %></span>
  </div>
  <div>
    <p class="text-xs uppercase tracking-wide text-gray-400 dark:text-gray-500">Footprint</p>
    <span class="text-gray-900 dark:text-gray-100"><%= game_plan.footprint %></span>
  </div>
  <div>
    <p class="text-xs uppercase tracking-wide text-gray-400 dark:text-gray-500">Leagues</p>
    <div class="text-sm">
      <%- game_plan.leagues.each do |league| %>
        <%= custom_link_to (league.name + ' - ' + league.branch.name + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;").html_safe, league, class: "text-primary-600 dark:text-primary-400" %>
      <%- end %>
    </div>
  </div>
  <div>
    <p class="text-xs uppercase tracking-wide text-gray-400 dark:text-gray-500">Data</p>
    <%= pretty_json(game_plan.data) %>
  </div>
</div>
