<div class=" rounded shadow table-responsive">
  <% @season_ccs ||= records %>
  <% @pagy ||= pagy %>
  <table class="table">
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @season_ccs, :cc_id,'Cc', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @season_ccs, :name,'Name', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @season_ccs, :season_id,'Season', params, class: 'text-gray-700' %></th>
      <%- unless @competition_cc.present? %>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @season_ccs, :competition_cc_id,'Competition cc', params, class: 'text-gray-700' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @season_ccs, :branch_cc_id,'Branch cc', params, class: 'text-gray-700' %></th>
      <%- end %>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @season_ccs, :context,'Context', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @season_ccs.each do |season_cc| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to season_cc.cc_id, season_cc_path(season_cc) %></td>
        <td class="p-3"><%= season_cc.name %></td>
        <td class="p-3"><%= custom_link_to "#{season_cc.season.name}[#{season_cc.season_id}]", season_path(season_cc.season) %></td>
        <%- unless @competition_cc.present? %>
          <td class="p-3"><%= custom_link_to "#{season_cc.competition_cc.name}(#{season_cc.competition_cc_id})", competition_cc_path(season_cc.competition_cc) %></td>
          <td class="p-3"><%= custom_link_to "#{season_cc.competition_cc.branch_cc.name}(#{season_cc.competition_cc.branch_cc_id})", branch_cc_path(season_cc.competition_cc.branch_cc) %></td>
        <%- end %>
        <td class="p-3"><%= season_cc.context %></td>

        <td>
          <%= custom_link_to "View", season_cc, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.present? && @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
