<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Innings</h1>

    <% if @innings.any? %>
      <%= link_to 'New Inning', new_inning_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @innings.any? %>
    <div class="bg-white dark:bg-black rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :game_id, 'Game', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :sequence_number, 'Sequence number', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :player_a_count, 'Player a count', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :player_b_count, 'Player b count', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :player_c_count, 'Player c count', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :player_d_count, 'Player d count', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @innings, :date, 'Date', class: 'text-gray-700 dark:text-gray-200' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-200 w-20"><%= t('actions') %></th>
          </tr>
        </thead>

        <tbody>
        <% @innings.each do |inning| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:bg-gray-800">
                      <td class="p-3"><%= inning.game_id %></td>
                      <td class="p-3"><%= inning.sequence_number %></td>
                      <td class="p-3"><%= inning.player_a_count %></td>
                      <td class="p-3"><%= inning.player_b_count %></td>
                      <td class="p-3"><%= inning.player_c_count %></td>
                      <td class="p-3"><%= inning.player_d_count %></td>
                      <td class="p-3"><%= inning.date %></td>

            <td>
              <%= link_to t('view'), inning, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white dark:bg-black rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Inning</p>
        <%= link_to 'New Inning', new_inning_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
