<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Discipline" %><br>
    <%= f.select :discipline_id, options_for_select(Discipline.order(:name).map{|discipline| [discipline.name, discipline.id]}, @tournament.discipline_id) %>
  </div>
  <div class="field">
  <%= f.label "Player Class" %><br>
  <%= f.select :player_class, options_for_select(%w{I II III 1 2 3 4 5 6 7}, @tournament.player_class) %>
  </div>
  <div class="field">
    <%= f.label :modus %><br>
    <%= f.text_field :modus %>
  </div>
  <div class="field">
    <%= f.label :age_restriction %><br>
    <%= f.text_field :age_restriction %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :accredation_end %><br>
    <%= f.datetime_select :accredation_end %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :hosting_club_id %><br>
    <%= f.number_field :hosting_club_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
