<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex-col justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to t('home.index.tournaments'), tournaments_path %> &gt; <%= tournament.title %>
        - <%= tournament.organizer.shortname %> - <%= tournament.season.name %></h1>
      <h3><%= subtitle %></h3>
      <%= button_to('Edit', edit_tournament_path(tournament), method: :get, disabled: !current_user&.admin?, class: "btn btn-link") %>
    </div>
    <%- unless local_assigns[:drop_details].present? %>
      <div class="flex flex-wrap space-y-5  rounded shadow p-8">
        <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.title') %></h5><%= tournament.title %></div>
        <div class="w-3/12 mb-4 <%= "border-4 border-red-500" if tournament.discipline.blank? %> m-w-full pr-8">
          <h5><%= t('tournaments.show.discipline') %></h5><%= (custom_link_to(tournament.discipline.name, discipline_path(tournament.discipline)) if tournament.discipline.present?) %>
        </div>
        <% if tournament.modus.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.modus') %></h5><%= tournament.modus %></div>
        <% end %>
        <% if tournament.age_restriction.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.age_restriction') %></h5><%= tournament.age_restriction %></div>
        <% end %>
        <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.date') %></h5><%= tournament.date %></div>
        <div class="w-3/12 mb-4 m-w-full pr-8">
          <h5><%= t('activerecord.attributes.tournament.accredation_end') %></h5><%= tournament.accredation_end %></div>
        <div class="w-3/12 mb-4 m-w-full pr-8">
          <h5><%= t('activerecord.attributes.tournament.location') %></h5><%= custom_link_to tournament.location.display_address, location_path(tournament.location) if tournament.location.present? %>
        </div>
        <div class="w-3/12 mb-4 m-w-full pr-8">
          <h5><%= t('activerecord.attributes.tournament.season') %></h5><%= custom_link_to(tournament.season.name, season_path(tournament.season)) %>
        </div>
        <div class="w-3/12 mb-4 m-w-full pr-8">
          <h5><%= t('activerecord.attributes.tournament.organizer') %></h5><%= custom_link_to(tournament.organizer.name, tournament.organizer) %>
        </div>
        <% if tournament.end_date.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.end_date') %></h5><%= tournament.end_date %></div>
        <% end %>
        <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.shortname') %></h5><%= tournament.shortname %></div>
        <% if tournament.data.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.data') %></h5><%= tournament.data %></div>
        <% end %>
        <% if tournament.ba_state.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.ba_state') %></h5><%= tournament.ba_state %></div>
        <% end %>
        <% if tournament.player_class.present? %>
          <div class="w-3/12 <%= "border-4 border-red-500" if tournament.player_class.blank? %> mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.player_class') %></h5><%= tournament.player_class %></div>
        <% end %>
        <%- if tournament.tournament_plan.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= I18n.t("tournaments.show.final_tournament_mode") %></h5>
            <%= custom_link_to(tournament.tournament_plan.name, tournament_plan_path(tournament.tournament_plan)) %>
            : <%= tournament.tournament_plan.rulesystem %>
          </div>
        <%- end %>
        <% if tournament.innings_goal.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.innings_goal') %></h5><%= tournament.innings_goal %>
          </div>
        <% end %>
        <% if tournament.tournament_monitor.present? %>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.balls_goal') %></h5><%= tournament.balls_goal %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.timeouts') %></h5><%= tournament.timeouts %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.timeout') %></h5><%= tournament.timeout %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.handicap_tournier') %></h5><%= tournament.handicap_tournier %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.sets_to_win') %></h5><%= tournament.sets_to_win %>
          </div>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.sets_to_play') %></h5><%= tournament.sets_to_play %>
          </div>
          <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= t('activerecord.attributes.tournament.team_size') %></h5><%= tournament.team_size %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.kickoff_switches_with') %></h5><%= tournament.kickoff_switches_with %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.allow_follow_up') %></h5><%= tournament.allow_follow_up %></div>
          <div class="w-3/12 mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.fixed_display_left') %></h5><%= tournament.fixed_display_left.presence || "Kick-Off Player" %>
          </div>
          <div class="w-3/12 mb-4 m-w-full pr-8">
            <h5><%= t('activerecord.attributes.tournament.color_remains_with_set') %></h5><%= tournament.color_remains_with_set %></div>
        <% end %>
        <div class="w-3/12 mb-4 m-w-full pr-8">
          <h5><%= t('activerecord.attributes.tournament.source') %></h5><%= link_to_if tournament.source_url.present?, tournament.source_url.present? ? URI.parse(tournament.source_url).host : "", tournament.source_url, class: "green_link", target: :_blank %>
        </div>
        <div class="w-3/12 mb-4 m-w-full pr-8"><h5><%= "Last Sync:" %></h5><%= tournament.sync_date.andand.to_date %></div>
      </div>
      </div>
    <%- end %>
    </div>
