<div class=" rounded shadow table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :title, 'Title(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :discipline_id, 'Discipline(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :date, 'Date(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :accredation_end, 'Accredation end', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :location_text, 'Location Text', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :location_id, 'Location', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :cc_id, 'Cc(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :season_id, 'Season(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :region_id, 'Organizer(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :source_url, 'Source', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @tournaments, :sync_date, 'Sync Date', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-300 w-20"><%= t('actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @tournaments.includes(:discipline, :season ).each do |tournament| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to(tournament.title, tournament_path(tournament)) %></td>
        <td class="p-3"><%= (custom_link_to(tournament.discipline.name, discipline_path(tournament.discipline)) if tournament.discipline.present?) %></td>
        <td class="p-3"><%= tournament.date.andand.to_date %></td>
        <td class="p-3"><%= tournament.accredation_end.andand.to_date %></td>
        <td class="p-3"><%= tournament.location_text %></td>
        <td class="p-3"><%= custom_link_to tournament.location.display_address_short&.html_safe, location_path(tournament.location) if tournament.location.present? %></td>
        <td class="p-3"><%= custom_link_to(tournament.tournament_cc.cc_id, tournament_cc_path(tournament.tournament_cc)) if tournament.tournament_cc.present? %></td>
        <td class="p-3"><%= custom_link_to(tournament.season.name, season_path(tournament.season)) %></td>
        <td class="p-3"><%= custom_link_to(tournament.organizer.shortname, region_path(tournament.organizer)) %></td>
        <td class="p-3"><%= link_to_if tournament.source_url.present?, tournament.source_url.present? ? URI.parse(tournament.source_url).host : "", tournament.source_url, class: "green_link" %></td>
        <td class="p-3"><%= tournament.sync_date.andand.to_date %></td>

        <td>
          <%= custom_link_to t('view'), tournament, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.present? && @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject{|k,v| k == "table_only"})%>
    <%= pagy_nav(@pagy).html_safe %>
  </div>
<% end %>
