<div data-controller="tournament" class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex-col justify-between items-center mb-4">
      <%- if @tournament.team_size > 1 %>
        <h1 class="h3"><%= @tournament.title %> - <%= @tournament.season.name %>
          - <%= @tournament.organizer.shortname %>
          <br/>Teamliste</h1>
        <table>
          <thead>
          <tr>
            <th>Team</th>
            <th>Teilnahme</th>
            <th>Punktziel bzw. Ranking</th>
          </tr>
          </thead>
          <tbody>
          <%= custom_link_to "zurück", @tournament %>
          <%- @tournament.teams.each do |team| %>
            <%- seeding = @tournament.seedings.where(player_id: team.id).first %>
            <tr>
              <td><%= team.fullname %></td>
              <%= content_tag "td", class: "w-1/4", style: "text-align: center" do %>
                <%= check_box_tag "participate-#{team.id}", "1", seeding.present?, data: { reflex: "change->TournamentReflex#change_seeding", id: @tournament.id } %></td>
              <%- end %>
              <%= content_tag "td", id: "balls-wrapper-#{team.id}", class: "w-1/4", style: "text-align: right" do %>
                <%= number_field_tag("balls-#{team.id}", seeding.andand.balls_goal, data: { reflex: "change->TournamentReflex#change_point_goal", id: @tournament.id }, style: "#{seeding.present? ? "" : "display: none"}") %>
              <%- end %>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= custom_link_to "Neues Team", new_team_tournament_path %>
      <%- else %>
        <h1 class="h3"><%= @tournament.title %> - <%= @tournament.season.name %>
          - <%= @tournament.organizer.shortname %>
          - Teilnehmerliste</h1>
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Teilnehmer</th>
            <th>Punktziel</th>
          </tr>
          </thead>
          <tbody>
          <%= custom_link_to "zurück", @tournament %>
          <%- players = @tournament.organizer.is_a?(Region) ? Player.all.joins(:seedings).where(seedings: { tournament_id: @tournament.id }) : @tournament.organizer.season_participations.where(season: Season.current_season).map(&:player).compact %>
          <%- club_players = players.sort_by { |player| player.fl_name }.to_a %>
          <%- guest_players = @tournament.organizer.is_a?(Region) ? [] : @tournament.organizer.players.where(guest: true).order(:lastname).to_a %>
          <%# TODO - seedings on club tournaments not finalized !!%>
          <%- (club_players + guest_players).each do |player| %>
            <%- seeding = @tournament.seedings.where(player_id: player.id).first %>
            <tr>
              <td><%= player.fullname %></td>
              <%= content_tag "td", class: "w-1/4", style: "text-align: center" do %>
                <%= check_box_tag "participate-#{player.id}", "1", seeding.present?, data: { reflex: "change->TournamentReflex#change_seeding", id: @tournament.id } %></td>
              <%- end %>
              <%= content_tag "td", id: "balls-wrapper-#{player.id}", class: "w-1/4", style: "text-align: right" do %>
                <%= number_field_tag("balls-#{player.id}", seeding.andand.balls_goal, data: { reflex: "change->TournamentReflex#change_point_goal", id: @tournament.id }, style: "#{seeding.present? ? "" : "display: none"}") %>
              <%- end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <%- end %>
    </div>
  </div>
</div>
