<%- content_for :javascript_code do -%>
  <script>
      $(document).ready(function () {
          $('#tournaments').DataTable({
                  "stateSave": true,
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', {
                          extend: 'csvHtml5',
                          title: 'Tournaments'
                      }, {
                          extend: 'excelHtml5',
                          title: 'Tournaments'
                      }, {
                          extend: 'pdfHtml5',
                          title: 'Tournaments'
                      }, {
                          extend: 'print',
                          title: 'Tournaments'
                      }
                  ],
                  "sPaginationType": "full_numbers",
                  "bJQueryUI": true,
                  "aLengthMenu": [
                      [10, 50],
                      [10, 50]
                  ],
                  "iDisplayLength": 50,

                  "aaSorting": [[1, 'asc']],
                  "aoColumns": [
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      {"bSortable": false},
                  ],
                  oSearch: {"sSearch": "<%= params[:sSearch].andand.html_safe %>"},
                  bProcessing: true,
                  bServerSide: true,
                  sAjaxSource: $('#tournaments').data('source')
              }
          );
      });
  </script>
<%- end -%>
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>

<p id="notice"><%= notice %></p>

<h1>Listing Tournaments</h1>

<table id="tournaments" data-source="<%= tournaments_url(format: 'json') %>" width="100%" style="margin: 0px;">
  <thead>
  <tr>
    <%- Tournament::COLUMN_NAMES.keys.each do |column_name| %>
      <!--      TODO FILTERS-->
      <th><%= column_name %></th>
    <%- end %>
    <th width="90px"></th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
