<style>
    th, td {
        padding: 3px;
    }
</style>
<h1><%= @tournament.title %> - <%= @tournament.region.shortname %> - <%= @tournament.season.name %></h1>
<p>
  <strong>BA_ID:</strong>
  <%= link_to(@tournament.ba_id, "https://#{@tournament.region.shortname.downcase}.billardarea.de/cms_#{@tournament.single_or_league}/#{@tournament.plan_or_show}/#{@tournament.ba_id}") %>
</p>

<p>
  <strong>Region:</strong>
  <%= link_to(@tournament.region.name, region_path(@tournament.region)) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tournament.title %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= link_to(@tournament.discipline.name, discipline_path(@tournament.discipline_id)) %>
</p>

<p>
  <strong>Modus:</strong>
  <%= @tournament.modus %>
</p>

<p>
  <strong>Age restriction:</strong>
  <%= @tournament.age_restriction %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Accredation end:</strong>
  <%= @tournament.accredation_end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tournament.location %>
</p>

<p>
  <strong>Hosting club:</strong>
  <%= @tournament.hosting_club_id %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>

<h2>Rankings</h2>
<%- lists = @tournament.seedings.map { |s| s.remarks["result"].keys rescue [] }.inject([]) { |a, memo| memo |= a; memo } %>
<%- lists.each do |list| %>
  <h3><%= list %></h3>
  <table>
    <thead>
    <tr>
      <%- @tournament.seedings.select { |seeding| seeding.remarks["result"].andand[list].present? }.first.remarks["result"][list].keys.each do |k| %>
        <%- next if k == "Rank" %>
        <th><%= k %></th>
      <%- end %>
    </tr>
    </thead>
    <tbody>
    <%- @tournament.seedings.select { |seeding| seeding.remarks["result"].andand[list].present? }.sort_by { |seeding| seeding.remarks["result"][list]["#"].to_i }.each do |seeding| %>
      <tr>
        <%- seeding.remarks["result"][list].each do |k, v| %>
          <%- next if k == "Rank" %>
          <td><%= v %></td>
        <%- end %>
      </tr>
    <%- end %>
    </tbody>
  </table>
<% end %>

<h2>Games</h2>
<%- if @tournament.games.present? %>
<table>
  <thead>
  <tr>
    <%- @tournament.games.first.remarks.keys.each do |k| %>
      <th><%= k %></th>
    <%- end %>
  </tr>
  </thead>
  <tbody>
  <%- @tournament.games.each do |game| %>
    <tr>
      <%- game.remarks.each do |k, v| %>
        <td><%= v %></td>
      <%- end %>
    </tr>
  <%- end %>
  </tbody>
</table>
  <% end %>
<%- games = @tournament.games.order(seqno: :asc) %>
