<div class=" rounded shadow table-responsive">
  <table class="table">
    <% @party_ccs ||= records %>
    <% @pagy ||= pagy %>
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :cc_id,'Cc', params, class: 'text-gray-700' %></th>
<!--      <th class="p-3 uppercase text-left text-xs"><%#= sortable @party_ccs, :Ba_id,'Ba', params, class: 'text-gray-700' %></th>-->
      <%- unless @league_cc.present? %>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :league_cc_id,'League cc', params, class: 'text-gray-700' %></th>
      <%- end %>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :party_id,'Party', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :league_team_a_cc_id,'League team a cc', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :league_team_b_cc_id,'League team b cc', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :league_team_host_cc_id,'League team host cc', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :day_seqno,'Day seqno', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :remarks,'Remarks', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @party_ccs, :data,'Data', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @party_ccs.each do |party_cc| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to party_cc.cc_id, party_cc_path(party_cc) %></td>
<!--        <td class="p-3"><%#= custom_link_to party_cc.party.andand.ba_id, "https://#{party_cc.party.league.organizer.shortname.downcase}.billardarea.de/cms_leagues/matchday/#{party_cc.party.ba_id}", class: "yellow_link", target: :_blank %></td>-->
        <%- unless @league_cc.present? %>
          <td class="p-3"><%= custom_link_to "#{party_cc.league_cc.name}(#{party_cc.league_cc_id})", league_cc_path(party_cc.league_cc) %></td>
        <%- end %>
        <td class="p-3"><%= custom_link_to "#{party_cc.party.name}[#{party_cc.party_id}]", party_path(party_cc.party) %></td>
        <td class="p-3"><%= custom_link_to "#{party_cc.league_team_a_cc.name}(#{party_cc.league_team_a_cc_id})", league_team_cc_path(party_cc.league_team_a_cc) %></td>
        <td class="p-3"><%= custom_link_to "#{party_cc.league_team_b_cc.name}(#{party_cc.league_team_b_cc_id})", league_team_cc_path(party_cc.league_team_b_cc) %></td>
        <td class="p-3"><%= custom_link_to "#{party_cc.league_team_host_cc.name}(#{party_cc.league_team_host_cc_id})", league_team_cc_path(party_cc.league_team_host_cc) if party_cc.league_team_host_cc.present? %></td>
        <td class="p-3"><%= party_cc.day_seqno %></td>
        <td class="p-3"><%= party_cc.remarks %></td>
        <td class="p-3"><%= party_cc.data %></td>

        <td>
          <%= custom_link_to "View", party_cc, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.present? && @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
