<style>
    .card-deck .card {
        font-size: 1.3em;
        min-width: 220px;
        margin-left: 20px;
    }
    .card-deck {
        text-align: center !important;
        display: flex;
    }
    .card-deck .card a {
        line-height: 32px;
    }
</style>

<div class=container>
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.organisation", :default => "Organisation") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.country", :default => "Country"), countries_path %>
        <br/>
        <%= link_to I18n.t("home.index.region", :default => "Region"), regions_path %>
        <br/>
        <%= link_to I18n.t("home.index.club", :default => "Club"), clubs_path %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.tourniere", :default => "Tourniere") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.seeding", :default => "Seeding"), seedings_path %>
        <br/>
        <%= link_to I18n.t("home.index.tournament", :default => "Tournament"), tournaments_path %>
        <br/>
        <%= link_to I18n.t("home.index.club", :default => "Club"), clubs_path %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.spieler", :default => "Spieler") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.season", :default => "Season"), seasons_path %>
        <br/>
        <%= link_to I18n.t("home.index.seasonparticipation", :default => "SeasonParticipation"), season_participations_path %>
        <br/>
        <%= link_to I18n.t("home.index.player", :default => "Player"), players_path %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.partien", :default => "Partien") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.game", :default => "Game"), games_path %>
        <br/>
        <%= link_to I18n.t("home.index.gameparticipation", :default => "GameParticipation"), game_participations_path %>
        <br/>
        <%= link_to I18n.t("home.index.inning", :default => "Inning"), innings_path %>
      </div>
    </div>
  </div>
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.disziplinen", :default => "Disziplinen") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.discipline", :default => "Discipline"), disciplines_path %>
        <br/>
        <%= link_to I18n.t("home.index.table_kind", :default => "Table Kind"), table_kinds_path %>
        <br/>
        <%= link_to I18n.t("home.index.player_rankings", :default => "Player Rankings"), player_rankings_path %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.tournierplanung", :default => "Tournierplanung") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.disciplinetournamentplan", :default => "DisciplineTournamentPlan"), discipline_tournament_plans_path %>
        <br/>
        <%= link_to I18n.t("home.index.tournamentplan", :default => "TournamentPlan"), tournament_plans_path %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= I18n.t("home.index.tournierabwicklung", :default => "Tournierabwicklung") %>
      </div>
      <div class="card-body">
        <%= link_to I18n.t("home.index.tournamentmonitor", :default => "TournamentMonitor"), tournament_monitors_path %>
        <br/>
        <%= link_to I18n.t("home.index.tablemonitor", :default => "TableMonitor"), table_monitors_path %>
      </div>
    </div>
  </div>
</div>
