<%= form_for([namespace, page.resource], html: { class: "form" }) do |form| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.resource.errors.count, "error") %> prohibited this <%= page.resource_name %> from being saved:</h2>
      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= render "form_fields", form: form, page: page %>
  </div>

  <div class="form-actions">
    <%= render "form_actions", form: form, show_cancel: local_assigns.fetch(:show_cancel, true) %>
  </div>
<% end %> 