<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Settings', settings_path %> > Setting #<%= @setting.id %></h1>
      <%= button_to( 'Edit', edit_setting_path(@setting), disabled: !current_user&.admin?, class: "btn btn-link") %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Data</h5>
        <%= @setting.data %>
      </div>
            <div class="mb-4">
        <h5>State</h5>
        <%= @setting.state %>
      </div>
            <div class="mb-4">
        <h5>Region</h5>
        <%= @setting.region_id %>
      </div>
            <div class="mb-4">
        <h5>Club</h5>
        <%= @setting.club_id %>
      </div>
            <div class="mb-4">
        <h5>Tournament</h5>
        <%= @setting.tournament_id %>
      </div>
          </div>
  </div>
</div>
