<div class=" rounded shadow table-responsive">
  <table class="table">
    <% @competition_cc ||= records %>
    <% @pagy ||= defined?(pagy) ? pagy : nil %>
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @competition_ccs, :cc_id,'Cc', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @competition_ccs, :name,'Name', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @competition_ccs, :context,'Context', params, class: 'text-gray-700' %></th>
        <%- unless @competition_cc.present? %>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @competition_ccs, :branch_cc_id,'Branch cc', params, class: 'text-gray-700' %></th>
      <%- end %>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @competition_ccs, :discipline_id,'Discipline', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @competition_ccs.each do |competition_cc| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to competition_cc.cc_id, competition_cc_path(competition_cc) %></td>
        <td class="p-3"><%= competition_cc.name %></td>
        <td class="p-3"><%= competition_cc.context %></td>
        <%- unless @competition_cc.present? %>
          <td class="p-3"><%= link_to_if competition_cc.branch_cc.present?, "#{competition_cc.branch_cc.name}(#{competition_cc.branch_cc_id})", branch_cc_path(competition_cc.branch_cc) %></td>
        <%- end %>
        <td class="p-3"><%= custom_link_to "#{competition_cc.discipline.name}[#{competition_cc.discipline_id}]", discipline_path(competition_cc.discipline) %></td>

        <td>
          <%= custom_link_to "View", competition_cc, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.present? && @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
