<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Ion Modules', ion_modules_path %> > Ion Module #<%= @ion_module.id %></h1>
      <%= custom_link_to 'Edit', edit_ion_module_path(@ion_module), class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Module</h5>
        <%= @ion_module.module_id %>
      </div>
            <div class="mb-4">
        <h5>Ion content</h5>
        <%= @ion_module.ion_content_id %>
      </div>
            <div class="mb-4">
        <h5>Module type</h5>
        <%= @ion_module.module_type %>
      </div>
            <div class="mb-4">
        <h5>Position</h5>
        <%= @ion_module.position %>
      </div>
            <div class="mb-4">
        <h5>Html</h5>
        <%= @ion_module.html %>
      </div>
            <div class="mb-4">
        <h5>Data</h5>
        <%= @ion_module.data %>
      </div>
          </div>
  </div>
</div>
