<div id="<%= dom_id discipline_phase %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= discipline_phase.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Discipline</p>
    <%= discipline_phase.discipline_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Parent discipline</p>
    <%= discipline_phase.parent_discipline_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Position</p>
    <%= discipline_phase.position %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Data</p>
    <%= discipline_phase.data %>
  </div>
</div>
