<%- table_monitor = local_assigns[:table_monitor] %>
<div style="z-index:999; gap: 1.2vw; margin-top: 10px;" class="flex items-center justify-center mr-4 dark:bg-black text-gray-300 hover:text-black text-2vw text-center font-bold">
  <%- if table_monitor.playing? %>
    <%= content_tag "div", class: "responsive-svg focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg sm:icon-sm m-0 lg:m-0 inline-block #{table_monitor.can_undo? ? 'text-white dark:text-white hover:text-gray-300 cursor-pointer' : 'text-gray-500 dark:text-gray-500 cursor-not-allowed opacity-50'}", title: t('table_monitor.undo_tooltip', default: "Rückgängig"), data: { controller: "table-monitor", action: "click->table-monitor#undo", id: table_monitor.id }, id: "undo-button" do %>
      <%= render_svg "undo-red-400", styles: "fill-current" %>
    <%- end %>
  <%- end %>
  <%= custom_link_to toggle_dark_mode_table_monitor_path(table_monitor), :"data-turbo" => false do %>
    <%= fa_icon "circle-half-stroke", weight: "fa-solid", class: "responsive-svg focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg sm:icon-sm m-0 lg:m-0 dark:text-gray-300 text-gray-300 inline-block", title: "toggle dark mode" %>
  <% end %>
  <%= custom_link_to scoreboard_location_path(table_monitor.table.location.md5, sb_state: (table_monitor.tournament_monitor.present? ? "tournament_scores" : "table_scores"), :"data-turbo" => false) do %>
    <%= fa_icon "circle-info", weight: "fa-solid", class: "responsive-svg focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg sm:icon-sm m-0 lg:m-0 dark:text-gray-300 text-gray-300 inline-block", title: "tables overview" %>
  <% end %>
  <%= custom_link_to scoreboard_location_path(table_monitor.table.location.md5, sb_state: "welcome", :"data-turbo" => false) do %>
    <%= fa_icon "house", weight: "fa-solid", class: "responsive-svg focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current icon-lg sm:icon-sm m-0 lg:m-0 dark:text-gray-300 text-gray-300 inline-block", title: "home" %>
  <% end %>
  <%= custom_link_to "#", :onclick => "warning_mode()", :"data-turbo" => false do %>
    <%= fa_icon "delete-left", weight: "fa-solid", class: "responsive-svg focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg sm:icon-sm m-0 lg:m-0 dark:text-gray-300 text-gray-300 inline-block", title: "terminate" %>
  <% end %>
  <%- if table_monitor.playing? %>
    <%= content_tag "div", class: "responsive-svg focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg sm:icon-sm m-0 lg:m-0 inline-block #{table_monitor.can_redo? ? 'text-white dark:text-white hover:text-gray-300 cursor-pointer' : 'text-gray-500 dark:text-gray-500 cursor-not-allowed opacity-50'}", title: t('table_monitor.redo_tooltip', default: "Wiederholen"), data: { controller: "table-monitor", action: "click->table-monitor#redo", id: table_monitor.id }, id: "redo-button" do %>
      <%= render_svg "redo-red-400", styles: "fill-current" %>
    <%- end %>
  <%- end %>
</div>
