<%- table_monitor = local_assigns[:table_monitor] %>
<div class="menu-container grid grid-cols-5 gap-4 mr-4 dark:bg-black text-gray-300 hover:text-black text-2vw text-center font-bold">
  <%= custom_link_to table_monitor_path(table_monitor), :"data-turbo" => false do %>
    <%= render_svg "icons/refresh", class: "menu-icon", title: "refresh" %>
  <% end %>
  <%= custom_link_to toggle_dark_mode_table_monitor_path(table_monitor), :"data-turbo" => false do %>
    <%= render_svg "icons/adjust", class: "menu-icon", title: "toggle dark mode" %>
  <% end %>
  <%= custom_link_to scoreboard_location_path(table_monitor.table.location.md5, sb_state: (table_monitor.tournament_monitor.present? ? "tournament_scores" : "table_scores"), :"data-turbo" => false) do %>
    <%= render_svg "icons/information-outline", class: "menu-icon", title: "tables overview" %>
  <% end %>
  <%= custom_link_to scoreboard_location_path(table_monitor.table.location.md5, sb_state: "welcome", :"data-turbo" => false) do %>
    <%= render_svg "icons/home", class: "menu-icon", title: "home" %>
  <% end %>
  <%= custom_link_to "#", data: { action: "click->table-monitor#warningMode" }, :"data-turbo" => false do %>
    <%= render_svg "icons/backspace", class: "menu-icon", title: "terminate" %>
  <% end %>
</div>
