<style>
    .display-only .hide-on-display-only {
        display: none
    }

    .hide-on-display-only {
        display: grid
    }

    .display-only .show-on-display-only {
        display: grid
    }

    .show-on-display-only {
        display: none
    }
</style>
<%- table_monitor.get_options!(I18n.locale) %>
<%- options = table_monitor.options %>
<%- left_player = options[:current_left_player] == "playera" ? options[:player_a] : options[:player_b] %>
<%- right_player = options[:current_left_player] == "playera" ? options[:player_b] : options[:player_a] %>
<%- left_player_id = options[:current_left_player] == "playera" ? "playera" : "playerb" %>
<%- right_player_id = options[:current_left_player] == "playera" ? "playerb" : "playera" %>
<%- left_player_active = options[:current_left_player] == "playera" ? options[:player_a_active] : options[:player_b_active] %>
<%- right_player_active = options[:current_left_player] == "playera" ? options[:player_b_active] : options[:player_a_active] %>
<%- time_counter, green_bars, do_green_bars, do_yellow_bars, do_orange_bars, do_lightred_bars, do_red_bars = options[:timer_data] if fullscreen %>
<div class="fullscreen flex flex-col h-full  rounded shadow">
  <%- showing_timer_a = (left_player_active && table_monitor.playing? && table_monitor.timer_finish_at.present? && ((table_monitor.tournament_monitor.present? && table_monitor.tournament_monitor.timeout > 0) || table_monitor.tournament_monitor.blank? && table_monitor.data["timeout"] > 0)) ? "" : "hidden" %>
  <%- showing_timer_b = (right_player_active && table_monitor.playing? && table_monitor.timer_finish_at.present? && ((table_monitor.tournament_monitor.present? && table_monitor.tournament_monitor.timeout > 0) || table_monitor.tournament_monitor.blank? && table_monitor.data["timeout"] > 0)) ? "" : "hidden" %>
  <%- vw2 = fullscreen ? "2vw" : "1vw" %>
  <%- vw3 = fullscreen ? "3vw" : "1-5vw" %>
  <%- vw6 = fullscreen ? "6vw" : "3vw" %>
  <%- vw8 = fullscreen ? "8vw" : "4vw" %>
  <%- vw24 = fullscreen ? "24vw" : "12vw" %>
  <%- gps = table_monitor.gps %>
  <div class="flex <%= fullscreen ? "h-5/6" : "h-full w-full" %> bg-gray">
    <div class="w-2/5 <%= options[:current_left_color] == "yellow" ? "player_b dark:bg-black text-gray-800 dark:text-yellow-400" : "player_a  text-gray-800 dark:text-gray-200" %> dark:bg-black">
      <div class="flex h-1/6  dark:bg-black items-center">
        <div class="flex <%= "w-5/6" if options[:sets_to_play].to_i > 1 %>">
          <div class="p-2"><%= image_tag(left_player[:logo], class: "object-contain h-10 w-20") if left_player[:logo].present? %></div>
          <div class="flex-nowrap w-full text-right <%= "lg:pt-4" if table_monitor.tournament_monitor.andand.id.present? && left_player[:fullname].andand.length.to_i < 20 %> text-<%= vw3 %>"><%= left_player[:fullname] %></div>
        </div>
        <%- if options[:sets_to_play].to_i > 1 %>
          <div class="w-1/6 grid place-items-center border-solid font-bold text-<%= vw6 %> border-4">
            <%= options[:current_sets_a] %>
          </div>
        <%- end %>
      </div>
      <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#key_a", id: table_monitor.id, discipline: left_player[:discipline] }, class: "flex flex-col h-5/6 #{ options[:current_left_color] == "yellow" ? "bg-yellow-500" : "" } dark:bg-black border-solid #{ left_player_active ? "border-green-400 border-8" : "border-gray dark:border-gray-700 border-4" }", title: "playera", style: "letter-spacing: -5px;", id: "left", tabindex: 1, onclick: "console.time('key_a_click')" do %>
        <%- if !table_monitor.set_over? %>
          <div class="flex h-1/6">
            <div class="flex-1 text-left font-bold text-red-400">
              <div class="text-<%= vw8 %> p-4">
                <span class="inning-score" data-player="<%= left_player_id %>"><%= left_player_active ? table_monitor.data[left_player_id].andand["innings_redo_list"].andand[-1] : "" %></span>
              </div>
              <div class="text-<%= vw2 %>">
                <%- to_play = left_player[:balls_goal].to_i - (left_player[:result].to_i + Array(table_monitor.data[left_player_id].andand["innings_redo_list"])[-1].to_i) %>
                <%- if table_monitor.follow_up? && left_player_active && options[:allow_follow_up] %>
                  <div>Nachstoß</div>
                <%- end %>
                <%- if left_player[:balls_goal].to_i > 0 && left_player_active && to_play <= 3 %>
                  pour <%= to_play %>
                <%- end %>
                <%- if options[:innings_goal].to_i > 0 && left_player_active && (options[:innings_goal].to_i - left_player[:innings].to_i) == 1 %>
                  <%= t('last_inning').html_safe %>
                <%- end %>
              </div>
            </div>
            <div class="flex flex-col flex-1 text-right text-gray-500 text-<%= vw3 %>">
              <div class="flex-1 mb-1 goal" data-player="<%= left_player_id %>">
                <%= t('goal') %>: <%= s = left_player[:balls_goal].to_i; s > 0 ? s : "no limit" %>
              </div>
              <% unless table_monitor.discipline == "Biathlon" %>
                <div class="flex-1 mb-1"><%= t('gd') %>: <%= left_player[:gd] %></div>
                <div class="flex-1">HS: <%= left_player[:hs] %></div>
              <%- end %>
              <div class="flex-1">
                <%- (1..options[:timeouts].to_i).each do |i| %>
                  <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{left_player[:tc].to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                <%- end %>
              </div>
            </div>
          </div>
          <%= content_tag "div", class: "flex h-4/6 text-center text-#{vw24} justify-center items-center font-bold score-display", style: "letter-spacing: -5px;", data: { player: left_player_id, score: left_player[:result].to_i + table_monitor.data[left_player_id].andand["innings_redo_list"].andand[-1].to_i } do %>
            <span class="main-score" data-player="<%= left_player_id %>"><%= left_player[:result].to_i + table_monitor.data[left_player_id].andand["innings_redo_list"].andand[-1].to_i %></span>
          <%- end %>
          <%- if fullscreen %>
            <%- if showing_timer_a.blank? %>
              <div class="hide-on-display-only">
                <div class="flex flex-1 flex-col">
                  <div class="flex flex-1 flex-row items-center <%= showing_timer_a %>" id="timer_table_monitor_<%= showing_timer_a %><%= table_monitor.id %>">
                    <div class="w-1/6 font-bold text-4vw p-2"><%= time_counter %></div>
                    <div class="flex flex-1 flex-row w-5/6">
                      <div class="flex text-<%= vw6 %> font-bold text-green-400"><%= "I" * green_bars.to_i %></div>
                      <div class="flex text-<%= vw6 %> font-bold text-red-400"><%= "I" * (18 - green_bars.to_i) %></div>
                    </div>
                  </div>
                </div>
              </div>
            <%- else %>
              <div class="flex h-1/6 w-full flex-row">
                <%- innings_str = table_monitor.render_last_innings(60, gps&.dig(0)&.role) %>
                <div class="flex w-full items-end justify-end text-gray-500 text-<%= innings_str.length > 250 ? '1.5' : '2' %>vw p-2 flex-wrap">
                  <%= innings_str %>
                </div>
              </div>
            <%- end %>
          <%- end %>
        <%- else %>
          <%= table_monitor.render_innings_list(gps&.dig(0)&.role) %>
        <%- end %>
      <%- end %>
    </div>
    <div class="w-1/5 bg-grey">
      <div class="flex flex-col h-1/6  dark:bg-black">
        <%- if fullscreen %>
          <%- unless table_monitor.warmup_modal_should_be_open? || table_monitor.shootout_modal_should_be_open? || table_monitor.numbers_modal_should_be_open? %>
            <%= render partial: 'table_monitors/menu', locals: { table_monitor: table_monitor } %>
          <%- end %>
        <%- end %>
        <%- if table_monitor.state_display(I18n.locale).present? %>
          <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#force_next_state", id: table_monitor.id }, id: "game_state", class: "flex flex-col h-1/6 items-center font-bold text-red-400 text-#{vw2}
          text-center dark:bg-black" do %>
            <%= table_monitor.state_display(I18n.locale) %>
          <%- end %>
          <div id=clock class="hidden  dark:bg-black text-gray-500 dark:text-gray-300 hover:text-black text-<%= vw2 %> text-center"></div>
        <%- else %>
          <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#force_next_state", id: table_monitor.id }, id: "game_state", class: "flex flex-col h-1/6 items-center font-bold text-red-400 text-#{vw2}
        text-center dark:bg-black" do %>
          <%- end %>
          <div id=clock class=" dark:bg-black text-gray-500 dark:text-gray-300 hover:text-black text-<%= vw2 %> text-center"></div>
        <%- end %>
      </div>
      <%= content_tag "div", id: "game_state", class: "flex flex-col h-5/6 dark:text-gray-200 bg-gray-100 dark:bg-black" do %>
        <div class="flex flex-col h-2/6" tabindex="3" id="pointer_mode">
          <% delta = table_monitor.state_display(I18n.locale).present? ? 0 : 1 %>
          <div class="h-5/6 p-4 text-<%= vw8 %> font-bold text-center"><%= options[:current_kickoff_player] == 'playera' ? right_player[:innings].to_i + delta : left_player[:innings].to_i + delta %></div>
          <%- unless (table_monitor.tournament_monitor.is_a?(TournamentMonitor) && table_monitor.tournament_monitor.andand.tournament.andand.handicap_tournier?) || options[:innings_goal].to_i == 0 %>
            <div class="h-1/6 items-center text-<%= vw2 %> justify-center text-center"><%= t('of') %> <%= options[:innings_goal].to_i %></div>
          <%- end %>
        </div>
        <div class="flex flex-col h-3/6  dark:bg-black p-4 items-center ">
          <div class="flex flex-1 items-center font-bold text-center text-<%= vw2 %>"><%= options[:tournament_title] %></div>
          <div class="flex flex-1 mt-2 mb-2 items-center text-center text-<%= vw2 %>"><%= options[:player_a].andand[:discipline] %><%= "#{"/3B" if table_monitor.data["biathlon_phase"] == "3b"}#{"/5K" if table_monitor.data["biathlon_phase"] == "5k"}" %></div>
          <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= options[:name] %></div>
          <%- if options[:current_round].present? %>
            <div class="flex flex-1 items-center text-center text-<%= vw2 %>">Runde <%= options[:current_round] %></div>
          <%- end %>
          <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= options[:game_name] %></div>
          <%- if options[:sets_to_win].to_i > 1 %>
            <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= "#{options[:sets_to_win].to_i} Gewinnsätze" %></div>
          <%- end %>
          <%- if options[:sets_to_play].to_i > 1 %>
            <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= "maximal #{options[:sets_to_play].to_i} Sätze" %></div>
          <%- end %>

          <%- unless options[:allow_follow_up] %>
            <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= "Kein Nachstoß" if false %></div>
          <%- end %>
          <%- if table_monitor.discipline == "Biathlon" %>
            <%- if table_monitor.data["biathlon_phase"] == "5k" %>
              <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= "3B-Ergebnis:<br/>#{table_monitor.data['playera']['result_3b']}(#{table_monitor.data['playera']['result_3b'] * 6}) / #{table_monitor.data['playerb']['result_3b']}(#{table_monitor.data['playerb']['result_3b'] * 6})".html_safe %></div>
            <%- end %>
          <%- end %>
        </div>
        <%- if table_monitor.state_display(I18n.locale).present? %>
          <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#undo", id: table_monitor.id }, id: "game_state", class: "flex flex-col h-1/6 items-center font-bold text-red-400 text-#{vw2}
          text-center dark:bg-black" do %>
            <%= "zurück" %>
          <%- end %>
        <%- end %>
        <div class="flex flex-col items-center h-1/6">
          <div class="flex h-2/3 flex-row space-x-3 rounded-full">
            <%- if table_monitor.playing? && options[:timeout].to_i > 0 %>
              <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#stop", id: table_monitor.id }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{"hidden" if table_monitor.timer_finish_at.blank?}", title: "Stop", style: "letter-spacing: -5px;", id: "stop", tabindex: 11 do %>
                <%= render_svg "icons/287-stop2", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
              <%- end %>
              <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#timeout", id: table_monitor.id }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{"hidden" if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}", title: "TimeOut", style: "letter-spacing: -5px;", id: "timeout", tabindex: 11 do %>
                <%= render_svg "icons/timer", styles: "svg-red fill-current icon-lg text-red-400 inline-block" %>
              <%- end %>
              <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#pause", id: table_monitor.id }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none  bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{"hidden" if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}", title: "Pause", style: "letter-spacing: -5px;", id: "pause", tabindex: 11 do %>
                <%= render_svg "icons/286-pause2", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
              <%- end %>
              <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#play", id: table_monitor.id }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{"hidden" if table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.blank?}", title: "Play", style: "letter-spacing: -5px;", id: "play", tabindex: 11 do %>
                <%= render_svg "icons/285-play3", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
              <%- end %>
            <%- end %>
          </div>
          <div class="flex h-1/3 font-bold text-<%= vw2 %> text-red-500"><%= "Halted" if table_monitor.timer_halt_at.present? %></div>
        </div>
      <%- end %>
    </div>
    <div class="w-2/5 <%= options[:current_left_color] == "white" ? "player_b dark:bg-black  dark:text-yellow-400" : "player_a text-gray-200 bg-yellow-500" %> dark:bg-black">
      <div class="flex h-1/6  dark:bg-black items-center">
        <%- if options[:sets_to_play].to_i > 1 %>
          <div class="w-1/6 grid place-items-center border-solid font-bold text-<%= vw6 %> border-4">
            <div><%= options[:current_sets_b] %></div>
          </div>
        <%- end %>
        <div class="flex <%= "w-5/6" if options[:sets_to_play].to_i > 1 %>">
          <div class="p-2 w-30"><%= image_tag(right_player[:logo], class: "object-contain h-10 w-20") if right_player[:logo].present? %></div>
          <div class="flex-nowrap w-full mr-4 text-right <%= "lg:pt-4" if table_monitor.tournament_monitor.andand.id.present? && right_player[:fullname].andand.length.to_i < 20 %> text-<%= vw3 %>"><%= right_player[:fullname] %></div>
        </div>
      </div>
      <%= content_tag "div", data: { controller: "tabmon", action: "click->tabmon#key_b", id: table_monitor.id, discipline: right_player[:discipline] }, class: "flex flex-col h-5/6 #{options[:current_left_color] == "white" ? "bg-yellow-500" : ""} dark:bg-black border-solid #{ right_player_active ? "border-green-400 border-8" : "border-gray dark:border-gray-700 border-4" }", title: "playerb", style: "letter-spacing: -5px;", id: "right", tabindex: 1, onclick: "console.time('key_b_click')" do %>
        <%- if !table_monitor.set_over? %>
          <div class="flex h-1/6">
            <div class="flex flex-col flex-1 text-left text-gray-500 text-<%= vw3 %>">
              <div class="flex-1 mb-1 goal" data-player="<%= right_player_id %>">
                <%= t('goal') %>: <%= s = right_player[:balls_goal].to_i; s > 0 ? s : "no limit" %>
              </div>
              <% unless table_monitor.discipline == "Biathlon" %>
                <div class="flex-1 mb-1"><%= t('gd') %>: <%= right_player[:gd] %></div>
                <div class="flex-1"> HS: <%= right_player[:hs] %></div>
              <%- end %>
              <div class="flex-1">
                <%- (1..options[:timeouts].to_i).each do |i| %>
                  <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{right_player[:tc].to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                <%- end %>
              </div>
            </div>
            <div class="flex-1 text-right font-bold text-red-400">
              <div class="text-<%= vw8 %> p-4">
                <span class="inning-score" data-player="<%= right_player_id %>"><%= right_player_active ? table_monitor.data[right_player_id].andand["innings_redo_list"].andand[-1] : "" %></span>
              </div>
              <div class="text-<%= vw2 %>">
                <%- to_play = right_player[:balls_goal].to_i > 0 ? right_player[:balls_goal].to_i - (right_player[:result].to_i + Array(table_monitor.data[right_player_id].andand["innings_redo_list"])[-1].to_i) : 9999 %>
                <%- if table_monitor.follow_up? && right_player_active && options[:allow_follow_up] %>
                  <div>Nachstoß</div>
                <%- end %>
                <%- if right_player[:balls_goal].to_i > 0 && right_player_active && to_play <= 3 %>
                  pour <%= to_play %>
                <%- end %>
              </div>
            </div>
          </div>
          <%= content_tag "div", class: "flex h-4/6 text-center text-#{vw24} justify-center items-center font-bold score-display", title: "playerb", style:
            "letter-spacing: -5px;", tabindex: 1, data: { player: right_player_id, score: right_player[:result].to_i + table_monitor.data[right_player_id].andand["innings_redo_list"].andand[-1].to_i } do %>
            <%- if options['free_game_form'] == 'pool' && left_player["discipline"] != "14.1 endlos" %>
              <%= options["current_sets_b"] %>
            <%- else %>
              <span class="main-score" data-player="<%= right_player_id %>"><%= right_player[:result].to_i + table_monitor.data[right_player_id].andand["innings_redo_list"].andand[-1].to_i %></span>
            <%- end %>
          <%- end %>
          <%- if fullscreen %>
            <%- if showing_timer_b.blank? %>
              <div class="hide-on-display-only">
                <div class="flex flex-1 flex-col">
                  <div class="flex flex-1 flex-row items-center <%= showing_timer_b %>" id="timer_table_monitor_<%= showing_timer_b %><%= table_monitor.id %>">
                    <div class="w-1/6 font-bold text-4vw p-2"><%= time_counter %></div>
                    <div class="flex flex-1 flex-row w-5/6">
                      <div class="flex text-<%= vw6 %> font-bold text-green-400"><%= "I" * green_bars.to_i %></div>
                      <div class="flex text-<%= vw6 %> font-bold text-red-400"><%= "I" * (18 - green_bars.to_i) %></div>
                    </div>
                  </div>
                </div>
              </div>
            <%- else %>
              <div class="flex h-1/6 w-full flex-row">
                <%- innings_str = table_monitor.render_last_innings(60, gps&.dig(1)&.role) %>
                <div class="flex w-full items-end justify-end text-gray-500 text-<%= innings_str.length > 250 ? '1.5' : '2' %>vw p-2 flex-wrap">
                  <%= innings_str %>
                </div>
              </div>
            <%- end %>
          <%- end %>
        <% else %>
          <%= table_monitor.render_innings_list(gps&.dig(1)&.role) %>
        <% end %>
      <% end %>
    </div>
  </div>



  <%- if fullscreen %>
    <%- showing_timer = if showing_timer_a.blank?
                          showing_timer_a
                        else
                          showing_timer_b.blank? ? showing_timer_b : "hidden"
                        end %>
    <div class="show-on-display-only flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_new_table_monitor_<%= table_monitor.id %>">
      <div class="w-1/12 font-bold text-center text-4vw p-2"><%= time_counter %></div>
      <div class="flex flex-1 justify-end mr-10 flex-row w-11/12">
        <div class="flex text-<%= vw6 %> font-bold text-green-400"><%= "I" * do_green_bars.to_i %></div>
        <div class="flex text-<%= vw6 %> font-bold text-yellow-200"><%= "I" * do_yellow_bars.to_i %></div>
        <div class="flex text-<%= vw6 %> font-bold text-yellow-400"><%= "I" * do_orange_bars.to_i %></div>
        <div class="flex text-<%= vw6 %> font-bold text-red-400"><%= "I" * do_lightred_bars.to_i %></div>
        <div class="flex text-<%= vw6 %> font-bold text-red-600"><%= "I" * do_red_bars.to_i %></div>
      </div>
    </div>
    <div class="controls dark:bg-black overflow-hidden hide-on-display-only h-1/6 grid grid-cols-9 gap-1">
      <%- if table_monitor.playing? %>
        <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-blue-50 dark:bg-black hover:bg-gray-300 dark:text-blue-400 text-blue-600", title: "Spielprotokoll", data: { reflex: "click->GameProtocolReflex#open_protocol", id: table_monitor.id }, id: "game-protocol-button", tabindex: 2 do %>
          <%= render_svg "icons/clipboard", styles: "fill-current icon-2xl inline-block" %>
        <%- end %>
        <%- if options[:player_a].andand[:discipline] == "4 Ball" %>
          <div class="flex flex-1 justify-center">
            <%= content_tag "div", class: "flex overflow-hidden  pb-1 hover:scale-125 mt-2 mr-2 w-20 h-20", title: "Add 1 to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 1, id: table_monitor.id }, id: "add_one", tabindex: 2 do %>
              <%= image_tag "4-ball-1.png", class: "h-auto" %>
            <%- end %>
          </div>
          <div class="flex flex-1 justify-center">
            <%= content_tag "div", class: "flex overflow-hidden pb-1 hover:scale-125 mt-2 mr-2 w-20 h-20", title: "Add 4 to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 4, id: table_monitor.id }, id: "add_four", tabindex: 2 do %>
              <%= image_tag "4-ball-4.png", class: "h-auto" %>
            <%- end %>
          </div>
          <div class="flex flex-1 justify-center">
            <%= content_tag "div", class: "flex overflow-hidden pb-1 hover:scale-125 mt-2 mr-2 w-20 h-20", title: "Add 20 to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 20, id: table_monitor.id }, id: "add_twenty", tabindex: 2 do %>
              <%= image_tag "4-ball-20.png", class: "h-auto" %>
            <%- end %>
          </div>
        <%- else %>
          <%- if options[:player_a].andand[:discipline] == "Eurokegel" %>
            <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-black hover:bg-gray-300 dark:text-red-400 text-red-400", title: "Subtract two from current Inning", data: { controller: "tabmon", action: "click->tabmon#minus_n", n: 2, id: table_monitor.id }, id: "minus_two", tabindex: 2 do %>
              -2
            <%- end %>
            <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-black hover:bg-gray-300 dark:text-red-400 text-red-400", title: "Subtract four from current Inning", data: { controller: "tabmon", action: "click->tabmon#minus_n", n: 4, id: table_monitor.id }, id: "minus_four", tabindex: 2 do %>
              -4
            <%- end %>
          <%- else %>
            <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-black hover:bg-gray-300 dark:text-red-400 text-red-400", title: "Subtract one from current Inning", data: { controller: "tabmon", action: "click->tabmon#minus_n", n: 1, id: table_monitor.id }, id: "minus_one", tabindex: 2 do %>
              -1
            <%- end %>
            <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-black hover:bg-gray-300 dark:text-red-400 text-red-400", title: "Subtract five from current Inning", data: { controller: "tabmon", action: "click->tabmon#minus_n", n: 5, id: table_monitor.id }, id: "minus_five", tabindex: 2 do %>
              -5
            <%- end %>
          <%- end %>
          <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-black hover:bg-gray-300 dark:text-red-400 text-red-400", title: "Subtract ten from current Inning", data: { controller: "tabmon", action: "click->tabmon#minus_n", n: 10, id: table_monitor.id }, id: "minus_ten", tabindex: 2 do %>
            -10
          <%- end %>
        <%- end %>
        <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 dark:text_blue_400 text-blue-400", title: "Change Players", style: "letter-spacing: -5px;", data: { controller: "tabmon", action: "click->tabmon#next_step", id: table_monitor.id }, id: "next_step", tabindex: 2 do %>
          <%= render_svg "icons/exchange", styles: "svg-red fill-current icon-2xl text-gray-400 inline-block" %>
        <%- end %>
        <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400", title: "Add ten to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 10, id: table_monitor.id }, id: "add_ten", tabindex: 2 do %>
          +10
        <%- end %>
        <%- if options[:player_a].andand[:discipline] == "Eurokegel" %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400", title: "Add four to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 4, id: table_monitor.id }, id: "add_four", tabindex: 2 do %>
            +4
          <%- end %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400", title: "Add two to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 2, id: table_monitor.id }, id: "add_two", tabindex: 2 do %>
            +2
          <%- end %>
        <%- else %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400", title: "Add five to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 5, id: table_monitor.id }, id: "add_five", tabindex: 2 do %>
            +5
          <%- end %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400", title: "Add one to current Inning", data: { controller: "tabmon", action: "click->tabmon#add_n", n: 1, id: table_monitor.id }, id: "add_one", tabindex: 2 do %>
            +1
          <%- end %>
        <%- end %>
        <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400", title: "number popup", data: { controller: "tabmon", action: "click->tabmon#numbers", id: table_monitor.id }, id: "numbers", tabindex: 2 do %>
          <%= render_svg "icons/calculator", styles: "svg-red fill-current icon-2xl text-gray-400 inline-block" %>
        <%- end %>
      <%- end %>
  <%- end %>
  </div>
</div>
