<!--encoding: utf-8-->
<%- if table_monitor.andand.reload.present? %>
  <%- tid = table_monitor.id %>
  <%- Rails.logger.info "tam _show !!!!!!!!!!!!!!!!!!!!!!!!!!!!! #{tid} !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" %>
  <%- table_monitor.get_options!(I18n.locale) %>
  <%- options = table_monitor.options %>
  <%- Rails.logger.info "++++++ SHOW #{options.inspect}" if Rails.env != "production" %>
  <%- options[:timer_data] = table_monitor.get_progress_bar_status(18) %>
  <%- if full_screen %>
    <%- if table_monitor.warmup_modal_should_be_open? %>
      <%= render partial: "table_monitors/warmup",
                 locals: {
                   modal_hidden: !table_monitor.warmup_modal_should_be_open?,
                   full_screen: full_screen,
                   table_monitor: table_monitor },
                 layout: "layouts/application"
      %>
    <%- end %>
    <%- if table_monitor.shootout_modal_should_be_open? %>
      <%= render partial: "table_monitors/shootout",
                 locals: {
                   options: options,
                   table_monitor: table_monitor,
                   full_screen: full_screen,
                   modal_hidden: !table_monitor.shootout_modal_should_be_open?
                 },
                 layout: "layouts/application"
      %>
    <%- end %>
    <%- if table_monitor.numbers_modal_should_be_open? %>
      <%= render partial: "table_monitors/numbers",
                 locals: {
                   options: options,
                   table_monitor: table_monitor,
                   full_screen: full_screen,
                   modal_hidden: !table_monitor.numbers_modal_should_be_open?
                 },
                 layout: "layouts/application"
      %>
    <%- end %>
    <div id="protocol-modal-container-<%= table_monitor.id %>">
      <%- if table_monitor.protocol_modal_should_be_open? %>
        <%= render partial: "table_monitors/game_protocol_modal",
                   locals: {
                     table_monitor: table_monitor,
                     full_screen: full_screen,
                     modal_hidden: !table_monitor.protocol_modal_should_be_open?
                   } %>
      <%- end %>
    </div>
  <%- end %>
  <%= content_tag "div", id: "panel_state", panel_state: table_monitor.panel_state, style: "display: none" do %>
    <%= table_monitor.panel_state %>
  <%- end %>
  <%= content_tag "div", id: "current_element", current_element: table_monitor.current_element, style: "display: none" do %>
    <%= table_monitor.current_element %>
  <%- end %>
  <%= content_tag "div", id: "previous_panel", previous_panel: "pointer_mode", style: "display: none" do %>
    <%= "pointer_mode" %>
  <%- end %>
  <%= content_tag "div", id: "previous_element", previous_element: "pointer_mode", style: "display: none" do %>
    <%= "pointer_mode" %>
  <%- end %>
  <%- if options.present? %>
    <%- args = {
      options: options,
      table_monitor: table_monitor,
      left_player: options[:current_left_player] == "playera" ? options[:player_a] : options[:player_b],
      right_player: options[:current_left_player] == "playera" ? options[:player_b] : options[:player_a],
      left_player_id: options[:current_left_player] == "playera" ? "playera" : "playerb",
      right_player_id: options[:current_left_player] == "playera" ? "playerb" : "playera",
      left_player_active: options[:current_left_player] == "playera" ? options[:player_a_active] : options[:player_b_active],
      right_player_active: options[:current_left_player] == "playera" ? options[:player_b_active] : options[:player_a_active],
    } %>
    <%= render partial: 'table_monitors/scoreboard', locals: args.merge(fullscreen: full_screen) %>
  <%- end %>
<%- end %>
