<!--encoding: utf-8-->
<%- if table_monitor.andand.reload.present? %>
  <%- tid = table_monitor.id %>
  <%- Rails.logger.info "tam _show_bk2_kombi !!!!!!!!!!!!!!!!!!!!!!!!!!!!! #{tid} !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" %>
  <%-
    # Use passed-in options if available (from job with snapshot), otherwise get fresh.
    # This prevents race conditions when multiple jobs render simultaneously.
    unless local_assigns[:options].present?
      table_monitor.get_options!(I18n.locale)
      options = table_monitor.options
    end
    options[:timer_data] = table_monitor.get_progress_bar_status(18)
  %>

  <div id="protocol-modal-container-<%= table_monitor.id %>">
    <%- if table_monitor.protocol_modal_should_be_open? %>
      <%= render partial: "table_monitors/game_protocol_modal",
                 locals: {
                   table_monitor: table_monitor,
                   full_screen: full_screen,
                   modal_hidden: !table_monitor.protocol_modal_should_be_open?
                 } %>
    <%- end %>
  </div>

  <%= content_tag "div", id: "panel_state", panel_state: table_monitor.panel_state, style: "display: none" do %>
    <%= table_monitor.panel_state %>
  <%- end %>
  <%= content_tag "div", id: "current_element", current_element: table_monitor.current_element, style: "display: none" do %>
    <%= table_monitor.current_element %>
  <%- end %>

  <%= render partial: "table_monitors/scoreboard_bk2_kombi",
             locals: {
               table_monitor: table_monitor,
               options: options,
               full_screen: full_screen
             } %>
<%- end %>
