<%- if table_monitor.andand.reload.present? %>
  <%- time_counter, green_bars = table_monitor.get_progress_bar_status(18) %>
  <%- gps = table_monitor.game.andand.game_participations.andand.order(:role).to_a %>
  <%- options = {
    id: table_monitor.id,
    name: table_monitor.name,
    game_name: table_monitor.game.andand.display_gname,
    tournament_title: table_monitor.andand.tournament_monitor.andand.tournament.andand.title || t('training_game'),
    current_round: table_monitor.tournament_monitor.andand.current_round,
    timeout: table_monitor.tournament_monitor.andand.timeout || table_monitor.data["timeout"].to_i,
    timeouts: table_monitor.tournament_monitor.andand.timeouts || table_monitor.data["timeouts"].to_i,
    innings_goal: table_monitor.data["innings_goal"].to_i,
    switch_colors: table_monitor.data["switch_colors"].present?,
    active_timer: table_monitor.active_timer,
    start_at: table_monitor.timer_start_at,
    finish_at: table_monitor.timer_finish_at,
    player_a_active: table_monitor.playing_game? && (table_monitor.data["current_inning"].andand["active_player"] == gps[0].andand.role),
    player_b_active: table_monitor.playing_game? && (table_monitor.data["current_inning"].andand["active_player"] == gps[1].andand.role),
    player_a: {
      logo: gps[0].andand.player.andand.club.andand.logo,
      fullname: table_monitor.tournament_monitor_id.present? ? gps[0].andand.player.andand.fullname : gps[0].andand.player.andand.simple_firstname,
      balls_goal: table_monitor.data[gps[0].andand.role].andand["balls_goal"].to_i,
      result: table_monitor.data[gps[0].andand.role].andand["result"].to_i,
      hs: table_monitor.data[gps[0].andand.role].andand["hs"].to_i,
      gd: table_monitor.data[gps[0].andand.role].andand["gd"],
      innings: table_monitor.data[gps[0].andand.role].andand["innings"].to_i,
      tc: table_monitor.data[gps[0].andand.role].andand["tc"].to_i
    },
    player_b: {
      logo: gps[1].andand.player.andand.club.andand.logo,
      fullname: table_monitor.tournament_monitor_id.present? ? gps[1].andand.player.andand.fullname : gps[1].andand.player.andand.simple_firstname,
      balls_goal: table_monitor.data[gps[1].andand.role].andand["balls_goal"].to_i,
      result: table_monitor.data[gps[1].andand.role].andand["result"].to_i,
      hs: table_monitor.data[gps[1].andand.role].andand["hs"].to_i,
      gd: table_monitor.data[gps[1].andand.role].andand["gd"],
      innings: table_monitor.data[gps[1].andand.role].andand["innings"].to_i,
      tc: table_monitor.data[gps[1].andand.role].andand["tc"].to_i
    },
    current_inning: {
      balls: table_monitor.data["current_inning"].andand["balls"].to_i
    }
  } %>
  <%- if full_screen %>
    <%- if table_monitor.setup_modal_should_be_open? %>
      <%= render partial: "table_monitors/game_setup",
                 locals: {
                   modal_hidden: !table_monitor.setup_modal_should_be_open?,
                   full_screen: full_screen,
                   table_monitor: table_monitor },
                 formats: :modal,
                 layout: "layouts/application"
      %>
    <%- end %>
    <%- if table_monitor.shootout_modal_should_be_open? %>
      <%= render partial: "table_monitors/shootout", locals: { table_monitor: table_monitor,
                                                               full_screen: full_screen,
                                                               modal_hidden: !table_monitor.shootout_modal_should_be_open? },
                 formats: :modal,
                 layout: "layouts/application"
      %>
    <%- end %>
    <%- if table_monitor.numbers_modal_should_be_open? %>
      <%= render partial: "table_monitors/numbers", locals: { table_monitor: table_monitor,
                                                              full_screen: full_screen,
                                                              modal_hidden: !table_monitor.numbers_modal_should_be_open? },
                 formats: :modal,
                 layout: "layouts/application"
      %>
    <%- end %>
  <%- end %>
  <%= content_tag "div", id: "panel_state", panel_state: table_monitor.panel_state, style: "display: none" do %>
    <%= table_monitor.panel_state %>
  <%- end %>
  <%= content_tag "div", id: "current_element", current_element: table_monitor.current_element, style: "display: none" do %>
    <%= table_monitor.current_element %>
  <%- end %>
  <%= content_tag "div", id: "previous_panel", previous_panel: "pointer_mode", style: "display: none" do %>
    <%= "pointer_mode" %>
  <%- end %>
  <%= content_tag "div", id: "previous_element", previous_element: "pointer_mode", style: "display: none" do %>
    <%= "pointer_mode" %>
  <%- end %>
  <div class="hidden opacity-50 fixed inset-0 z-100 bg-black" id="modal-confirm-back-bg"></div>
  <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-110 outline-none focus:outline-none justify-center items-center" id="modal-confirm-back">
    <div id="table_monitor_modal_setup__2<%= table_monitor.id %>" class="border-2 border-white rounded-lg shadow-lg relative flex flex-col h-1/2 w-3/5 dark:bg-black bg-white outline-none focus:outline-none">
      <div class="flex flex-col justify-center items-center">
        <%= render_svg "icons/warning-sign-svgrepo-com", styles: "flex fill-current lg:m-5 h-12 lg:h-24 w-12 lg:w-24", title: "e.g. reg:nordd wedel" %>
        <h1 class="text-3vw mb-5"><%= t('warning') %></h1>
        <p class="text-2vw text-center"> <%= t('leaving_game') %> </p>
        <%- if table_monitor.tournament_monitor.blank? %>
          <p class="text-2vw text-center"><%= t('may_loose_results') %></p>
        <%- end %>
        <div class="flex flex-row pt-5 space-x-10">
          <%= link_to "Home", scoreboard_location_path(table_monitor.table.location.md5, sb_state: "welcome", :"data-turbolinks" => false), data: { turbolinks: false }, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary text-2vw", id: "ok", tabindex: "1" %>
          <%- unless table_monitor.tournament_monitor.present? #&& !table_monitor.end_result?%>
            <%= link_to t("cancel_game"), location_path(table_monitor.table.location, sb_state: "tables", terminate_game_id: table_monitor.game_id), data: { turbolinks: false }, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary text-2vw", id: "terminate", tabindex: "1" %>
          <%- end %>
          <%= link_to t('continue'), "javascript:unset_warning_modal()", data: { turbolinks: false }, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary text-2vw", id: "cancel", tabindex: "1" %>
        </div>
      </div>
    </div>
  </div>
  <%- if full_screen %>
    <div class="fullscreen flex flex-col h-full bg-white dark:bg-black rounded shadow">
      <div class="flex h-5/6 bg-gray-200">
        <div class="player_a w-2/5 <%= options[:switch_colors] ? "dark:bg-black bg-yellow-500 dark:text-yellow-500" : "bg-white dark:text-white bg-yellow-500" %> dark:bg-black">
          <div class="flex h-1/6 bg-white dark:bg-black items-center">
            <div class="p-2"><%= image_tag(options[:player_a][:logo]) if options[:player_a][:logo].present? %></div>
            <div class="flex-nowrap  <%= "lg:pt-4" if table_monitor.tournament_monitor_id.present? && options[:player_a][:fullname].andand.length.to_i < 20 %> text-4vw"><%= options[:player_a][:fullname] || "Spieler A" %></div>
          </div>
          <div class="flex flex-col h-5/6 <%= options[:switch_colors] ? "bg-yellow-500" : "bg-white" %> dark:bg-black border-solid <%= options[:player_a_active] ? "border-green-400 border-8" : "border-gray dark:border-gray-700 border-4" %>">
            <%- if !table_monitor.game_show_result? %>
              <div class="flex h-1/6">
                <div class="flex-1 text-left font-bold text-red-400">
                  <div class="text-8vw p-4">
                    <%= options[:player_a_active] ? table_monitor.data["playera"].andand["innings_redo_list"].andand[-1] : "" %>
                  </div>
                  <div class="text-2vw">
                    <%- to_play = options[:player_a][:balls_goal].to_i - (options[:player_a][:result].to_i + Array(table_monitor.data["playera"].andand["innings_redo_list"])[-1].to_i) %>
                    <%- if options[:player_a][:balls_goal].to_i > 0 && options[:player_a_active] && to_play <= 3 %>
                      pour <%= to_play %>
                    <%- end %>
                    <%- if options[:innings_goal].to_i > 0 && options[:player_a_active] && (options[:innings_goal].to_i - options[:player_a][:innings].to_i) == 1 %>
                      <%= t('last_inning').html_safe %>
                    <%- end %>
                  </div>
                </div>
                <div class="flex flex-col flex-1 text-right text-gray-500 text-3vw">
                  <div class="flex-1 mb-1">
                    <%= t('goal') %>: <%= s = options[:player_a][:balls_goal].to_i; s > 0 ? s : "no limit" %>
                  </div>
                  <div class="flex-1 mb-1"><%= t('gd') %>: <%= options[:player_a][:gd] %></div>
                  <div class="flex-1">HS: <%= options[:player_a][:hs] %></div>
                  <div class="flex-1">
                    <%- (1..options[:timeouts].to_i).each do |i| %>
                      <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{options[:player_a][:tc].to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                    <%- end %>
                  </div>
                </div>
              </div>
              <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#key_a touchstart->TableMonitorReflex#key_a", id: options[:id] }, class: "flex h-4/6 text-center text-24vw justify-center items-center font-bold", title: "Player_a", style: "letter-spacing: -3px;", id: "left", tabindex: 1 do %>
                <%= options[:player_a][:result].to_i + table_monitor.data["playera"].andand["innings_redo_list"].andand[-1].to_i %>
              <%- end %>
              <%- showing_timer = (options[:player_a_active] && table_monitor.playing_game? && table_monitor.timer_finish_at.present? && table_monitor.tournament_monitor.timeout.to_i > 0) ? "" : "hidden" %>
              <%- if showing_timer.blank? %>
                <div class="flex flex-1 flex-col">
                  <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
                    <div class="w-1/6 font-bold text-4vw p-2"><%= time_counter %></div>
                    <div class="flex flex-1 flex-row w-5/6">
                      <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
                      <div class="flex text-6vw font-bold text-red-400"><%= "I" * (18 - green_bars) %></div>
                    </div>
                  </div>
                </div>
              <%- else %>
                <div class="flex h-1/6 w-full flex-row">
                  <div class="flex w-full items-end justify-end text-gray-500 text-2vw p-2 flex-nowrap">
                    <%= table_monitor.render_last_innings(60, gps[0].andand.role) %>
                  </div>
                </div>
              <%- end %>
            <%- else %>
              <%= table_monitor.render_innings_list(gps[0].andand.role) %>
            <%- end %>
          </div>
        </div>
        <div class="w-1/5 bg-grey">
          <div class="flex flex-col h-1/6 bg-white dark:bg-gray-800">
            <div class="bg-white dark:bg-black text-gray-300 hover:text-black text-2vw text-center font-bold">
              <%= link_to toggle_dark_mode_table_monitor_path(table_monitor), :"data-turbolinks" => false do %>
                <%= render_svg "icons/adjust", styles: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current z-0 icon-lg m-2 lg:m-4 mr-0 dark:text-gray-300 text-gray-300 inline-block", title: "home" %>
              <% end %>
              <%= link_to scoreboard_location_path(table_monitor.table.location.md5, sb_state: "welcome", :"data-turbolinks" => false) do %>
                <%= render_svg "icons/home", styles: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current icon-lg lg:m-4 m-2 mr-0 dark:text-gray-300 text-gray-300 inline-block", title: "home" %>
              <% end %>
              <%= link_to "#", :onclick => "warning_mode()", :"data-turbolinks" => false do %>
                <%= render_svg "icons/arrow-outline-left", styles: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 fill-current icon-lg m-2 lg:m-4 dark:text-gray-300 text-gray-300 inline-block", title: "home" %>
              <% end %>
            </div>
            <%- if table_monitor.state_display(I18n.locale).present? %>
              <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#key_a", id: options[:id] }, id: "game_state", class: "flex flex-col h-1/6 items-center font-bold text-red-400 text-2vw text-center bg-white dark:bg-black" do %>
                <%= table_monitor.state_display(I18n.locale) %>
              <%- end %>
            <%- else %>
              <div id=clock class="bg-white dark:bg-black text-gray-500 dark:text-gray-300 hover:text-black text-3vw text-center font-bold"><%= Time.now.strftime("%H:%M") %></div>
            <%- end %>
          </div>
          <div class="flex flex-col h-5/6 bg-gray-100 dark:bg-gray-800">
            <div class="flex flex-col h-2/6" tabindex="3" id="pointer_mode">
              <div class="h-5/6 p-4 text-8vw font-bold text-center"><%= options[:player_a][:innings].to_i %></div>
              <%- unless (table_monitor.tournament_monitor.andand.tournament.andand.handicap_tournier? || options[:innings_goal].to_i == 0) %>
                <div class="h-1/6 items-center text-2vw justify-center text-center"><%= t('of') %> <%= options[:innings_goal].to_i %></div>
              <%- end %>
            </div>
            <div class="flex flex-col h-3/6 bg-white dark:bg-black p-4 items-center ">
              <div class="flex flex-1 items-center font-bold text-center text-2vw"><%= options[:tournament_title] %></div>
              <div class="flex flex-1 items-center text-center text-2vw"><%= options[:name] %></div>
              <%- if options[:current_round].present? %>
                <div class="flex flex-1 items-center text-center text-2vw">Runde <%= options[:current_round] %></div>
              <%- end %>
              <div class="flex flex-1 items-center text-center text-2vw"><%= options[:game_name] %></div>
            </div>
            <div class="flex flex-col items-center h-1/6">
              <div class="flex h-2/3 flex-row space-x-3 rounded-full">
                <%- if table_monitor.playing_game? && options[:timeout].to_i > 0 %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#stop", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if table_monitor.timer_finish_at.blank?}", title: "Stop", style: "letter-spacing: -3px;", id: "stop", tabindex: 11 do %>
                    <%= render_svg "icons/287-stop2", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
                  <%- end %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#timeout", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}", title: "TimeOut", style: "letter-spacing: -3px;", id: "timeout", tabindex: 11 do %>
                    <%= render_svg "icons/timer", styles: "svg-red fill-current icon-lg text-red-400 inline-block" %>
                  <%- end %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#pause", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none  bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}", title: "Pause", style: "letter-spacing: -3px;", id: "pause", tabindex: 11 do %>
                    <%= render_svg "icons/286-pause2", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
                  <%- end %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#play", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.blank?}", title: "Play", style: "letter-spacing: -3px;", id: "play", tabindex: 11 do %>
                    <%= render_svg "icons/285-play3", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
                  <%- end %>
                <%- end %>
              </div>
              <div class="flex h-1/3 font-bold text-2vw text-red-500"><%= "Halted" if table_monitor.timer_halt_at.present? %></div>
            </div>
          </div>
        </div>
        <div class="player_b w-2/5 <%= !options[:switch_colors] ? "dark:bg-black bg-white dark:text-yellow-500" : "dark:text-white bg-yellow-500" %> dark:bg-black">
          <div class="flex h-1/6 bg-white dark:bg-black items-center">
            <div class="p-2"><%= image_tag(options[:player_b][:logo]) if options[:player_b][:logo].present? %></div>
            <div class="flex-nowrap w-full mr-4 text-right <%= "lg:pt-4" if table_monitor.tournament_monitor_id.present? && options[:player_b][:fullname].andand.length.to_i < 20 %> text-4vw"><%= options[:player_b][:fullname] || "Spieler B" %></div>
          </div>
          <div class="flex flex-col h-5/6 <%= !options[:switch_colors] ? "bg-yellow-500" : "bg-white" %> dark:bg-black border-solid <%= options[:player_b_active] ? "border-green-400 border-8" : "border-gray dark:border-gray-700 border-4" %>">
            <%- if !table_monitor.game_show_result? %>
              <div class="flex h-1/6">
                <div class="flex flex-col flex-1 text-left text-gray-500 text-3vw">
                  <div class="flex-1 mb-1">
                    <%= t('goal') %>: <%= s = options[:player_b][:balls_goal].to_i; s > 0 ? s : "no limit" %>
                  </div>
                  <div class="flex-1 mb-1"><%= t('gd') %>: <%= options[:player_b][:gd] %></div>
                  <div class="flex-1"> HS: <%= options[:player_b][:hs] %></div>
                  <div class="flex-1">
                    <%- (1..options[:timeouts].to_i).each do |i| %>
                      <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{options[:player_b][:tc].to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                    <%- end %>
                  </div>
                </div>
                <div class="flex-1 text-right font-bold text-red-400">
                  <div class="text-8vw p-4">
                    <%= options[:player_b_active] ? table_monitor.data["playerb"].andand["innings_redo_list"].andand[-1] : "" %>
                  </div>
                  <div class="text-2vw">
                    <%- to_play = options[:player_b][:balls_goal].to_i > 0 ? options[:player_b][:balls_goal].to_i - (options[:player_b][:result].to_i + Array(table_monitor.data["playerb"].andand["innings_redo_list"])[-1].to_i) : 9999 %>
                    <%- if table_monitor.follow_up? %>
                      Nachstoss
                    <%- end %>
                    <%- if options[:player_a][:balls_goal].to_i > 0 && options[:player_b_active] && to_play <= 3 %>
                      pour <%= to_play %>
                    <%- end %>
                  </div>
                </div>
              </div>
              <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#key_b touchstart->TableMonitorReflex#key_b", id: options[:id] }, class: "flex h-4/6 text-center text-24vw justify-center items-center font-bold", title: "Player_b", style: "letter-spacing: -3px;", id: "right", tabindex: 1 do %>
                <%= options[:player_b][:result].to_i + table_monitor.data["playerb"].andand["innings_redo_list"].andand[-1].to_i %>
              <%- end %>
              <%- showing_timer = (options[:player_b_active] && table_monitor.playing_game? && table_monitor.timer_finish_at.present? && table_monitor.tournament_monitor.timeout.to_i > 0) ? "" : "hidden" %>
              <%- if showing_timer.blank? %>
                <div class="flex flex-1 flex-col">
                  <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
                    <div class="w-1/6 font-bold text-4vw p-2"><%= time_counter %></div>
                    <div class="flex flex-1 flex-row w-5/6">
                      <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
                      <div class="flex text-6vw font-bold text-red-400"><%= "I" * (18 - green_bars) %></div>
                    </div>
                  </div>
                </div>
              <%- else %>
                <div class="flex h-1/6 w-full flex-row">
                  <div class="flex w-full items-end justify-end text-gray-500 text-2vw p-2 flex-nowrap">
                    <%= table_monitor.render_last_innings(60, gps[1].andand.role) %>
                  </div>
                </div>
              <%- end %>
            <% else %>
              <%= table_monitor.render_innings_list(gps[1].andand.role) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="controls flex h-1/6 grid grid-cols-9 gap-1">
        <%- if table_monitor.playing_game? %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-red-50 dark:bg-gray-800 hover:bg-gray-300 dark:text-red-200 text-red-200", title: "Undo", style: "letter-spacing: -3px;", data: { reflex: "click->TableMonitorReflex#undo", id: options[:id] }, id: "undo", tabindex: 2 do %>
            <%= render_svg "undo", styles: "fill-current icon-2xl text-red-300 inline-block" %>
          <%- end %>
          <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-gray-800 hover:bg-gray-300 dark:text-red-200 text-red-200", title: "Subtract one from current Inning", data: { reflex: "click->TableMonitorReflex#minus_one", id: options[:id] }, id: "minus_one", tabindex: 2 do %>
            -1
          <%- end %>
          <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-gray-800 hover:bg-gray-300 dark:text-red-200 text-red-200", title: "Subtract five from current Inning", data: { reflex: "click->TableMonitorReflex#minus_five", id: options[:id] }, id: "minus_five", tabindex: 2 do %>
            -5
          <%- end %>
          <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-red-50 dark:bg-gray-800 hover:bg-gray-300 dark:text-red-200 text-red-200", title: "Subtract ten from current Inning", data: { reflex: "click->TableMonitorReflex#minus_ten", id: options[:id] }, id: "minus_ten", tabindex: 2 do %>
            -10
          <%- end %>
          <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 dark:text_blue_400 text-blue-400", title: "Change Players", style: "letter-spacing: -3px;", data: { reflex: "click->TableMonitorReflex#next_step", id: options[:id] }, id: "next_step", tabindex: 2 do %>
            <%= render_svg "icons/302-loop", styles: "svg-red fill-current icon-2xl text-gray-400 inline-block" %>
          <%- end %>
          <%= content_tag "div", class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400", title: "Add ten to current Inning", data: { reflex: "click->TableMonitorReflex#add_ten", id: options[:id] }, id: "add_ten", tabindex: 2 do %>
            +10
          <%- end %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400", title: "Add five to current Inning", data: { reflex: "click->TableMonitorReflex#add_five", id: options[:id] }, id: "add_five", tabindex: 2 do %>
            +5
          <%- end %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400", title: "Add one to current Inning", data: { reflex: "click->TableMonitorReflex#add_one touchstart->TableMonitorReflex#add_one", id: options[:id] }, id: "add_one", tabindex: 2 do %>
            +1
          <%- end %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400", title: "number popup", data: { reflex: "click->TableMonitorReflex#numbers", id: options[:id] }, id: "numbers", tabindex: 2 do %>
            <%= render_svg "icons/calculator", styles: "svg-red fill-current icon-2xl text-gray-400 inline-block" %>
          <%- end %>
        <%- end %>
      </div>
    </div>
  <%- else %>
    <div class="flex h-full bg-white dark:bg-black rounded shadow">
      <div class="flex w-full bg-gray-200">
        <div class="w-2/5 <%= options[:switch_colors] ? "bg-yellow-500 dark:text-yellow-500" : "bg-white dark:text-white bg-yellow-500" %> dark:bg-black">
          <div class="flex h-1/6 bg-white dark:bg-black items-center">
            <div class="p-2"><%= image_tag(options[:player_a][:logo]) if options[:player_a][:logo].present? %></div>
            <div class="flex-nowrap text-2vw"><%= options[:player_a][:fullname] %></div>
          </div>
          <div class="flex flex-col h-5/6 <%= options[:switch_colors] ? "bg-yellow-500" : "bg-white" %> dark:bg-black border-solid <%= options[:player_a_active] ? "border-green-400 border-8" : "border-gray dark:border-gray-700 border-4" %>">
            <div class="flex h-1/6">
              <div class="flex-1 text-left font-bold text-red-400">
                <div class="text-3vw p-2">
                  <%= options[:player_a_active] ? table_monitor.data["playera"].andand["innings_redo_list"].andand[-1] : "" %>
                </div>
                <div class="text-1vw">
                  <%- to_play = options[:player_a][:balls_goal].to_i > 0 ? options[:player_a][:balls_goal].to_i - (options[:player_a][:result].to_i + Array(table_monitor.data["playera"].andand["innings_redo_list"])[-1].to_i) : 9999 %>
                  <%- if options[:player_a_active] && to_play <= 3 %>
                    pour <%= to_play %>
                  <%- end %>
                </div>
              </div>
              <div class="flex flex-col flex-1 text-right text-gray-500 text-1-5vw">
                <div class="flex-1 mb-1">
                  <%= t('goal') %>
                  : <%= options[:player_a][:balls_goal].to_i > 0 ? options[:player_a][:balls_goal].to_i : "no limit" %>
                </div>
                <div class="flex-1 mb-1"><%= t('gd') %>: <%= options[:player_a][:gd] %></div>
                <div class="flex-1"> HS: <%= options[:player_a][:hs] %></div>
                <div class="flex-1">
                  <%- (1..options[:timeouts].to_i).each do |i| %>
                    <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{options[:player_a][:tc].to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                  <%- end %>
                </div>
              </div>
            </div>
            <div class="flex h-4/6 text-center text-8vw justify-center items-center font-bold">
              <%= options[:player_a][:result].to_i + table_monitor.data["playera"].andand["innings_redo_list"].andand[-1].to_i %>
            </div>
            <div class="flex h-1/6 w-full flex-row">
              <div class="flex w-full items-end justify-end text-gray-500 text-vw p-2 flex-nowrap">
                <%= table_monitor.render_last_innings(60, gps[0].andand.role) %>
              </div>
            </div>
          </div>
        </div>
        <div class="w-1/5 bg-grey">
          <%= content_tag "div", data: { reflex: "dblclick->TableMonitorReflex#force_next_state", id: options[:id] }, id: "game_state", class: "flex flex-col h-1/6 items-center font-bold text-red-400 text-1-5vw p-2 text-center bg-white dark:bg-black" do %>
            <%= table_monitor.state_display(I18n.locale) %>
          <%- end %>
          <div class="flex flex-col h-5/6 bg-gray-100 dark:bg-gray-800">
            <div class="flex flex-col h-2/6">
              <div class="h-4/6 text-4vw font-bold text-center"><%= options[:player_a][:innings].to_i %></div>
              <%- unless (table_monitor.tournament_monitor.andand.tournament.andand.handicap_tournier? || options[:innings_goal].to_i == 0) %>

                <div class="h-2/6 items-center text-1-5vw justify-center text-center"><%= t("of") %> <%= options[:innings_goal].to_i %></div>
              <%- end %>
            </div>
            <div class="flex flex-col h-3/6 bg-white dark:bg-black items-center ">
              <div class="flex flex-1 items-center text-center text-1-5vw"><%= options[:name] %></div>
              <div class="flex flex-1 items-center text-center text-1-5vw">Runde <%= options[:current_round] %></div>
              <div class="flex flex-1 items-center text-center text-1-5vw"><%= options[:game_name] %></div>
            </div>
            <div class="flex flex-col items-center h-1/6">
              <div class="flex h-2/3 min-w-1/2 flex-row space-x-3 rounded-full">
                <%- if table_monitor.playing_game? && options[:timeout].to_i > 0 %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#stop", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if table_monitor.timer_finish_at.blank?}", title: "Stop", style: "letter-spacing: -3px;", id: "stop", tabindex: 11 do %>
                    <%= render_svg "icons/287-stop2", styles: "svg-red fill-current icon-lg text-red-400 inline-block" %>
                  <%- end %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#timeout", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}", title: "TimeOut", style: "letter-spacing: -3px;", id: "timeout", tabindex: 11 do %>
                    <%= render_svg "icons/timer", styles: "svg-red fill-current icon-lg text-gray-400 inline-block" %>
                  <%- end %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#pause", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}", title: "Pause", style: "letter-spacing: -3px;", id: "pause", tabindex: 11 do %>
                    <%= render_svg "icons/286-pause2", styles: "svg-red fill-current icon-lg text-red-400 inline-block" %>
                  <%- end %>
                  <%= content_tag "div", data: { reflex: "click->TableMonitorReflex#play", id: options[:id] }, class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-gray-800 hover:bg-gray-300 text-gray-400 #{"hidden" if table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.blank?}", title: "Play", style: "letter-spacing: -3px;", id: "play", tabindex: 11 do %>
                    <%= render_svg "icons/285-play3", styles: "svg-red fill-current icon-lg text-red-400 inline-block" %>
                  <%- end %>
                <%- end %>
              </div>
              <div class="flex h-1/3 font-bold text-1vw text-red-500"><%= "Halted" if table_monitor.timer_halt_at.present? %></div>
            </div>
          </div>
        </div>
        <div class="w-2/5 <%= !options[:switch_colors] ? "bg-yellow-500 dark:text-yellow-500" : "bg-white dark:text-white bg-yellow-500"  %> dark:bg-black">
          <div class="flex h-1/6 bg-white dark:bg-black items-center">
            <div class="p-2"><%= image_tag(options[:player_b][:logo]) if options[:player_b][:logo].present? %></div>
            <div class="flex-nowrap text-2vw"><%= options[:player_b][:fullname] %></div>
          </div>
          <div class="flex flex-col h-5/6 <%= !options[:switch_colors] ? "bg-yellow-500" : "bg-white" %> dark:bg-black border-solid <%= options[:player_b_active] ? "border-green-400 border-8" : "border-gray dark:border-gray-700 border-4" %>">
            <div class="flex h-1/6">
              <div class="flex flex-col flex-1 text-left text-gray-500 text-1-5vw">
                <div class="flex-1 mb-1">
                  <%= t('goal') %>
                  : <%= options[:player_b][:balls_goal].to_i > 0 ? options[:player_b][:balls_goal].to_i : "no limit" %>
                </div>
                <div class="flex-1 mb-1"><%= t('gd') %>: <%= options[:player_b][:gd] %></div>
                <div class="flex-1"> HS: <%= options[:player_b][:hs] %></div>
                <div class="flex-1">
                  <%- (1..options[:timeouts].to_i).each do |i| %>
                    <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{options[:player_b][:tc].to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                  <%- end %>
                </div>
              </div>
              <div class="flex-1 text-right font-bold text-red-400">
                <div class="text-3vw p-2">
                  <%= options[:player_b_active] ? table_monitor.data["playerb"].andand["innings_redo_list"].andand[-1] : "" %>
                </div>
                <div class="text-1vw">
                  <%- to_play = options[:player_b][:balls_goal].to_i > 0 ? options[:player_b][:balls_goal].to_i - (options[:player_b][:result].to_i + Array(table_monitor.data["playerb"].andand["innings_redo_list"])[-1].to_i) : 9999 %>
                  <%- if table_monitor.follow_up? %>
                    Nachstoss
                  <%- end %>
                  <%- if options[:player_b_active] && to_play <= 3 %>
                    pour <%= to_play %>
                  <%- end %>
                </div>
              </div>
            </div>
            <div class="flex h-4/6 text-center text-8vw justify-center items-center font-bold">
              <%= options[:player_b][:result].to_i + table_monitor.data["playerb"].andand["innings_redo_list"].andand[-1].to_i %>
            </div>
            <div class="flex h-1/6 w-full flex-row">
              <div class="flex w-full items-end justify-end text-gray-500 text-vw p-2 flex-nowrap">
                <%= table_monitor.render_last_innings(60, gps[1].andand.role) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- end %>
<%- end %>
