<div id="table_monitor_modal_shootout_<%= table_monitor.id %>" class="modal-content bg-gray-100 dark:bg-gray-800 space-y-4 flex-col h-1/2">
  <div class="flex h-1/3 flex-col space-x-4">
    <%- gps = table_monitor.game.andand.game_participations.andand.order(:role).to_a %>
    <div class="flex h-1/2 flex-row items-center text-black dark:text-white  space-x-4 m-4 mb-8">
      <div class="flex-1 text-3vw items-center text-center font-semibold"><%= gps[0].andand.player.andand.fullname || "Spieler A"  %></div>
      <div class="flex-1 text-3vw bg-yellow-300 dark:text-yellow-200 dark:bg-black items-center text-center font-semibold"><%= gps[1].andand.player.andand.fullname || "Spieler B"  %></div>
    </div>
  </div>
  <div class="flex h-1/3 flex-row w-full space-x-4">
    <h3 class="flex-1 text-right">
      <%= t('table_monitor.status.shootout_result') %>:
    </h3>
    <div class="flex-1">
      <%= content_tag "div", class: "btn btn-primary", data: {turbolinks: false, reflex: "click->TableMonitorReflex#switch_players", id: table_monitor.id}, id: "change", tabindex: 6 do %>
        <%= t('table_monitor.status.exchange_players') %>
      <%- end %>
    </div>
  </div>
  <div class="flex h-1/3 mt-4 flex-col space-x-4">
    <div class="flex flex-1 justify-center ">
      <%= content_tag "div", class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary", data: {turbolinks: false, reflex: "click->TableMonitorReflex#start_game", id: table_monitor.id}, id: "start_game", tabindex: 6 do %>
        <%= t('table_monitor.status.start_game') %>
      <%- end %>
    </div>
  </div>
</div>
