<style>
    .display-only .hide-on-display-only {
        display: none;
    }

    .hide-on-display-only {
        display: grid;
    }

    .display-only .show-on-display-only.flex {
        display: flex;
    }

    .display-only .show-on-display-only {
        display: grid;
    }

    .show-on-display-only {
        display: none;
    }
</style>

<%- gps = table_monitor.gps %>
<%- show_data = options[:showing_prev_game] ? table_monitor.prev_data : table_monitor.data %>
<%- show_tournament_monitor = options[:showing_prev_game] ? table_monitor.prev_tournament_monitor : table_monitor.tournament_monitor %>
<%- left_player = options[:current_left_player] == "playera" ? options[:player_a] : options[:player_b] %>
<%- right_player = options[:current_left_player] == "playera" ? options[:player_b] : options[:player_a] %>
<%- left_player_id = options[:current_left_player] == "playera" ? "playera" : "playerb" %>
<%- right_player_id = options[:current_left_player] == "playera" ? "playerb" : "playera" %>
<%- left_player_active = options[:current_left_player] == "playera" ? options[:player_a_active] : options[:player_b_active] %>
<%- right_player_active = options[:current_left_player] == "playera" ? options[:player_b_active] : options[:player_a_active] %>
<%- state_display = table_monitor.state_display(I18n.locale).presence || "" %>
<%- showing_timer_a = (left_player_active && table_monitor.playing? && table_monitor.timer_finish_at.present? && ((show_tournament_monitor.present? && show_tournament_monitor.timeout.to_i > 0) || show_tournament_monitor.blank? && show_data["timeout"].to_i > 0)) ? "" : "hidden" %>
<%- showing_timer_b = (right_player_active && table_monitor.playing? && table_monitor.timer_finish_at.present? && ((show_tournament_monitor.present? && show_tournament_monitor.timeout.to_i > 0) || show_tournament_monitor.blank? && show_data["timeout"].to_i > 0)) ? "" : "hidden" %>
<%- if fullscreen && options[:timer_data].present? %>
  <%- time_counter, green_bars, do_green_bars, do_yellow_bars, do_orange_bars, do_lightred_bars, do_red_bars = options[:timer_data] %>
<%- end %>

<%- vw2 = fullscreen ? "2vw" : "1vw" %>
<%- vw3 = fullscreen ? "3vw" : "1-5vw" %>
<%- vw4 = fullscreen ? "4vw" : "2vw" %>
<%- vw6 = fullscreen ? "6vw" : "3vw" %>
<%- vw8 = fullscreen ? "8vw" : "4vw" %>
<%- vw24 = fullscreen ? "24vw" : "12vw" %>

<%- # Snooker uses frames (like sets in pool) %>
<%- frames_to_win = options[:sets_to_win] || options[:frames_to_win] || 0 %>
<%- frames_to_play = options[:sets_to_play] || options[:frames_to_play] || 0 %>
<%- current_frame_a = options[:current_sets_a] || 0 %>
<%- current_frame_b = options[:current_sets_b] || 0 %>
<%- # Always calculate break for both players, not just active one %>
<%- current_break_left = left_player_active ? (show_data[left_player_id].andand["innings_redo_list"].andand[-1].to_i || 0) : 0 %>
<%- current_break_right = right_player_active ? (show_data[right_player_id].andand["innings_redo_list"].andand[-1].to_i || 0) : 0 %>
<%- high_break_left = left_player[:hs] || 0 %>
<%- high_break_right = right_player[:hs] || 0 %>
<%- # Frame number: during play = frames won + 1 (current), after match end = frames won (last played) %>
<%- current_frame_number = (current_frame_a.to_i + current_frame_b.to_i) + (table_monitor.final_match_score? ? 0 : 1) %>
<%- # Calculate total scores (result + current break) for both players %>
<%- total_score_left = left_player[:result].to_i + (show_data[left_player_id].andand["innings_redo_list"].andand[-1].to_i || 0) %>
<%- total_score_right = right_player[:result].to_i + (show_data[right_player_id].andand["innings_redo_list"].andand[-1].to_i || 0) %>

<div class="<%= fullscreen ? "fullscreen flex flex-col h-full rounded shadow dark:bg-black" : "flex h-full rounded shadow" %>"
     data-table-monitor-root="scoreboard"
     data-table-monitor-id="<%= table_monitor.id %>"
     data-game-id="<%= table_monitor.game_id %>">
  <div class="<%= fullscreen ? "flex flex-col w-full h-full" : "flex w-full bg-gray-200" %>">
    <div class="<%= fullscreen ? "flex h-5/6 bg-gray-200" : "flex w-full bg-gray-200" %>">
      <div class="w-2/5 <%= options[:current_left_color] == "yellow" ? "player_b dark:bg-black text-gray-800 dark:text-yellow-400" : "player_a dark:bg-black text-gray-800 dark:text-gray-200" %>">
        <div class="flex h-1/6 items-center <%= fullscreen ? (left_player_active ? "bg-green-400 text-black" : "dark:bg-black") : "dark:bg-black" %>">
          <div class="flex <%= frames_to_play.to_i > 1 ? "w-5/6" : "w-full" %>">
            <div class="p-2 w-16">
              <%= image_tag(left_player[:logo], class: "object-contain h-10 w-20") if left_player[:logo].present? %>
            </div>
            <div class="flex-nowrap w-full text-left <%= "lg:pt-4" if show_tournament_monitor.andand.id.present? && left_player[:fullname].andand.length.to_i < 20 %> text-<%= fullscreen ? vw4 : "2vw" %>">
              <%= left_player[:fullname] %>
            </div>
          </div>
          <%- if frames_to_play.to_i > 1 %>
            <div class="w-1/6 grid place-items-center border-solid font-bold text-<%= vw6 %> border-<%= fullscreen ? 8 : 4 %>">
              <%= current_frame_a %>
            </div>
          <%- end %>
        </div>
        <%= content_tag "div",
                        data: {
                          controller: "table-monitor",
                          action: "click->table-monitor#key_a",
                          id: table_monitor.id,
                          player: left_player_id,
                          discipline: left_player[:discipline]
                        },
                        class: "flex flex-col h-5/6 #{ options[:current_left_color] == 'yellow' ? 'bg-yellow-500' : '' } dark:bg-black border-solid #{ left_player_active ? 'border-green-400 border-8' : 'border-gray dark:border-gray-700 border-4' }",
                        title: "playera",
                        id: "left",
                        tabindex: 1,
                        style: "letter-spacing: -5px;" do %>
          <%- if !table_monitor.set_over? %>
            <div class="flex h-1/6">
              <div class="flex-1 text-left font-bold text-red-400" style="letter-spacing: normal;">
                <div class="text-<%= vw8 %> p-4">
                  <span class="break-score" data-player="<%= left_player_id %>">
                    <%- if left_player_active && current_break_left > 0 %>
                      <%= current_break_left %>
                    <%- end %>
                  </span>
                </div>
                <div class="text-<%= vw2 %>">
                  <%- # Check if this player has a foul to display (exception: show even if not active) %>
                  <%- last_foul = table_monitor.data["last_foul"] %>
                  <%- has_foul = last_foul && last_foul["fouling_player"] == left_player_id && last_foul["points"] %>

                  <%- if left_player_active %>
                    <%- # Show balls in current break for active player (from break_balls_redo_list) %>
                    <%- break_balls = show_data[left_player_id].andand["break_balls_redo_list"].andand[-1] %>
                    <%- if break_balls.present? && break_balls.any? %>
                      <div class="flex items-center justify-start flex-wrap gap-1">
                        <%- break_balls.each do |ball_value| %>
                          <%- ball_image_map = { 1 => 'snooker_ball_red', 2 => 'snooker_ball_yellow', 3 => 'snooker_ball_green', 4 => 'snooker_ball_brown', 5 => 'snooker_ball_blue', 6 => 'snooker_ball_pink', 7 => 'snooker_ball_black' } %>
                          <%- ball_image = ball_image_map[ball_value] %>
                          <%- if ball_image %>
                            <%= image_tag "#{ball_image}.svg", class: "w-8 h-8 object-contain #{ball_value == 7 ? 'rounded-full border border-gray-400 dark:border-gray-500' : ''}" %>
                          <%- end %>
                        <%- end %>
                      </div>
                    <%- else %>
                      Break
                    <%- end %>
                  <%- end %>
                  <%- # Show foul info if available (EXCEPTION: show even if player is not active) - DOUBLE SIZE %>
                  <%- if has_foul %>
                    <div class="flex items-center justify-start gap-2 text-xl text-gray-700 dark:text-gray-300 mt-1">
                      <%- ball_value = last_foul["ball_value"] || 4 %>
                      <%- ball_image_map = { 1 => 'snooker_ball_red', 2 => 'snooker_ball_yellow', 3 => 'snooker_ball_green', 4 => 'snooker_ball_brown', 5 => 'snooker_ball_blue', 6 => 'snooker_ball_pink', 7 => 'snooker_ball_black' } %>
                      <%- ball_image = ball_image_map[ball_value] %>
                      <%- if ball_image %>
                        <%= image_tag "#{ball_image}.svg", class: "w-12 h-12 object-contain" %>
                      <%- end %>
                      <span class="font-bold">Foul -<%= last_foul["points"] %></span>
                    </div>
                  <%- end %>
                </div>
              </div>
              <div class="flex flex-col flex-1 text-right text-gray-500 text-<%= vw3 %>" style="letter-spacing: normal;">
                <div class="flex-1 mb-1">
                  Frames: <%= current_frame_a %> / <%= frames_to_win %>
                </div>
                <div class="flex-1 mb-1">HB: <%= high_break_left %></div>
                <div class="flex-1">
                  <%- (1..(options[:timeouts] || 0).to_i).each do |i| %>
                    <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{(left_player[:tc] || 0).to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                  <%- end %>
                </div>
              </div>
            </div>
            <%- won_or_draw = table_monitor.set_over? && total_score_left >= total_score_right %>
            <div class="flex h-4/6 text-center text-<%= vw24 %> justify-center items-center font-bold score-display <%= 'text-green-400' if won_or_draw %>" data-player="<%= left_player_id %>" data-score="<%= total_score_left %>">
              <span class="main-score" data-player="<%= left_player_id %>"><%= total_score_left %></span>
            </div>
            <%- if fullscreen %>
              <%- if showing_timer_a.blank? %>
                <div class="hide-on-display-only">
                  <div class="flex flex-1 flex-col">
                    <div class="flex flex-1 flex-row items-center <%= showing_timer_a %>" id="timer_table_monitor_<%= showing_timer_a %><%= table_monitor.id %>">
                      <div class="w-1/6 font-bold text-4vw p-2"><%= time_counter %></div>
                      <div class="flex flex-1 flex-row w-5/6">
                        <div class="flex text-<%= vw6 %> font-bold text-green-400"><%= "I" * green_bars.to_i %></div>
                        <div class="flex text-<%= vw6 %> font-bold text-red-400"><%= "I" * (18 - green_bars.to_i) %></div>
                      </div>
                    </div>
                  </div>
                </div>
              <%- else %>
                <div class="flex h-1/6 w-full flex-row">
                  <div class="flex w-full items-end justify-end text-gray-500 text-2vw p-2 flex-nowrap">
                    <%= table_monitor.render_last_innings(60, gps[0].andand.role) %>
                  </div>
                </div>
              <%- end %>
            <%- else %>
              <div class="flex h-1/6 w-full flex-row">
                <div class="flex w-full items-end justify-end text-gray-500 text-vw p-2 flex-nowrap">
                  <%= table_monitor.render_last_innings(60, gps[0].andand.role) %>
                </div>
              </div>
            <%- end %>
          <%- else %>
            <%= table_monitor.render_innings_list(gps[0].andand.role) %>
          <%- end %>
        <%- end %>
      </div>
      <div class="w-1/5 bg-grey">
        <div class="flex flex-col h-2/6 dark:text-gray-200 items-center dark:bg-black space-y-2">
          <%- if fullscreen %>
            <%- unless table_monitor.warmup_modal_should_be_open? || table_monitor.shootout_modal_should_be_open? || table_monitor.numbers_modal_should_be_open? || table_monitor.protocol_modal_should_be_open? %>
              <%= render partial: 'table_monitors/menu', locals: { table_monitor: table_monitor } %>
            <%- end %>
          <%- end %>
          <%- if state_display.present? %>
            <%= content_tag "div",
                            data: { controller: "table-monitor", action: "click->table-monitor#force_next_state", id: table_monitor.id },
                            id: "game_state",
                            class: "level-3 flex flex-col h-1/6 items-center font-bold text-red-400 text-#{vw2} text-center dark:bg-black" do %>
              <%= table_monitor.state_display(I18n.locale) %>
            <%- end %>
          <%- else %>
            <%= content_tag "div",
                            data: { controller: "table-monitor", action: "click->table-monitor#force_next_state", id: table_monitor.id },
                            id: "game_state",
                            class: "level-3 flex flex-col h-1/6 items-center font-bold text-red-400 text-#{vw2} text-center dark:bg-black" do %>
            <%- end %>
          <%- end %>
          <div class="overflow-hidden flex pb-1 justify-center hover:bg-gray-700 align-middle w-60 h-20 items-center">
            <%= render partial: 'table_monitors/snooker_pyramid', locals: { ball_count: table_monitor.initial_red_balls, size_class: fullscreen ? 'w-48 h-24' : 'w-40 h-20' } %>
          </div>
          <%- if table_monitor.playing? %>
            <div class="text-center text-<%= vw3 %> font-semibold text-gray-600 dark:text-gray-400 py-1">
              <%= table_monitor.snooker_remaining_points %> Punkte übrig
            </div>
          <%- end %>
          <div id="clock" class="hidden dark:bg-black text-gray-500 dark:text-gray-300 hover:text-black text-<%= vw2 %> text-center"><%= Time.now.strftime("%H:%M") %></div>
        </div>
        <%= content_tag "div",
                        data: { controller: "table-monitor", action: "click->table-monitor#force_next_state", id: table_monitor.id },
                        id: "game_state",
                        class: "flex flex-col h-5/6 dark:text-gray-200 bg-gray-100 dark:bg-black" do %>
          <div class="flex flex-col h-2/6" tabindex="3" id="pointer_mode">
            <div class="h-5/6 p-4 text-<%= fullscreen ? '4vw' : '2vw' %> font-bold text-center">Frame <%= current_frame_number %></div>
            <%- if frames_to_win.to_i > 0 %>
              <div class="h-1/6 items-center text-<%= vw2 %> justify-center text-center"><%= t('of') %> <%= frames_to_play.to_i > 0 ? frames_to_play : "Best of #{frames_to_win * 2 - 1}" %></div>
            <%- end %>
          </div>
          <div class="flex flex-col h-2/6 dark:bg-black p-4 items-center">
            <div class="flex flex-1 items-center font-bold text-center text-<%= vw2 %>"><%= options[:tournament_title] %></div>
            <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= options[:name] %></div>
            <%- if options[:current_round].present? %>
              <div class="flex flex-1 items-center text-center text-<%= vw2 %>">Runde <%= options[:current_round] %></div>
            <%- end %>
            <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= options[:game_name] %></div>
            <%- if frames_to_win.to_i > 1 %>
              <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= "Best of #{frames_to_win * 2 - 1}" %></div>
            <%- end %>
            <%- if frames_to_play.to_i > 0 %>
              <div class="flex flex-1 items-center text-center text-<%= vw2 %>"><%= "maximal #{frames_to_play} Frames" %></div>
            <%- end %>
          </div>
          <div class="flex flex-col items-center h-1/6">
            <div class="flex h-2/3 flex-row space-x-3 rounded-full">
              <%- if table_monitor.playing? && options[:timeout].to_i > 0 %>
                <%= content_tag "div",
                                data: { controller: "table-monitor", action: "click->table-monitor#stop", id: table_monitor.id },
                                class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{'hidden' if table_monitor.timer_finish_at.blank?}",
                                title: "Stop",
                                id: "stop",
                                tabindex: 11 do %>
                  <%= render_svg "icons/287-stop2", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
                <%- end %>
                <%= content_tag "div",
                                data: { controller: "table-monitor", action: "click->table-monitor#timeout", id: table_monitor.id },
                                class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{'hidden' if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}",
                                title: "TimeOut",
                                id: "timeout",
                                tabindex: 11 do %>
                  <%= render_svg "icons/timer", styles: "svg-red fill-current icon-lg text-red-400 inline-block" %>
                <%- end %>
                <%= content_tag "div",
                                data: { controller: "table-monitor", action: "click->table-monitor#pause", id: table_monitor.id },
                                class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{'hidden' if (table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.present?) || table_monitor.timer_finish_at.blank?}",
                                title: "Pause",
                                id: "pause",
                                tabindex: 11 do %>
                  <%= render_svg "icons/286-pause2", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
                <%- end %>
                <%= content_tag "div",
                                data: { controller: "table-monitor", action: "click->table-monitor#play", id: table_monitor.id },
                                class: "mr-2 w-full flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400 #{'hidden' if table_monitor.timer_finish_at.present? && table_monitor.timer_halt_at.blank?}",
                                title: "Play",
                                id: "play",
                                tabindex: 11 do %>
                  <%= render_svg "icons/285-play3", styles: "svg-red fill-current icon-2xl text-red-400 inline-block" %>
                <%- end %>
              <%- end %>
            </div>
            <div class="flex h-1/3 font-bold text-<%= vw2 %> text-red-500"><%= "Halted" if table_monitor.timer_halt_at.present? %></div>
          </div>
        <%- end %>
      </div>
      <div class="w-2/5 <%= options[:current_left_color] == "white" ? "player_b dark:bg-black text-gray-800 dark:text-yellow-400" : "player_a dark:bg-black text-gray-200 bg-yellow-500" %>">
        <div class="flex h-1/6 items-center <%= fullscreen ? (right_player_active ? "bg-green-400 text-black" : "dark:bg-black") : "dark:bg-black" %>">
          <%- if frames_to_play.to_i > 1 %>
            <div class="w-1/6 grid place-items-center border-solid font-bold text-<%= vw6 %> border-<%= fullscreen ? 8 : 4 %>">
              <%= current_frame_b %>
            </div>
          <%- end %>
          <div class="flex <%= frames_to_play.to_i > 1 ? "w-5/6" : "w-full" %>">
            <div class="flex-nowrap w-full mr-4 text-right <%= "lg:pt-4" if show_tournament_monitor.andand.id.present? && right_player[:fullname].andand.length.to_i < 20 %> text-<%= fullscreen ? vw4 : "2vw" %>">
              <%= right_player[:fullname] %>
            </div>
            <div class="p-2 w-16">
              <%= image_tag(right_player[:logo], class: "object-contain h-10 w-20") if right_player[:logo].present? %>
            </div>
          </div>
        </div>
        <%= content_tag "div",
                        data: {
                          controller: "table-monitor",
                          action: "click->table-monitor#key_b",
                          id: table_monitor.id,
                          player: right_player_id,
                          discipline: right_player[:discipline]
                        },
                        class: "flex flex-col h-5/6 #{ options[:current_left_color] == 'white' ? 'bg-yellow-500' : '' } dark:bg-black border-solid #{ right_player_active ? 'border-green-400 border-8' : 'border-gray dark:border-gray-700 border-4' }",
                        title: "playerb",
                        id: "right",
                        tabindex: 1,
                        style: "letter-spacing: -5px;" do %>
          <%- if !table_monitor.set_over? %>
            <div class="flex h-1/6">
              <div class="flex flex-col flex-1 text-left text-gray-500 text-<%= vw3 %>" style="letter-spacing: normal;">
                <div class="flex-1 mb-1">
                  Frames: <%= current_frame_b %> / <%= frames_to_win %>
                </div>
                <div class="flex-1 mb-1">HB: <%= high_break_right %></div>
                <div class="flex-1">
                  <%- (1..(options[:timeouts] || 0).to_i).each do |i| %>
                    <%= render_svg "icons/timer", styles: "svg-red fill-current icon text-#{(right_player[:tc] || 0).to_i > (i - 1) ? "green" : "red"}-400 inline-block" %>
                  <%- end %>
                </div>
              </div>
              <div class="flex-1 text-right font-bold text-red-400" style="letter-spacing: normal;">
                <div class="text-<%= vw8 %> p-4">
                  <span class="break-score" data-player="<%= right_player_id %>">
                    <%- if right_player_active && current_break_right > 0 %>
                      <%= current_break_right %>
                    <%- end %>
                  </span>
                </div>
                <div class="text-<%= vw2 %>">
                  <%- # Check if this player has a foul to display (exception: show even if not active) %>
                  <%- last_foul = table_monitor.data["last_foul"] %>
                  <%- has_foul = last_foul && last_foul["fouling_player"] == right_player_id && last_foul["points"] %>

                  <%- if right_player_active %>
                    <%- # Show balls in current break for active player (from break_balls_redo_list) %>
                    <%- break_balls = show_data[right_player_id].andand["break_balls_redo_list"].andand[-1] %>
                    <%- if break_balls.present? && break_balls.any? %>
                      <div class="flex items-center justify-end flex-wrap gap-1">
                        <%- break_balls.each do |ball_value| %>
                          <%- ball_image_map = { 1 => 'snooker_ball_red', 2 => 'snooker_ball_yellow', 3 => 'snooker_ball_green', 4 => 'snooker_ball_brown', 5 => 'snooker_ball_blue', 6 => 'snooker_ball_pink', 7 => 'snooker_ball_black' } %>
                          <%- ball_image = ball_image_map[ball_value] %>
                          <%- if ball_image %>
                            <%= image_tag "#{ball_image}.svg", class: "w-8 h-8 object-contain #{ball_value == 7 ? 'rounded-full border border-gray-400 dark:border-gray-500' : ''}" %>
                          <%- end %>
                        <%- end %>
                      </div>
                    <%- else %>
                      Break
                    <%- end %>
                  <%- end %>
                  <%- # Show foul info if available (EXCEPTION: show even if player is not active) - DOUBLE SIZE %>
                  <%- if has_foul %>
                    <div class="flex items-center justify-end gap-2 text-xl text-gray-700 dark:text-gray-300 mt-1">
                      <%- ball_value = last_foul["ball_value"] || 4 %>
                      <%- ball_image_map = { 1 => 'snooker_ball_red', 2 => 'snooker_ball_yellow', 3 => 'snooker_ball_green', 4 => 'snooker_ball_brown', 5 => 'snooker_ball_blue', 6 => 'snooker_ball_pink', 7 => 'snooker_ball_black' } %>
                      <%- ball_image = ball_image_map[ball_value] %>
                      <%- if ball_image %>
                        <%= image_tag "#{ball_image}.svg", class: "w-12 h-12 object-contain" %>
                      <%- end %>
                      <span class="font-bold">Foul -<%= last_foul["points"] %></span>
                    </div>
                  <%- end %>
                </div>
              </div>
            </div>
            <%- won_or_draw = table_monitor.set_over? && total_score_right >= total_score_left %>
            <div class="flex h-4/6 text-center text-<%= vw24 %> justify-center items-center font-bold score-display <%= 'text-green-400' if won_or_draw %>" data-player="<%= right_player_id %>" data-score="<%= total_score_right %>">
              <span class="main-score" data-player="<%= right_player_id %>"><%= total_score_right %></span>
            </div>
            <%- if fullscreen %>
              <%- if showing_timer_b.blank? %>
                <div class="hide-on-display-only">
                  <div class="flex flex-1 flex-col">
                    <div class="flex flex-1 flex-row items-center <%= showing_timer_b %>" id="timer_table_monitor_<%= showing_timer_b %><%= table_monitor.id %>">
                      <div class="w-1/6 font-bold text-4vw p-2"><%= time_counter %></div>
                      <div class="flex flex-1 flex-row w-5/6">
                        <div class="flex text-<%= vw6 %> font-bold text-green-400"><%= "I" * green_bars.to_i %></div>
                        <div class="flex text-<%= vw6 %> font-bold text-red-400"><%= "I" * (18 - green_bars.to_i) %></div>
                      </div>
                    </div>
                  </div>
                </div>
              <%- else %>
                <div class="flex h-1/6 w-full flex-row">
                  <div class="flex w-full items-end justify-end text-gray-500 text-2vw p-2 flex-nowrap">
                    <%= table_monitor.render_last_innings(60, gps[1].andand.role) %>
                  </div>
                </div>
              <%- end %>
            <%- else %>
              <div class="flex h-1/6 w-full flex-row">
                <div class="flex w-full items-end justify-end text-gray-500 text-vw p-2 flex-nowrap">
                  <%= table_monitor.render_last_innings(60, gps[1].andand.role) %>
                </div>
              </div>
            <%- end %>
          <%- else %>
            <%= table_monitor.render_innings_list(gps[1].andand.role) %>
          <%- end %>
        <%- end %>
      </div>
    </div>

    <%- if fullscreen %>
      <%- showing_timer = showing_timer_a.blank? ? showing_timer_a : (showing_timer_b.blank? ? showing_timer_b : "hidden") %>
      <div class="show-on-display-only flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_new_table_monitor_<%= table_monitor.id %>">
        <%= render partial: "table_monitors/timer_new",
                   locals: {
                     table_monitor: table_monitor,
                     time_counter: time_counter,
                     do_green_bars: do_green_bars,
                     do_yellow_bars: do_yellow_bars,
                     do_orange_bars: do_orange_bars,
                     do_lightred_bars: do_lightred_bars,
                     do_red_bars: do_red_bars
                   } %>
      </div>
      <div class="controls hide-on-display-only w-full h-1/6 grid grid-cols-12 place-items-center gap-1 dark:bg-black">
        <%- if table_monitor.playing? %>
          <%= content_tag "div", class: "mr-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-blue-50 dark:bg-black hover:bg-gray-300 dark:text-blue-400 text-blue-600", title: "Spielprotokoll", data: { reflex: "click->GameProtocolReflex#open_protocol", id: table_monitor.id }, id: "game-protocol-button", tabindex: 2 do %>
            <%= render_svg "icons/clipboard", styles: "fill-current icon-2xl inline-block" %>
          <%- end %>
          <%- # Snooker ball values: Red=1, Yellow=2, Green=3, Brown=4, Blue=5, Pink=6, Black=7 %>
          <%- balls_on = table_monitor.snooker_balls_on %>
          <%- ball_image_map = { 1 => 'snooker_ball_red', 2 => 'snooker_ball_yellow', 3 => 'snooker_ball_green', 4 => 'snooker_ball_brown', 5 => 'snooker_ball_blue', 6 => 'snooker_ball_pink', 7 => 'snooker_ball_black' } %>
          <%- # Get reds remaining for display on red ball %>
          <%- snooker_state = table_monitor.data["snooker_state"] || {} %>
          <%- reds_remaining = snooker_state["reds_remaining"] || table_monitor.initial_red_balls %>
          <%- [1, 2, 3, 4, 5, 6, 7].each do |ball_value| %>
            <%- ball_status = balls_on[ball_value] || :off %>
            <%- ball_is_playable = ball_status == :on || ball_status == :addable %>
            <%- ball_is_addable = ball_status == :addable %>
            <%- ball_is_off = ball_status == :off %>
            <%- ball_image = ball_image_map[ball_value] %>
            <%= content_tag "div",
                            class: "flex align-center overflow-hidden pb-1 relative #{ball_is_playable ? 'hover:scale-125' : ''} w-18 dark:bg-black",
                            data: ball_is_playable ? {
                              controller: "table-monitor",
                              action: "click->table-monitor#add_n",
                              n: ball_value,
                              id: table_monitor.id
                            } : {},
                            title: ball_is_addable ? "+1" : (ball_is_playable ? "Add #{ball_value} point#{ball_value > 1 ? 's' : ''}" : "Ball not 'on'"),
                            tabindex: ball_is_playable ? 2 : -1 do %>
              <div class="relative flex items-center justify-center <%= ball_value == 7 ? 'dark:border dark:border-gray-500 rounded-full' : '' %>" style="width: 5.2rem; height: 5.2rem;">
                <%= image_tag "#{ball_image}.svg", class: "w-full h-full object-contain #{ball_is_off ? 'opacity-70' : ''}" %>
                <%- if ball_value == 1 %>
                  <%- # Show reds remaining on red ball %>
                  <div class="absolute inset-0 flex items-center justify-center">
                    <span class="font-bold text-<%= fullscreen ? '3vw' : '2vw' %> text-white drop-shadow-lg" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.8);">
                      <%= reds_remaining %>
                    </span>
                  </div>
                <%- end %>
                <%- if ball_is_off %>
                  <div class="absolute inset-0 bg-black bg-opacity-30 rounded-full pointer-events-none"></div>
                <%- end %>
              </div>
            <%- end %>
          <%- end %>
          <%= content_tag "div",
                          class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-red-500 dark:bg-red-600 hover:bg-red-600 dark:hover:bg-red-700 text-white px-4 py-2",
                          title: "Foul",
                          data: { controller: "table-monitor", action: "click->table-monitor#foul", id: table_monitor.id },
                          id: "foul",
                          tabindex: 2 do %>
            <span class="text-<%= fullscreen ? '2vw' : '1.5vw' %> font-bold">FOUL</span>
          <%- end %>
          <%= content_tag "div",
                          class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-orange-500 dark:bg-orange-600 hover:bg-orange-600 dark:hover:bg-orange-700 text-white px-4 py-2",
                          title: "Aufgeben (Frame vorzeitig beenden)",
                          data: { controller: "table-monitor", action: "click->table-monitor#concede_snooker_frame", id: table_monitor.id },
                          id: "concede",
                          tabindex: 2 do %>
            <span class="text-<%= fullscreen ? '2vw' : '1.5vw' %> font-bold">AUFGEBEN</span>
          <%- end %>
          <%= content_tag "div",
                          class: "ml-1 min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none bg-gray-100 dark:bg-black hover:bg-gray-300 text-gray-400",
                          title: "number popup",
                          data: { controller: "table-monitor", action: "click->table-monitor#numbers", id: table_monitor.id },
                          id: "numbers",
                          tabindex: 2 do %>
            <%= render_svg "icons/calculator", styles: "svg-red fill-current icon-2xl text-gray-400 inline-block" %>
          <%- end %>
        <%- end %>
      </div>
    <%- end %>
  </div>
</div>

