<%- if table_monitor.setup_modal_should_be_open? %>
  <div class="flex flex-row items-center justify-center">
    <div class="flex w-4/12"></div>
    <div class="flex w-4/12 text-10vw p-2"><%= time_counter.to_i == 0 ? "&nbsp;".html_safe : time_counter %></div>
    <div class="flex w-4/12"></div>
  </div>
  <div class="flex h-1/6 flex-row space-x-8">
    <%- showing_timer = (table_monitor.game_warmup_a_started? && table_monitor.timer_finish_at.present?) ? "" : "hidden" %>
    <div class="flex flex-1 flex-col">
      <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
        <div class="flex flex-1 flex-row w-5/6">
          <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
          <div class="flex text-6vw font-bold text-red-400"><%= "I" * (18 - green_bars) %></div>
        </div>
      </div>
    </div>
    <%- showing_timer = (table_monitor.game_warmup_b_started? && table_monitor.timer_finish_at.present?) ? "" : "hidden" %>
    <div class="flex flex-1 flex-col">
      <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
        <div class="flex flex-1 flex-row w-5/6">
          <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
          <div class="flex text-6vw font-bold text-red-400"><%= "I" * (18 - green_bars) %></div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="w-1/6 font-bold text-6vw p-2"><%= time_counter %></div>
  <div class="flex flex-1 flex-row w-5/6">
    <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
    <div class="flex text-6vw font-bold text-red-400"><%= "I" * (18 - green_bars) %></div>
  </div>
<% end %>
