<div class="w-1/12 font-bold text-center text-4vw p-2"><%= time_counter %></div>
<div class="flex flex-1 w-full justify-end mr-10 flex-row w-11/12">
  <div class="flex text-6vw font-bold text-green-400"><%= "I" * do_green_bars %></div>
  <div class="flex text-6vw font-bold text-yellow-200"><%= "I" * do_yellow_bars %></div>
  <div class="flex text-6vw font-bold text-yellow-400"><%= "I" * do_orange_bars %></div>
  <div class="flex text-6vw font-bold text-red-400"><%= "I" * do_lightred_bars %></div>
  <div class="flex text-6vw font-bold text-red-600"><%= "I" * do_red_bars %></div>
</div>
