<script type="text/javascript">
  function toggleModal(modalID) {
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
</script>
<%- 
  # Use passed-in options if available (from job with snapshot), otherwise get fresh
  # This prevents race conditions when multiple jobs render simultaneously
  unless local_assigns[:options].present?
    table_monitor.get_options!(I18n.locale)
    options = table_monitor.options
  end
%>
<%- time_counter, green_bars = table_monitor.get_progress_bar_status(18) %>
<%- gps = table_monitor.game.andand.game_participations.andand.order(:role).to_a %>
<%- left_player = options[:current_left_player] == "playera" ? options[:player_a] : options[:player_b] %>
<%- right_player = options[:current_left_player] == "playera" ? options[:player_b] : options[:player_a] %>
<%- if full_screen %>
  <div class="flex overflow-x-hidden text-black overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
    <!--content-->
    <div id="table_monitor_modal_setup_<%= table_monitor.id %>" class="p-2 lg:p-10 border-2 border-gray-500 rounded-lg shadow-lg relative flex flex-col h-3/4 w-3/4  dark:text-gray-200 bg-white dark:bg-black outline-none focus:outline-none" data-game-id="<%= table_monitor.game_id %>">

      <div class="dark:text-gray-200 bg-white dark:bg-black bg-gray-50 flex h-2/6 flex-col">
        <div class="grid grid-cols-3 gap-4">
          <div class="w-full">
            <div class="flex-auto mt-5 text-2vw text-center">Tisch <%= table_monitor.name.match(/.*(\d+).*/).andand[1] %></div>
            <div class="flex-auto mt-5 text-2vw text-center"><%= table_monitor.game.andand.gname.andand.split(":").andand[0].andand.gsub("group", "Gruppe ") %></div>
          </div>
          <div class="w-full">
            <%= render 'table_monitors/menu', table_monitor: table_monitor %>
          </div>
          <div class="w-full">
            <div class="flex-auto mt-5 text-2vw text-center">Partie <%= table_monitor.game.andand.gname.andand.split(":").andand[1].andand.gsub("group", "Gruppe ") %></div>
            <div class="flex-auto mt-5 text-2vw text-center">Runde <%= table_monitor.tournament_monitor.andand.current_round %></div>
          </div>
        </div>
        <%- gps = table_monitor.game.andand.game_participations.andand.order(:role).to_a %>
        <div class="mt-4 flex h-1/2 flex-row text-black dark:text-gray-200 space-x-4">
          <div class="flex-1 text-3vw text-center font-semibold"><%= left_player[:fullname] %></div>
          <div class="flex-1 text-3vw text-center font-semibold"><%= right_player[:fullname] %></div>
        </div>
      </div>
      <div class="dark:text-gray-200 bg-white dark:bg-black bg-gray-50 flex h-1/6 flex-row mt-2 space-x-8">
        <%- if table_monitor.warmup_a? && table_monitor.timer_finish_at.present? %>
          <%= content_tag "div", class: "flex flex-1 h-full items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#stop", id: table_monitor.id } do %>
            <%= "Halt" %>
          <%- end %>
        <%- else %>
          <%= content_tag "div", class: "flex flex-1 h-full items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#play_warm_up_a", id: table_monitor.id } do %>
            <%= "Start Einspielzeit" %>
          <%- end %>
        <%- end %>
        <div class="flex flex-1 items-center rounded-full justify-center text-2vw text-center">Einspielzeit
          5
          Min.
        </div>
        <%- if table_monitor.warmup_b? && table_monitor.timer_finish_at.present? %>
          <%= content_tag "div", class: "flex flex-1 h-full items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#stop", id: table_monitor.id } do %>
            <%= "Halt" %>
          <%- end %>
        <%- else %>
          <%= content_tag "div", class: "flex flex-1 h-full items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#play_warm_up_b", id: table_monitor.id } do %>
            <%= "Start Einspielzeit" %>
          <%- end %>
        <%- end %>
      </div>
      <div class="dark:text-gray-200 bg-white dark:bg-black bg-gray-50 flex h-2/6 flex-col " id="timer_table_monitor_<%= table_monitor.id %>">
        <div class="flex flex-row items-center justify-center">
          <div class="flex w-4/12"></div>
          <%- arr = time_counter.to_s.split(":") %>
          <%- tc = arr[-1].to_i + 60 * arr[-2].to_i %>
          <div class="flex w-4/12 font-bold text-8vw p-2"><%= tc.to_i == 0 ? "&nbsp;".html_safe : time_counter %></div>
          <div class="flex w-4/12"></div>
        </div>
        <div class="flex flex-row space-x-8">
          <%- showing_timer = (table_monitor.warmup_a? && table_monitor.timer_finish_at.present?) ? "" : "hidden" %>
          <div class="flex flex-1 flex-col">
            <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
              <div class="flex flex-1 flex-row w-5/6">
                <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
                <div class="flex text-6vw font-bold text-red-400"><%= green_bars > 0 ? "I" * (18 - green_bars) : "-----------" %></div>
              </div>
            </div>
          </div>
          <%- showing_timer = (table_monitor.warmup_b? && table_monitor.timer_finish_at.present?) ? "" : "hidden" %>
          <div class="flex flex-1 flex-col">
            <div class="flex flex-1 font-bold flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
              <div class="flex flex-1 flex-row w-5/6">
                <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
                <div class="flex text-6vw font-bold text-red-400"><%= green_bars > 0 ? "I" * (18 - green_bars) : "-----------" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex h-2/3 flex-row mt-0 space-x-8 items-center justify-center">
        <%= content_tag "div", class: "text-2vw h-1/3 focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary", data: { turbo: false, reflex: raw("click->TableMonitorReflex#warm_up_finished"), id: table_monitor.id }, id: "continue", tabindex: 7 do %>
          <%= "Weiter zum Ausstoßen" %>
        <%- end %>
      </div>
    </div>
  </div>
  <div class="flex opacity-50 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
<%- else %>
  <div class="flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
    <!--content-->
    <div id="table_monitor_modal_setup_<%= table_monitor.id %>" class="p-2 lg:p-10 border-0 rounded-lg shadow-lg relative flex flex-col h-3/4 w-3/4  outline-none focus:outline-none" data-game-id="<%= table_monitor.game_id %>">
      <div class="flex h-1/6 flex-col">
        <div class="flex h-1/2 flex-row space-x-4">
          <div class="flex-1 text-2vw text-center">Tisch <%= table_monitor.name.match(/.*(\d+).*/).andand[1] %></div>
          <div class="flex-1 text-2vw text-center"><%= table_monitor.game.andand.gname.andand.split(":").andand[0].andand.gsub("group", "Gruppe ") %></div>
          <div class="flex-1 text-2vw text-center">Partie <%= table_monitor.game.andand.gname.andand.split(":").andand[1].andand.gsub("group", "Gruppe ") %></div>
          <div class="flex-1 text-2vw text-center">Runde <%= table_monitor.tournament_monitor.andand.current_round %></div>
        </div>
        <hr>
        <%- gps = table_monitor.game.andand.game_participations.andand.order(:role).to_a %>
        <div class="flex h-1/2 flex-row text-black dark:text-gray-200 space-x-4 m-4 m-8">
          <div class="flex-1 text-3vw text-center font-semibold"><%= gps[0].andand.player.andand.fullname %></div>
          <div class="flex-1 text-3vw text-center font-semibold"><%= gps[1].andand.player.andand.fullname %></div>
        </div>
      </div>
      <div class="flex h-1/6 flex-row mt-2 space-x-8">
        <%- if table_monitor.warmup_a? && table_monitor.timer_finish_at.present? %>
          <%= content_tag "div", class: "flex flex-1 items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#stop", id: table_monitor.id } do %>
            <%= "Halt" %>
          <%- end %>
        <%- else %>
          <%= content_tag "div", class: "flex flex-1 h-full items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#play_warm_up_a", id: table_monitor.id } do %>
            <%= "Start Einspielzeit" %>
          <%- end %>
        <%- end %>
        <div class="flex flex-1 items-center rounded-full justify-center text-2vw text-center">Einspielzeit
          5
          Min.
        </div>
        <%- if table_monitor.warmup_b? && table_monitor.timer_finish_at.present? %>
          <%= content_tag "div", class: "flex flex-1 items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#stop", id: table_monitor.id } do %>
            <%= "Halt" %>
          <%- end %>
        <%- else %>
          <%= content_tag "div", class: "flex flex-1 h-full items-center justify-center text-2vw text-center btn btn-primary", data: { turbo: false, reflex: "click->TableMonitorReflex#play_warm_up_b", id: table_monitor.id } do %>
            <%= "Start Einspielzeit" %>
          <%- end %>
        <%- end %>
      </div>
      <div class="flex flex-col " id="timer_table_monitor_<%= table_monitor.id %>">
        <div class="flex flex-row items-center justify-center">
          <div class="flex w-4/12"></div>
          <div class="flex w-4/12 font-bold text-8vw p-2"><%= time_counter.to_i == 0 ? "&nbsp;".html_safe : time_counter %></div>
          <div class="flex w-4/12"></div>
        </div>
        <div class="flex h-1/6 flex-row space-x-8">
          <%- showing_timer = (table_monitor.warmup_a? && table_monitor.timer_finish_at.present?) ? "" : "hidden" %>
          <div class="flex flex-1 flex-col">
            <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
              <div class="flex flex-1 flex-row w-5/6">
                <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
                <div class="flex text-6vw font-bold text-red-400"><%= green_bars > 0 ? "I" * (18 - green_bars) : "-----------" %></div>
              </div>
            </div>
          </div>
          <%- showing_timer = (table_monitor.warmup_b? && table_monitor.timer_finish_at.present?) ? "" : "hidden" %>
          <div class="flex flex-1 flex-col">
            <div class="flex flex-1 flex-row items-center <%= showing_timer %>" id="timer_table_monitor_<%= showing_timer %><%= table_monitor.id %>">
              <div class="flex flex-1 flex-row w-5/6">
                <div class="flex text-6vw font-bold text-green-400"><%= "I" * green_bars %></div>
                <div class="flex text-6vw font-bold text-red-400"><%= green_bars > 0 ? "I" * (18 - green_bars) : "-----------" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex h-1/6 flex-row mt-0 space-x-8 items-center justify-center">
        <%= content_tag "div", class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary", data: { turbo: false, reflex: raw("click->TableMonitorReflex#warm_up_finished"), id: table_monitor.id }, id: "continue", tabindex: 7 do %>
          <%= t('continue') %>
        <%- end %>
      </div>

    </div>
  </div>
  <div class="flex opacity-50 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
<%- end %>

