<p id="notice"><%= notice %></p>

<h1>Listing Table Monitors</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Game</th>
      <th>Next game</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_monitors.each do |table_monitor| %>
      <tr>
        <td><%= table_monitor.state %></td>
        <td><%= table_monitor.name %></td>
        <td><%= table_monitor.game_id %></td>
        <td><%= table_monitor.next_game_id %></td>
        <td><%= table_monitor.data %></td>
        <td><%= link_to 'Show', table_monitor %></td>
        <td><%= link_to 'Edit', edit_table_monitor_path(table_monitor) %></td>
        <td><%= link_to 'Destroy', table_monitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table monitor', new_table_monitor_path %>
