<!--suppress RubyScope, RubyScope, RubyScope -->
<%= stylesheet_link_tag "table_monitor", "data-turbo-track": "reload" %>

<div data-controller="table-monitor-show"
     data-table-monitor-show-table-monitor-id-value="<%= @table_monitor.id %>"
     data-table-monitor-show-discipline-value="<%= @table_monitor.discipline %>"
     data-table-monitor-show-tournament-monitor-present-value="<%= @table_monitor.tournament_monitor.present? %>"
     data-table-monitor-show-panel-nav-h-value="<%= {
       'undo' => (@table_monitor.discipline == "Eurokegel" ? "minus_2" : "minus_1"),
       'minus_1' => 'minus_5',
       'minus_2' => 'minus_4',
       'minus_5' => 'minus_10',
       'minus_4' => 'minus_10',
       'minus_10' => 'next_step',
       'next_step' => 'add_10',
       'add_10' => (@table_monitor.discipline == "Eurokegel" ? "add_4" : "add_5"),
       'add_5' => 'add_1',
       'add_4' => 'add_2',
       'add_2' => 'numbers',
       'add_1' => 'numbers',
       'numbers' => 'undo',
       'pause' => 'stop',
       'play' => 'stop',
       'stop' => 'timeout',
       'timeout' => 'pause',
       'pointer_mode' => 'pointer_mode',
       'number_field' => 'nnn_1',
       'nnn_1' => 'nnn_2',
       'nnn_2' => 'nnn_3',
       'nnn_3' => 'number_field',
       'nnn_4' => 'nnn_5',
       'nnn_5' => 'nnn_6',
       'nnn_6' => 'nnn_4',
       'nnn_7' => 'nnn_8',
       'nnn_8' => 'nnn_9',
       'nnn_9' => 'nnn_7',
       'nnn_0' => 'nnn_del',
       'nnn_del' => 'nnn_esc',
       'nnn_esc' => 'nnn_0',
       'start_game' => 'change',
       'change' => 'start_game',
       'continue' => 'practice_a',
       'practice_a' => 'practice_b',
       'practice_b' => 'continue',
       'ok' => (@table_monitor.tournament_monitor.present? ? "cancel" : "terminate"),
       (@table_monitor.tournament_monitor.present? ? "txxx" : "terminate") => (@table_monitor.tournament_monitor.present? ? "cxxx" : "cancel"),
       'cancel' => 'ok'
     }.to_json %>"
     data-table-monitor-show-panel-nav-v-value="<%= {
       'pointer_mode' => 'timer',
       'timer' => 'inputs',
       'number_field' => 'nnn_1',
       'nnn_1' => 'nnn_4',
       'nnn_2' => 'nnn_5',
       'nnn_3' => 'nnn_6',
       'nnn_4' => 'nnn_7',
       'nnn_5' => 'nnn_8',
       'nnn_6' => 'nnn_9',
       'nnn_7' => 'nnn_0',
       'nnn_8' => 'nnn_del',
       'nnn_9' => 'nnn_esc',
       'nnn_0' => 'number_field',
       'nnn_del' => 'nnn_2',
       'nnn_esc' => 'nnn_3'
     }.to_json %>"
     data-table-monitor-show-key-map-value="<%= {
       33 => "key_a",
       37 => "key_a",
       34 => "key_b",
       39 => "key_b",
       66 => "key_c",
       38 => "key_b",
       116 => "key_d",
       27 => "key_d",
       40 => "key_d",
       13 => "key_d"
     }.to_json %>">

  <div data-table-monitor-show-target="panelState" id="panel_state" panel_state=""></div>
  <div data-table-monitor-show-target="previousPanel" id="previous_panel" previous_panel=""></div>
  <div data-table-monitor-show-target="currentElement" id="current_element" current_element="" tabindex="-1"></div>
  <div data-table-monitor-show-target="previousElement" id="previous_element" previous_element=""></div>

  <div data-table-monitor-show-target="modalConfirmBack" id="modal-confirm-back" class="hidden"></div>
  <div data-table-monitor-show-target="modalConfirmBackBg" id="modal-confirm-back-bg" class="hidden"></div>

  <%= content_for :title, "Table Monitors ##{@table_monitor.id}" %>

  <div>
    <%= render @table_monitor, locals: { table_monitor: @table_monitor } %>
  </div>
</div>
