<p id="notice"><%= notice %></p>

<h1>Listing Template Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_games.each do |template_game| %>
      <tr>
        <td><%= template_game.name %></td>
        <td><%= template_game.template_id %></td>
        <td><%= template_game.remarks %></td>
        <td><%= link_to image_tag("ansehen.gif", :width => 26, :height => 22, :border => 0), template_game %></td>
        <td><%= link_to image_tag("bearbeiten.gif", :width => 26, :height => 22, :border => 0), edit_template_game_path(template_game) %></td>
        <td><%= link_to image_tag("loeschen.gif", :width => 26, :height => 22, :border => 0), template_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template game', new_template_game_path %>
