<p>
  <strong>TournamentPlan game:</strong>
  <%= @game.tournament_plan_game_id %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= link_to(@game.tournament.title, tournament_path(@game.tournament)) if @game.tournament.present? %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @game.roles %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @game.data %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
