<p>
  <strong>Name:</strong>
  <%= @player_count_template.name %>
</p>

<p>
  <strong>Tournament template:</strong>
  <%= link_to @player_count_template.tournament_template.andand.name, tournament_template_path(@player_count_template.tournament_template) %>
</p>

<p>
  <strong>Players:</strong>
  <%= @player_count_template.players %>
</p>

<p>
  <strong>Template:</strong>
  <%= link_to @player_count_template.template.andand.name, template_path(@player_count_template.template) %>
</p>

<%= link_to 'Edit', edit_player_count_template_path(@player_count_template) %> |
<%= link_to 'Back', player_count_templates_path %>
