<p>
  <strong>Player:</strong>
  <%= @player_ranking.player_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @player_ranking.region_id %>
</p>

<p>
  <strong>Club:</strong>
  <%= @player_ranking.club_id %>
</p>

<p>
  <strong>Season:</strong>
  <%= @player_ranking.season_id %>
</p>

<p>
  <strong>Org level:</strong>
  <%= @player_ranking.org_level %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @player_ranking.discipline_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @player_ranking.status %>
</p>

<p>
  <strong>Points:</strong>
  <%= @player_ranking.points %>
</p>

<p>
  <strong>Innings:</strong>
  <%= @player_ranking.innings %>
</p>

<p>
  <strong>Gd:</strong>
  <%= @player_ranking.gd %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @player_ranking.hs %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @player_ranking.bed %>
</p>

<p>
  <strong>Btg:</strong>
  <%= @player_ranking.btg %>
</p>

<p>
  <strong>Player class:</strong>
  <%= @player_ranking.player_class_id %>
</p>

<p>
  <strong>P player class:</strong>
  <%= @player_ranking.p_player_class_id %>
</p>

<p>
  <strong>Pp player class:</strong>
  <%= @player_ranking.pp_player_class_id %>
</p>

<p>
  <strong>P gd:</strong>
  <%= @player_ranking.p_gd %>
</p>

<p>
  <strong>Pp gd:</strong>
  <%= @player_ranking.pp_gd %>
</p>

<p>
  <strong>Tournament player class:</strong>
  <%= @player_ranking.tournament_player_class_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @player_ranking.rank %>
</p>

<%= link_to 'Edit', edit_player_ranking_path(@player_ranking) %> |
<%= link_to 'Back', player_rankings_path %>
