<div class="p-14 w-full m-auto flex items-center flex-col bg-cover h-screen bg-center bg-no-repeat" style="background-image: url('<%= @location.background_image %>')">
  <h1 class="flex text-gray-200 "><%= t('select_game_mode') %></h1>
  <div class="flex items-center mt-20 flex-row h-1/4 space-x-20">

    <%= custom_link_to t('home.index.tournament'), regions_path, data: { turbo: false }, class: "btn btn-primary ring-4 h-full text-6vw lg:mr-0 mr-0 lg:mt-4 mt-2 p-1" %>
    <%= custom_link_to t('home.index.training'), training_path, data: { turbo: false }, class: "btn btn-primary ring-4 h-full text-6vw lg:mr-0 mr-0 lg:mt-4 mt-2 p-1" %>

  </div>
  <% if false %>
    <h4>development environment</h4>
    <div class="flex flex-col items-center md:flex-row">
      <div>
        <span class="hidden md:inline border border-gray-200 h-10 mr-4"></span>
        <%= custom_link_to "Create a User", new_user_registration_path, class: "btn btn-tertiary outline lg:mr-0 mr-0 lg:mt-4 mt-2 p-1" %>
      </div>
    </div>
  <% end %>
</div>
