<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .space-above {
        margin-top: 15px;
    }

    th, td {
        padding: 8px;
    }
    .dark input {
        background-color: white;
    }
    .dark input[type="submit"] {
        background-color: #2563eb;
    }
</style>
<div class="px-3 lg:px-0">
  <div class="container mx-auto my-8 px-4">
    <div class="max-w-4xl mx-auto">
      <h3><%= I18n.t("tournament_monitors.current_games.current_games_round", round: tournament_monitor.current_round) %>
        <i class="i_expand"></i></h3>
      <div class="flex space-x-20 p-4 dark:">
        <table class="table-monitor dark: table-auto">
          <thead>
          <tr>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.table", :default => "Table") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.player", :default => "Player") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.balls", :default => "Balls") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.of", :default => "of") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.inning", :default => "Inning") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.of", :default => "of") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.hs", :default => "HS") %></th>
            <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.gd", :default => "GD") %></th>
            <%- if tournament_monitor.andand.sets_to_play > 1 %>
              <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.sets", :default => "Sets") %></th>
            <%- end %>
            <th class="noborder"/>
            <th colspan=5><%= I18n.t("tournament_monitors.current_games.current_inning", :default => "Current Inning") %></th>
          </tr>
          <tr>
            <th/>
            <th><%= I18n.t("tournament_monitors.current_games.balls", :default => "Balls") %></th>
            <th colspan=4><%= I18n.t("tournament_monitors.current_games.inputs", :default => "inputs") %></th>
          </tr>
          </thead>
          <tbody>
          <% TableMonitor.includes(:table, :game).where(tournament_monitor: tournament_monitor).order("tables.name asc").each do |tm| %>
            <% if tm.game.present? %>
              <% tm.allow_change_tables = true %>
              <% tm.game.game_participations.includes(:player).order(:role).each_with_index do |gp, ix| %>
                <% active_player = (tm.playing? && tm.data["current_inning"].andand["active_player"] == gp.role) %>
                <tr>
                  <% if ix == 0 %>
                    <td rowspan=<%= tm.allow_change_tables ? 1 : 2 %> class="last-line"><%= custom_link_to(tm.display_name, table_monitor_path(tm)) %>
                      <br/><strong><%= tm.game.display_gname %></strong></td>
                  <% else %>
                    <% if tm.allow_change_tables %>
                      <td>
                        <div class="flex flex-row space-x-2">
                          <%= content_tag "div", class: "min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw focus:outline-none text-gray-400", title: "Exchange table left", data: { reflex: "click->TableMonitorReflex#up", id: tm.id } do %>
                            <%= image_tag("up-icon.png") %>
                          <%- end %>
                          <%= content_tag "div", class: "min-w-1/3 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-4vw focus:outline-none text-gray-400", title: "Exchange table right", data: { reflex: "click->TableMonitorReflex#down", id: tm.id } do %>
                            <%= image_tag("down-icon.png") %>
                          <%- end %>
                        </div>
                    <% end %>
                  <% end %>
                  <%- ev = gp.role == "playerb" ? (gp.game.table_monitor.data["current_left_color"] == 'yellow' ? "" : "bg-yellow-500 dark:bg-gray-900 dark:text-yellow-400") : (gp.game.table_monitor.data["current_left_color"] == 'yellow' ? "bg-yellow-500 dark:text-yellow-400 dark:" : "") %>
                  <td style="font-size:1.2em"<%= " class=\"last-line #{ev} #{gp.role}\"".html_safe %>>
                    <strong><%= gp.player.andand.fullname %><%= " *" if active_player %></strong>
                  </td>
                  <td style="font-size:1.2em"<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <strong><%= tm.data[gp.role].andand["result"] %></strong>
                  </td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= s = tm.data[gp.role].andand["balls_goal"].to_i; s > 0 ? s : "no limit" %>
                  </td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <strong><%= tm.data[gp.role].andand["innings"] %></strong></td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= s = tm.data.andand["innings_goal"].to_i; s > 0 ? s : "no limit" %>
                  </td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= tm.data[gp.role].andand["hs"] %></td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= tm.data[gp.role].andand["gd"] %></td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= tm.data["ba_results"].andand["Sets#{gp.role == 'playera' ? 1 : 2}"] %></td>
                  <td></td>
                  <% if tm.playing? %>
                    <% if active_player %>
                      <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %> style="font-size:1.2em">
                        <strong><%= active_player ? Array(tm.data[gp.role].andand["innings_redo_list"])[-1].to_i : "" %></strong>
                      </td>
                      <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 mt-5 rounded-full font-bold leading-none text-2vw focus:outline-none text-gray-400", title: "Add one to current Inning" do %>
                          <%= number_field_tag(:set_balls, nil, data: { reflex: "change->TableMonitorReflex#set_balls", id: tm.id }, placeholder: "nnn", class: "w-16 border-gray-400 border-2 rounded-md") %>
                        <%- end %><br/>
                      </td>
                      <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none text-gray-400", title: "Subract one to current Inning", data: { reflex: "click->TableMonitorReflex#minus_one", id: tm.id } do %>
                          -1
                        <%- end %><br/>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none text-gray-400", title: "Subract ten to current Inning", data: { reflex: "click->TableMonitorReflex#minus_ten", id: tm.id } do %>
                          -10
                        <%- end %>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none text-gray-400", title: "Add ten to current Inning", data: { reflex: "click->TableMonitorReflex#add_ten", id: tm.id } do %>
                          +10
                        <%- end %>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none text-gray-400", title: "Add one to current Inning", data: { reflex: "click->TableMonitorReflex#add_one", id: tm.id } do %>
                          +1
                        <%- end %>
                      </td>
                      <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none focus:outline-none text-gray-400", title: "Undo", style: "letter-spacing: -3px;", data: { reflex: "click->TableMonitorReflex#undo", id: tm.id } do %><%= render_svg "undo-gray-400", styles: "svg-red fill-current icon-xl text-gray-400 inline-block" %>
                        <%- end %><br/>
                      </td>
                      <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                        <%= content_tag "div", class: "mr-1 min-w-1/10 flex items-center justify-center inline-block spacing-0 rounded-full font-bold leading-none text-2vw focus:outline-none text-gray-400", title: "Inning closed - next player", data: { reflex: "click->TableMonitorReflex#next_step", id: tm.id } do %>
                          next
                        <%- end %>
                      </td>
                    <% end %>
                  <% else %>

                    <%- if tm.state == 'set_over' %>
                      <td colspan=6><%= custom_link_to I18n.t('table_monitor.status.set_over', game_or_set_finished: @game_or_set,
                                                       wait_check: tm.player_controlled? ? 'OK?' : I18n.t('table_monitor.status.wait_check')), evaluate_result_table_monitor_path(tm), method: :post %></td>
                    <%- else %>
                      <td colspan=6><%= custom_link_to I18n.t("table_monitor.status.#{tm.state}", wait_check: tm.player_controlled? ? "OK?" : I18n.t("table_monitor.status.wait_check")), evaluate_result_table_monitor_path(tm), method: :post %></td>
                    <%- end %>
                  <% end %>
                </tr>
              <% end %>
            <% else %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
