<style>
    td.last-line {
        border-bottom-width: 2px;
    }

    td.playerb {
        background-color: #fffcad;
    }

    td.noborder, th.noborder {
        border-style: none;
    }
</style>
<div class="row">
  <div class="col-lg-12">
    <h3><%= I18n.t("tournament_monitors.current_games.current_games_round", round: @tournament_monitor.current_round) %> <i class="i_expand"></i></h3>
    <table>
      <thead>
      <tr>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.table", :default => "Table") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.player", :default => "Player") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.balls", :default => "Balls") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.of", :default => "of") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.inning", :default => "Inning") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.of", :default => "of") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.hs", :default => "HS") %></th>
        <th rowspan="2"><%= I18n.t("tournament_monitors.current_games.gd", :default => "GD") %></th>
        <th class="noborder"/>
        <th colspan=5><%= I18n.t("tournament_monitors.current_games.current_inning", :default => "Current Inning") %></th>
      </tr>
      <tr>
        <th/>
        <th><%= I18n.t("tournament_monitors.current_games.balls", :default => "Balls") %></th>
        <th colspan=4><%= I18n.t("tournament_monitors.current_games.inputs", :default => "inputs") %></th>
      </tr>
      </thead>
      <tbody>
      <% @tournament_monitor.andand.table_monitors.andand.order(:name).andand.each do |tm| %>
        <% if tm.game.present? %>
          <% tm.allow_change_tables = true %>
          <% tm.game.game_participations.order(:role).each_with_index do |gp, ix| %>
            <% active_player = (tm.playing_game? && tm.data["current_inning"].andand["active_player"] == gp.role) %>
            <tr>
              <% if ix == 0 %>
                <td rowspan=<%= tm.allow_change_tables ? 1 : 2 %> class="last-line"><%= tm.display_name %><br/><strong><%= tm.game.display_gname %></strong></td>
              <% else %>
                <% if tm.allow_change_tables %>
                  <td><%= link_to image_tag("up-icon.png"), up_table_monitor_path(tm), method: :post %>&nbsp;
                    <%= link_to image_tag("down-icon.png"), down_table_monitor_path(tm), method: :post %></td>
                <% end %>
              <% end %>
              <td style="font-size:1.2em"<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <strong><%= gp.player.lastname %><%= " *" if active_player %></strong>
              </td>
              <td style="font-size:1.2em"<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <strong><%= tm.data[gp.role].andand["result"] %></strong>
              </td>
              <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <%= tm.data[gp.role].andand["balls_goal"] %>
              </td>
              <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <strong><%= gp.innings %></strong></td>
              <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <%= tm.data[gp.role].andand["innings_goal"] %>
              </td>
              <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <%= gp.hs %></td>
              <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                <%= gp.gd %></td>
              <td></td>
              <% if tm.playing_game? %>
                <% if active_player %>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %> style="font-size:1.2em">
                    <strong><%= active_player ? tm.data["current_inning"].andand["balls"] : "" %></strong></td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= form_tag(set_balls_table_monitor_path(tm)) do %>
                      <%= text_field_tag(:add_balls, "", size: 4) %>
                    <% end %>
                  </td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= button_to [:add_one, tm] do %>
                      <strong style="font-size: 1.2em">+1</strong>
                    <% end %><br/>
                    <%= button_to [:add_ten, tm] do %>
                      <strong style="font-size: 1.2em">+10</strong>
                    <% end %>
                  </td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= button_to I18n.t("tournament_monitors.current_games.undo", :default => "undo"), [:undo, tm] %>
                    <%= button_to I18n.t("tournament_monitors.current_games.redo", :default => "redo"), [:redo, tm] %>
                  </td>
                  <td<%= " class=\"last-line #{gp.role}\"".html_safe if ix == 1 %>>
                    <%= button_to [:next_step, tm] do %>
                      <strong><%= I18n.t("tournament_monitors.current_games.next", :default => "next") %></strong>
                    <% end %>
                  </td>
                <% end %>
              <% else %>
                <td colspan=6><%= I18n.t("tournament_monitors.current_games.game_finished", :default => "Game Finished") %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
