  <div class="col-lg-12">
    <h3>Group Stage Game List</h3>
    <%- (1..@tournament_monitor.tournament.tournament_plan.ngroups).each do |g_no| %>
    <h5>Group <%= g_no %></h5>
      <table>
        <thead>
        <tr>
          <th>Game</th>
          <th>#</th>
          <th>PlayerA</th>
          <th>PlayerB</th>
          <th colspan=2>Balls</th>
          <th colspan=2>Innings</th>
          <th colspan=2>GD</th>
          <th colspan=2>HS</th>
        </tr>
        </thead>
        <tbody>
        <%- @tournament_monitor.tournament.games.where("gname ilike 'group#{g_no}%'").order(:gname).each do |game| %>
        <tr>
          <%- gpa = game.game_participations.where(role:"playera").first; playera = gpa.andand.player %>
          <%- gpb = game.game_participations.where(role:"playerb").first; playerb = gpb.andand.player %>
          <td><%= game.gname %></td>
          <td><%= game.seqno %></td>
          <td><%= playera.andand.fullname %></td>
          <td><%= playerb.andand.fullname %></td>
          <td><%= gpa.points %></td>
          <td><%= gpb.points %></td>
          <td><%= gpa.innings %></td>
          <td><%= gpb.innings %></td>
          <td><%= gpa.gd %></td>
          <td><%= gpb.gd %></td>
          <td><%= gpa.hs %></td>
          <td><%= gpb.hs %></td>

        </tr>
        <%- end %>
        </tbody>
      </table>
    <% end %>
  </div>
