<p id="notice"><%= notice %></p>

<h1>Listing Tournament Monitors</h1>

<table>
  <thead>
    <tr>
      <th>Tournament</th>
      <th>Data</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_monitors.each do |tournament_monitor| %>
      <tr>
        <td><%= tournament_monitor.tournament_id %></td>
        <td><%= tournament_monitor.data %></td>
        <td><%= tournament_monitor.state %></td>
        <td><%= link_to 'Show', tournament_monitor %></td>
        <td><%= link_to 'Edit', edit_tournament_monitor_path(tournament_monitor) %></td>
        <td><%= link_to 'Destroy', tournament_monitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament execution', new_tournament_monitor_path %>

<h2>TournamentMonitor::Versions</h2>
<p>This table is displaying TournamentMonitor::Version which is its own versions table. Only last 10.</p>
<table cellpadding=10 border=1>
  <thead>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
    <th>whodunnit</th>
    <th>When</th>
    <th>Object (after Changes)</th>
    <th>Object Changes</th>
  </tr>
  </thead>
  <tbody>
  <% if PaperTrail::Version.all.any? %>
    <% PaperTrail::Version.all.last(200).reverse.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= version.event %></td>
        <td><%= User.find(version.whodunnit).email %></td>
        <td><%= version.created_at %></td>
        <td><pre><%= version.item_type %><br/><%= version.object %></pre></td>
        <td><pre><%= JSON.pretty_generate(version.changeset) %></pre></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>