<%#= render :partial => "tournaments/show", locals: {tournament: @tournament_monitor.tournament, subtitle: "Tournament Monitor"} %>
<div class="px-3 lg:px-0">
  <div class="container mx-auto my-8 px-4">
    <h2 class="text-center"><%= t("tournaments.tournament_monitor") %></h2>
    <h3 class="text-center"><%= custom_link_to @tournament_monitor.tournament.title, tournament_path(@tournament_monitor.tournament) %></h3>
    <div class="mx-auto">

      <%- if @tournament_monitor.andand.tournament.andand.tournament_plan.present? %>
        <div class="flex space-x-10 p-4  dark:">
          <div class="flex-1 flex-col">
            <h4><%= I18n.t("tournament_monitors.show.tournament_phase", :default => "Tournament:") %></h4>
            <%= @tournament_monitor.state.gsub("_", " ") %>
          </div>
          <% TableMonitor.includes(:table, :game).where(tournament_monitor: @tournament_monitor).order(:name).each do |tabmon| %>
          <%# @tournament_monitor.table_monitors.includes(game: {game_participations: :player}).order(:name).each do |tabmon| %>
            <div class="flex-1 flex-col">
              <h4><%= "#{tabmon.display_name}" %>:</h4>
              <%= tabmon.state.gsub("_", " ") %><br/>
              <% if tabmon.game.present? %>
                <%= I18n.t("tournament_monitors.show.playing", :default => "playing ") %><%= tabmon.game.andand.display_gname %>
<!--                <br/>-->
                <%- player_a = tabmon.game.game_participations.where(role: "playera").first.andand.player %>
                <%- player_b = tabmon.game.game_participations.where(role: "playerb").first.andand.player %>
                <strong class="flex 1 mt-4 text-black dark:text-white"><%= player_a.andand.fullname %></strong>
                <strong class="flex 1 mb-4 text-yellow-400"><%= player_b.andand.fullname %></strong>
                <%= button_to "#{player_b.andand.fullname} stößt an!", switch_players_tournament_monitor_path(@tournament_monitor, game_id: tabmon.game.id), class: "btn btn-primary" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= button_to I18n.t("tournament_monitors.show.start_tournament", :default => "Start Tournament"), start_tournament_path(@tournament_monitor.tournament), class: "btn btn-flat btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%- if @tournament_monitor.tournament.tournament_plan.present? && @tournament_monitor.data.present? %>
  <% @groups = TournamentMonitor.distribute_to_group(@tournament_monitor.tournament.seedings.where.not(state: "no_show").where("seedings.id >= #{Seeding::MIN_ID}").order(:position).map(&:player), @tournament_monitor.tournament.tournament_plan.ngroups) %>
  <div class="px-3 lg:px-0">
    <div class="container mx-auto my-8 px-4">
      <div class="max-w-3xl mx-auto">
        <%= render partial: "tournaments/groups", locals: { tournament_plan: @tournament_monitor.tournament.tournament_plan, groups: @groups } %>
      </div>
      <div id="tournament_monitor_current_games_<%= @tournament_monitor.id %>" class="col-sm-10 space-above">
        <%= render partial: "current_games", locals: { tournament_monitor: @tournament_monitor } %>
      </div>
    </div>
  </div>
  <hr/>
  <%- tmons = TableMonitor.includes(:table).joins(:table).where(tournament_monitor: @tournament_monitor).order("tables.name asc").to_a %>
  <div class="flex flex-col bg-green-700 h-screen">
    <div class="flex flex-1 mb-4 flex-row">
      <div class="flex flex-1 mr-4 bg-yellow-50">
        <%- if tmons[0].present? && tmons[0].data.present? %>
          <div id="table_monitor_<%= tmons[0].id %>" class="table_monitor flex-1">
            <%- tmons[0].andand.get_options!(I18n.locale) %>
            <%= render partial: "table_monitors/show", locals: { table_monitor: tmons[0], full_screen: false } %>
          </div>
        <%- end %>
      </div>
      <div class="flex flex-1 bg-yellow-50">
        <%- if tmons[1].present? && tmons[1].data.present? %>
          <div id="table_monitor_<%= tmons[1].id %>" class="table_monitor flex-1">
            <%- tmons[1].andand.get_options!(I18n.locale) %>
            <%= render partial: "table_monitors/show", locals: { table_monitor: tmons[1], full_screen: false } %>
          </div>
        <%- end %>
      </div>
    </div>
    <div class="flex flex-1 flex-row">
      <div class="flex flex-1 mr-4 bg-yellow-50">
        <%- if tmons[2].present? && tmons[2].data.present? %>
          <div id="table_monitor_<%= tmons[2].id %>" class="table_monitor flex-1">
            <%- tmons[2].andand.get_options!(I18n.locale) %>
            <%= render partial: "table_monitors/show", locals: { table_monitor: tmons[2], full_screen: false } %>
          </div>
        <%- end %>
      </div>
      <div class="flex flex-1 bg-yellow-50">
        <%- if tmons[3].present? && tmons[3].data.present? %>
          <div id="table_monitor_<%= tmons[3].id %>" class="table_monitor flex-1">
            <%- tmons[3].andand.get_options!(I18n.locale) %>
            <%= render partial: "table_monitors/show", locals: { table_monitor: tmons[3], full_screen: false } %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="px-3 lg:px-0">
    <div class="container max-w-4xl mx-auto my-8 px-4">
      <div id="tournament_monitor_game_results_<%= @tournament_monitor.id %>" class="max-w-4xl mx-auto">
        <%= render partial: "game_results", locals: { tournament_monitor: @tournament_monitor, edit_games_modus: true } %>
      </div>
      <div id="tournament_monitor_rankings_<%= @tournament_monitor.id %>" class="col-sm-4 space-above">
        <%= render partial: "rankings", locals: { tournament_monitor: @tournament_monitor, totals: true } %>
      </div>
    </div>
  </div>
<%- end %>

