<p id="notice"><%= notice %></p>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
    }

    hr {
        border: 2px solid black;
        border-collapse: collapse;
    }
</style>
<%= render :partial => "tournaments/show", locals: {tournament: @tournament_monitor.tournament, subtitle: "Tournament Monitor"} %>
<% if @tournament_monitor.present? %>
  <div class="row">
    <div class="col-sm-2" , style="margin-bottom: 10px; margin-left: 10px">
      <strong>Tournament:</strong>
      <%= @tournament_monitor.state %>
    </div>
    <% @tournament_monitor.table_monitors.order(:name).each do |tabmon| %>
      <div class="col-sm-2" , style="margin-bottom: 10px; margin-left: 10px">
        <strong><%= "#{tabmon.name.capitalize}" %>:</strong>
        <%= tabmon.state %><br/>
        <% if tabmon.game.present? %>
          playing <%= tabmon.game.andand.gname %><br/>
          <strong><%= tabmon.game.game_participations.where(role: "playera").first.player.lastname %></strong><br/>
          <strong><%= tabmon.game.game_participations.where(role: "playerb").first.player.lastname %></strong><br/>
          <%= button_to "Switch Players", switch_players_tournament_monitor_path(@tournament_monitor, game_id: tabmon.game.id) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= button_to "Start Tournament", start_tournament_path(@tournament_monitor.tournament) %>
<% end %>
<% @groups = TournamentMonitor.distribute_to_group(@tournament_monitor.tournament.seedings.order(:position).map(&:player), @tournament_monitor.tournament.tournament_plan.ngroups) %>
<div class="row">
  <div class="col-sm-2">
    <%= render partial: "tournaments/groups", locals: {tournament_plan: @tournament_monitor.tournament.tournament_plan, groups: @groups} %>
  </div>
  <div class="col-sm-10">
    <%= render partial: "current_games", locals: {tournament_monitor: @tournament_monitor} %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-8">
    <%= render partial: "game_results", locals: {tournament_monitor: @tournament_monitor} %>
  </div>
  <div class="col-sm-4">
    <%= render partial: "rankings", locals: {tournament_monitor: @tournament_monitor} %>
  </div>
</div>
