<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament_template.name %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= "#{@tournament_template.discipline.name} - #{@tournament_template.discipline.table_size}" %>
</p>

<p>
  <strong>Points:</strong>
  <%= @tournament_template.points %>
</p>

<p>
  <strong>Innings:</strong>
  <%= @tournament_template.innings %>
</p>

<%= link_to 'Edit', edit_tournament_template_path(@tournament_template) %> |
<%= link_to 'Back', tournament_templates_path %>
