<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Party Game Ccs</h1>

    <% if @party_game_ccs.any? %>
      <%= button_to 'New Party Game Cc', new_party_game_cc_path, disabled: !current_user&.admin?, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @party_game_ccs.any? %>
    <div class=" rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :cc_id,'Cc', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :seqno,'Seqno', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :player_a_id,'Player a', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :player_b_id,'Player b', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :data,'Data', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :name,'Name', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_game_ccs, :discipline_id,'Discipline', request.params, class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @party_game_ccs.each do |party_game_cc| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                      <td class="p-3"><%= party_game_cc.cc_id %></td>
                      <td class="p-3"><%= party_game_cc.seqno %></td>
                      <td class="p-3"><%= party_game_cc.player_a_id %></td>
                      <td class="p-3"><%= party_game_cc.player_b_id %></td>
                      <td class="p-3"><%= party_game_cc.data %></td>
                      <td class="p-3"><%= party_game_cc.name %></td>
                      <td class="p-3"><%= party_game_cc.discipline_id %></td>

            <td>
              <%= custom_link_to "View", party_game_cc, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject{|k,v| k == "table_only"})%>
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
            <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
      </svg>
      <div class="flex-1 text-center">

        <%= button_to 'New Party Game Cc', new_party_game_cc_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
