<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Party Game Ccs', party_game_ccs_path %> > Party Game Cc #<%= @party_game_cc.id %></h1>
      <%= custom_link_to 'Edit', edit_party_game_cc_path(@party_game_cc), class: "btn btn-link" %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Cc</h5>
        <%= @party_game_cc.cc_id %>
      </div>
            <div class="mb-4">
        <h5>Seqno</h5>
        <%= @party_game_cc.seqno %>
      </div>
            <div class="mb-4">
        <h5>Player a</h5>
        <%= @party_game_cc.player_a_id %>
      </div>
            <div class="mb-4">
        <h5>Player b</h5>
        <%= @party_game_cc.player_b_id %>
      </div>
            <div class="mb-4">
        <h5>Data</h5>
        <%= @party_game_cc.data %>
      </div>
            <div class="mb-4">
        <h5>Name</h5>
        <%= @party_game_cc.name %>
      </div>
            <div class="mb-4">
        <h5>Discipline</h5>
        <%= @party_game_cc.discipline_id %>
      </div>
          </div>
  </div>
</div>
