<div class=" rounded shadow table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :name,'Name', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :shortname,'Shortname', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :league_id,'League', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :season_id,'Season', request.params, class: 'text-gray-700' %></th>
<!--      <th class="p-3 uppercase text-left text-xs"><%#= sortable @league_teams, :ba_id,'Ba', request.params, class: 'text-gray-700' %></th>-->
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :cc_id,'Cc', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :club_id,'Club', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :source_url,'Source', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @league_teams, :sync_date,'Sync Date', request.params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @league_teams.each do |league_team| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= league_team.name %></td>
        <td class="p-3"><%= league_team.shortname %></td>
        <td class="p-3"><%= custom_link_to league_team.league.name, league_path(league_team.league) %></td>
        <td class="p-3"><%= custom_link_to league_team.league.season.name, season_path(league_team.league.season) %></td>
<!--        <td class="p-3"><%#= custom_link_to( league_team.ba_id, "https://nbv.billardarea.de/cms_teams/show/#{league_team.ba_id}", class: "yellow_link", target: :_blank) if league_team.ba_id.present? %></td>-->
        <td class="p-3"><%= link_to_if league_team.cc_id.present?, league_team.cc_id, league_team.cc_id_link, target: :_blank %></td>
        <td class="p-3"><%= custom_link_to league_team.club.shortname, club_path(league_team.club) if league_team.club.present? %></td>
        <td class="p-3"><%= link_to_if league_team.source_url.present?, league_team.source_url.present? ? URI.parse(league_team.source_url).host : "", league_team.source_url, target: :_blank %></td>
        <td class="p-3"><%= league_team.sync_date.andand.to_date %></td>

        <td>
          <%= custom_link_to "View", league_team, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject{|k,v| k == "table_only"})%>
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
