<div class=" rounded shadow table-responsive">
  <table class="table">
    <% @discipline_tournament_plans ||= records %>
    <% @pagy ||= defined?(pagy) ? pagy : nil %>
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @discipline_tournament_plans, :discipline_id, 'Discipline', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @discipline_tournament_plans, :tournament_plan_id, 'Tournament plan', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @discipline_tournament_plans, :points, 'Points', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @discipline_tournament_plans, :innings, 'Innings', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @discipline_tournament_plans, :players, 'Players', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @discipline_tournament_plans, :player_class, 'Player class', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-300 w-20"><%= t('actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @discipline_tournament_plans.each do |discipline_tournament_plan| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to discipline_tournament_plan.discipline.name, discipline_path(discipline_tournament_plan.discipline) %></td>
        <td class="p-3"><%= custom_link_to discipline_tournament_plan.tournament_plan.name, tournament_plan_path(discipline_tournament_plan.tournament_plan) if discipline_tournament_plan.tournament_plan.present? %></td>
        <td class="p-3"><%= discipline_tournament_plan.points %></td>
        <td class="p-3"><%= discipline_tournament_plan.innings %></td>
        <td class="p-3"><%= discipline_tournament_plan.players %></td>
        <td class="p-3"><%= discipline_tournament_plan.player_class %></td>

        <td>
          <%= custom_link_to t('view'), discipline_tournament_plan, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
