<%= form_with(model: table_local) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :tpl_ip_address %>
    <%= form.text_field :tpl_ip_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :table_id %>
    <%= form.number_field :table_id, class: "form-control" %>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= custom_link_to t("cancel"), table_locals_path, class: "btn btn-white" %>
    <% else %>
      <%= custom_link_to t("cancel"), table_local_path(@table_local), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
