<%= content_for :title, "Table Locals" %>
<%= turbo_stream_from :table_locals %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Table Locals</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500">Sortiere nach:</span>
        <%= sortable @table_locals, :tpl_ip_address,"Tpl ip address", params, class: "text-gray-700 mr-1" %>
        <%= sortable @table_locals, :ip_address,"Ip address", params, class: "text-gray-700 mr-1" %>
        <%= sortable @table_locals, :table_id,"Table", params, class: "text-gray-700 mr-1" %>
      </div>
    </div>

    <%= custom_link_to t("shared.scaffold.new.title", model: "Table Local"), new_table_local_path, class: "btn btn-white" %>
  </div>

  <%= tag.div id: ("table_locals" if first_page?), class: " rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "table_locals/index", collection: @table_locals, as: :table_local, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
            <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
      </svg>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Table Local</p>
        <%= custom_link_to t("shared.scaffold.new.title", model: "Table Local"), new_table_local_path, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
