<%= content_for :title, "Table Locals ##{@table_local.id}" %>
<%= turbo_stream_from @table_local %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= custom_link_to "Table Locals", table_locals_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Table Local #<%= @table_local.id %>
    </h1>
    <%= custom_link_to t("edit"), edit_table_local_path(@table_local), class: "btn btn-white" %>
  </div>

  <div class="p-8  rounded shadow">
    <%= render @table_local %>
  </div>
</div>
