<div class="bg-white dark:bg-black rounded shadow table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, :ba_id, 'Ba', class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, :cc_id, 'Cc', class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, "clubs.shortname", 'Club', class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, "regions.shortname", 'Region', class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, :lastname, t('player.lastname'), class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, :nickname, t('player.nickname'), class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, :firstname, t('player.firstname'), class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @players, :title, 'Title', class: 'text-gray-700 dark:text-gray-200' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-200 w-20"><%= t('actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @players.each do |player| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:bg-gray-800">
        <td class="p-3"><%= link_to_if player.andand.club.present?, player.ba_id, "https://#{player.club.andand.region.andand.shortname.andand.downcase || "nbv"}.billardarea.de/cms_clubs/playerdetails/#{player.club.andand.ba_id || 2191}/#{player.ba_id}" %></td>
        <td class="p-3"><%= link_to_if player.cc_id.present?, player.cc_id, "https://ndbv.club-cloud.de/suche.php?p=20---#{player.cc_id}-#{player.cc_id}-2021/2011-1" %></td>
        <td class="p-3"><%= link_to player.club.shortname, club_path(player.club) if player.andand.club.present? %></td>
        <td class="p-3"><%= link_to player.club.region.shortname, region_path(player.club.region) if player.andand.club.andand.region.present? %></td>
        <td class="p-3"><%= player.lastname %></td>
        <td class="p-3"><%= player.nickname %></td>
        <td class="p-3"><%= player.firstname %></td>
        <td class="p-3"><%= player.title %></td>

        <td>
          <%= link_to t('view'), player, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject{|k,v| k == "table_only"})%>
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
