<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to t('country.index.countries'), countries_path %> > <%= @country.name %></h1>
      <%= button_to( 'Edit', edit_country_path(@country), method: :get, disabled: !current_user&.admin?, class: "btn btn-link") %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Name</h5>
        <%= @country.name %>
      </div>
            <div class="mb-4">
        <h5>Code</h5>
        <%= @country.code %>
      </div>
          </div>
  </div>
</div>
