<p class="text-red-500">
  <%= t('tournaments.show.syncing_with_billard_area').html_safe %>
</p>
<p> <%= link_to I18n.t("tournaments.show.reload_from_billard_area"), reload_from_t_tournament_path(@t_tournament), method: :post, style: "float: left; margin-right: 10px;", class: "" %></p>
<br>
<%= form_with(model: t_tournament) do |form| %>

  <%- loc_ids = Array(t_tournament.andand.region.andand.tournament_locations.andand.map(&:id)) +
    Array(t_tournament.andand.region.andand.clubs.andand.map(&:tournament_locations).andand.flatten.andand.map(&:id))
  %>
  <div class="form-group">
    <%= form.label :location %>
    <%= form.select :location_id,
                    options_for_select(Location.where(id: loc_ids).order(:name).map { |loc| [loc.name, loc.id] }, tournament.tournament_location.andand.id),
                    {:prompt => true}, class: "form-control border rounded border-gray-500" %>
  </div>

  <%- if t_tournament.andand.region.present? %>

    <div class="form-group">
      <%= form.label :organizer %>
      <%= form.collection_select :organizer_gid, @organizers, :to_global_id, :name, {:selected => tournament.organizer.andand.to_global_id, :prompt => true},  class: "form-control border rounded border-gray-500" %>
    </div>
  <%- end %>

  <%- if tournament.andand.discipline.present? %>
    <%- @disciplines = Discipline.all.order(:name).all %>

    <div class="form-group">
      <%= form.label :discipline_id %>
      <%= form.collection_select :discipline_gid, @disciplines, :id, :name, {:selected => tournament.discipline_id, :prompt => true},  class: "form-control border rounded border-gray-500" %>
    </div>
  <%- end %>

  <div class="form-group">
    <%= form.label :player_class %>
    <%= form.select :player_class, options_for_select(["I", "II", "III", "1", "2", "3", "4", "5", "6", "7"], tournament.player_class),{:selected => tournament.player_class, :prompt => true}, class: "form-control border rounded border-gray-500" %>
  </div>

  <div class="form-group">
    <%= form.label :innings_goal %>
    <%= form.number_field :innings_goal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :balls_goal %>
    <%= form.number_field :balls_goal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :handicap_tournier %>
    <%= form.check_box :handicap_tournier, class: "form-control" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>
  </div>
<% end %>
