<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Party Tournaments</h1>

    <% if @party_tournaments.any? %>
      <%= link_to 'New Party Tournament', new_party_tournament_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @party_tournaments.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_tournaments, :party_id, 'Party', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_tournaments, :tournament_id, 'Tournament', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @party_tournaments, :position, 'Position', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @party_tournaments.each do |party_tournament| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= link_to party_tournament.party.name, party_path(party_tournament.party) %></td>
                      <td class="p-3"><%= link_to party_tournament.tournament.name, tournament_path(party_tournament.tournament) %></td>
                      <td class="p-3"><%= party_tournament.position %></td>

            <td>
              <%= link_to "View", party_tournament, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%- request.set_header("action_dispatch.request.query_parameters", request.headers["action_dispatch.request.query_parameters"].reject{|k,v| k == "table_only"})%>
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Party Tournament</p>
        <%= link_to 'New Party Tournament', new_party_tournament_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
