<div class=" rounded shadow table-responsive">
  <table class="table">
    <% @game_participations ||= records %>
    <% @pagy ||= defined?(pagy) ? pagy : nil %>
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :game_id,'Game', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :player_id,'Player', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :role,'Role', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :data,'Data', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :points,'Points', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :result,'Result', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :innings,'Innings', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :gd,'Gd', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :hs,'Hs', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @game_participations, :gname,'Name', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-300 w-20"><%= t('actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @game_participations.each do |game_participation| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="p-3"><%= game_participation.game_id %></td>
        <td class="p-3"><%= game_participation.player_id %></td>
        <td class="p-3"><%= game_participation.role %></td>
        <td class="p-3"><%= game_participation.data %></td>
        <td class="p-3"><%= game_participation.points %></td>
        <td class="p-3"><%= game_participation.result %></td>
        <td class="p-3"><%= game_participation.innings %></td>
        <td class="p-3"><%= game_participation.gd %></td>
        <td class="p-3"><%= game_participation.hs %></td>
        <td class="p-3"><%= game_participation.display_gname %></td>

        <td>
          <%= custom_link_to t('view'), game_participation, class: "btn btn-link no-underline" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
