<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= custom_link_to 'Player Classes', player_classes_path %> > Player Class #<%= @player_class.id %></h1>
      <%= button_to( 'Edit', edit_player_class_path(@player_class), disabled: !current_user&.admin?, class: "btn btn-link") %>
    </div>

    <div class=" rounded shadow p-8">
            <div class="mb-4">
        <h5>Discipline</h5>
        <%= @player_class.discipline_id %>
      </div>
            <div class="mb-4">
        <h5>Shortname</h5>
        <%= @player_class.shortname %>
      </div>
          </div>
  </div>
</div>
