<div>
  <% @regions ||= records %>
  <% @pagy ||= pagy %>
  <div id="regions_table" class=" rounded shadow table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="p-3 uppercase text-left text-xs">Logo</th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :name,'Name(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :public_cc_url_base,'Shortname(*)(CC Link)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :email,"Email(*)<br>Kontakt-Formular".html_safe, params, class: 'text-gray-700 dark:text-gray-300' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :address,'Address(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :country_id,'Country', params, class: 'text-gray-700 dark:text-gray-300' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :source_url,'Source', params, class: 'text-gray-700' %></th>
        <th class="p-3 uppercase text-left text-xs"><%= sortable @regions, :sync_date,'Sync Date', params, class: 'text-gray-700' %></th>
        <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-300 w-20"><%= t('actions') %></th>
      </tr>
      </thead>

      <tbody>
      <% @regions.each do |region| %>
        <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:bg-gray-700">
          <td class="p-3 w-24"><%= (image_tag(region.logo) if region.logo.present?) %></td>
          <td class="p-3"><%= custom_link_to(region.name, region_path(region)) %></td>
          <td class="p-3"><%= custom_link_to("#{region.shortname}", region.public_cc_url_base, class: "green_link", target: :_blank) if region.public_cc_url_base.present? %></td>
          <td class="p-3"><%= region.email.to_s =~ /kontakt.php/ ? region.email.to_s.gsub("kontakt.php", "#{region.public_cc_url_base}kontakt.php").andand.html_safe : mail_to(region.email) %></td>
          <td class="p-3"><%= region.address.andand.gsub(/\n+/, "<br />").andand.html_safe %></td>
          <td class="p-3">
            <% if region.country %>
              <%= custom_link_to(region.country.code, country_path(region.country)) %>
            <% end %>
          </td>
          <td class="p-3"><%= link_to_if region.source_url.present?, region.source_url.present? ? URI.parse(region.source_url).host : "", region.source_url, target: :_blank %></td>
          <td class="p-3"><%= region.sync_date.andand.to_date %></td>

          <td>
            <%= custom_link_to t('view'), region, class: "btn btn-link no-underline" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if @pagy.present? && @pagy.pages > 1 %>
    <div class="text-center my-6">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
