<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Regions</h1>

    <% if @regions.any? %>
      <div class="flex flex-row">
        <div class="flex w-full">
          <form action="/regions" method="get" target="table_wrapper" data-reflex-serialize-form="true">
            <%= search_field_tag :sSearch, @sSearch, id: 'sSearch', data: { reflex: "input->SearchReflex#perform", reflex_permanent: "search" }, placeholder: "Search" %>
          </form>
        </div>
        <div id="helpSearch" class="flex pl-3" data-controller="tooltip" data-tippy-content="Search Field - z.B.: info region:nbv season:2022/2023" data-tippy-delay="0" data-tippy-arrow="true" data-tippy-size="regular" data-tippy-animation="fade">
          <%= render_svg "icons/information-outline", styles: "fill-current icon-sm text-gray-700 dark:text-gray-800 hover:text-gray-800 hover: dark: inline-blocktable_monitor.save" %>
        </div>
      </div>
      <%= button_to('New Region', new_region_path, disabled: !current_user&.admin?, class: "btn btn-primary") if current_user&.admin? %>
    <% end %>
  </div>

  <% if @regions.any? %>
    <div id="table_wrapper">
      <%= render partial: 'regions_table' %>
    </div>
  <% else %>
    <div class=" rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Region</p>
        <%= button_to 'New Region', new_region_path, method: :get, disabled: !current_user&.admin?, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
