<script>
  function searchRegions(selectObj, tableOnly) {
    Rails.ajax({
      type: "GET",
      url: "/regions?sSearch=" + document.getElementById("search").value.replace(/&/g, '%26') + "&table_only=true",
      success: function (response) {
        var elem = document.getElementById("table_wrapper");
        elem.innerHTML = response.body.innerHTML;
      },
      error: function (response) {
        console.log(response.responseText);
      }
    })
  }

  document.addEventListener("turbolinks:load", function () {
    //searchRegions(document.getElementById("search"), false);
  })
</script>
<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Regions</h1>

    <% if @regions.any? %>
      <div class="flex-row w-2/4">
        <div class="flex-row">
          <input oninput="searchRegions(this, true)" value="<%= params[:sSearch] %>" id="search" name="search" class="block appearance-none placeholder-gray-500 placeholder-opacity-50 border border-light-blue-400 rounded-md w-full py-2 px-3 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300" placeholder="Search">
        </div>
      </div>
      <%= link_to('New Region', new_region_path, class: "btn btn-primary") if current_user.andand.admin? %>
    <% end %>
  </div>

  <% if @regions.any? %>
    <div id="table_wrapper">
      <%= render partial: 'regions_table' %>
    </div>
  <% else %>
    <div class="bg-white dark:bg-black rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Region</p>
        <%= link_to 'New Region', new_region_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
