<div class="h-[calc(100vh-4rem)] overflow-y-auto">
  <div class="sidebar-menu">
    <% if Current.user&.email == "scoreboard@carambus.de" %>
      <%= link_to location_path(Carambus.config.location_id,
                                sb_state: session[:sb_state],
                                table_id: session[:table_id],
                                collapse_menu: true),
                  class: "mb-4 block px-4 py-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-md border-2 border-blue-500 dark:border-blue-400",
                  data: {
                    turbo: false,
                    action: "click->sidebar#collapse"
                  } do %>
        <div class="flex items-center justify-center">
          <span class="text-center font-medium">
            <%= t('back_to_scoreboard') %>
          </span>
        </div>
      <% end %>
    <% end %>
    <ul class="space-y-2 list-none">
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <path d="M3.75 19.5h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.organisation", :default => "Organisation") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.region", :default => "Region"), regions_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.club", :default => "Club"), clubs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("location.index.locations", :default => "Location"), locations_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
        </ul>
      </li>
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <path d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.spieler", :default => "Spieler") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.season", :default => "Season"), seasons_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.seasonparticipation", :default => "SeasonParticipation"), season_participations_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.player", :default => "Player"), players_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to I18n.t("home.index.pankings", :default => "Disziplin-Ranglisten"), rankings_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>

        </ul>
      </li>
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" fill="none" stroke="currentColor">
              <path d="M3 10h18M3 14h18m-18-4h18M5 4h14a2 2 0 012 2v12a2 2 0 01-2 2H5a2 2 0 01-2-2V6a2 2 0 012-2z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.partien", :default => "Partien") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.game", :default => "Game"), games_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.gameparticipation", :default => "GameParticipation"), game_participations_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.player_rankings", :default => "Player Rankings"), player_rankings_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
        </ul>
      </li>
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" stroke="currentColor">
              <path fill="none" d="M6 9H4.5a2.5 2.5 0 0 1 0-5H6m0 5v6m0-6h12m0 0h1.5a2.5 2.5 0 0 0 0-5H18m-12 5V4h12v11M6 20h12M9 17l3 3 3-3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.tournaments", :default => "Turniere") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.seeding", :default => "Seeding"), seedings_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.tournament", :default => "Tournament"), tournaments_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
        </ul>
      </li>
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" stroke="currentColor">
              <path fill="none" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zm6-4.875C9 7.504 9.504 7 10.125 7h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25A1.125 1.125 0 019 19.375V8.25zm6-3.75C15 3.504 15.504 3 16.125 3h2.25C19.496 3 20 3.504 20 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25A1.125 1.125 0 0115 19.875V4.125z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.leagues", :default => "Ligen") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.league", :default => "League"), leagues_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.league_teams", :default => "LeagueTeam"), league_teams_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.league_parties", :default => "Parties"), parties_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.party_games", :default => "Party Games"), party_games_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.game_plans", :default => "Game Plans"), game_plans_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
        </ul>
      </li>
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" stroke="currentColor">
              <path fill="none" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.tournierplanung", :default => "Turnierplanung") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.tournamentmonitor", :default => "TournamentMonitor"), tournament_monitors_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.tablemonitor", :default => "TableMonitor"), table_monitors_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.discipline", :default => "Discipline"), disciplines_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to "Discipline Phases", discipline_phases_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.table_kind", :default => "Table Kind"), table_kinds_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.disciplinetournamentplan", :default => "DisciplineTournamentPlan"), discipline_tournament_plans_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.tournamentplan", :default => "TournamentPlan"), tournament_plans_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.party_monitors", :default => "Matchday Monitor"), party_monitors_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to "Slots", slots_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to "Table Locals", table_locals_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.country", :default => "Country"), countries_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
        </ul>
      </li>
      <%- if current_user&.system_admin? %>
        <li>
          <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
            <span class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" stroke="currentColor">
                <path fill="none" d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
              <%= I18n.t("home.index.club_cloud", :default => "Club Cloud") %>
            </span>
            <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          </button>
          <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
            <li><%= link_to "Meta Maps", meta_maps_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Migration", migration_cc_region_path(Region[1]), class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Region Ccs", region_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Branch Ccs", branch_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Competition Ccs", competition_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Season Ccs", season_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "League Ccs", league_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "League Team Ccs", league_team_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Party Ccs", party_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Party Game Ccs", party_game_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Game Plan Row Ccs", game_plan_row_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Game Plan Ccs", game_plan_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Tournament Ccs", tournament_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Category Ccs", category_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Championship Type Ccs", championship_type_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Group Ccs", group_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Registration Ccs", registration_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Registration List Ccs", registration_list_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Tournament Series Ccs", tournament_series_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Ion Contents", ion_contents_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Ion Modules", ion_modules_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
            <li><%= link_to "Discipline Ccs", discipline_ccs_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          </ul>
        </li>
      <%- end %>
      <li>
        <button data-action="sidebar#toggle" class="w-full flex items-center justify-between p-2 text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded">
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-4 text-gray-800 dark:text-gray-300" viewBox="0 0 24 24" stroke="currentColor">
              <path fill="none" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
            <%= I18n.t("home.index.docs", :default => "Docs") %>
          </span>
          <svg class="w-4 h-4 transform transition-transform text-gray-800 dark:text-gray-300" data-sidebar-target="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
        <ul class="pl-4 hidden list-none" data-sidebar-target="submenu">
          <li><%= link_to I18n.t("home.index.intro", :default => "Einführung"), intro_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.tournierplanung", :default => "Turnier Management"), MkDocsUrls.tournament_doc_url, target: '_blank', class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.matchday_monitoring", :default => "Matchday Monitoring"), MkDocsUrls.league_doc_url, target: '_blank', class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.about", :default => "Über den Entwickler"), about_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.search", :default => "Das Suchen in Tabellen"), search_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
          <li><%= link_to I18n.t("home.index.version", :default => "Versionen"), repo_version_path, class: 'block p-2 text-gray-700 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white rounded' %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
