<script>
  function searchSeasonParticipations(selectObj, tableOnly) {
    Rails.ajax({
      type: "GET",
      url: "/season_participations?sSearch=" + document.getElementById("search").value.replace(/&/g, '%26') + "&table_only=true",
      success: function (response) {
        var elem = document.getElementById("table_wrapper");
        elem.innerHTML = response.body.innerHTML;
      },
      error: function (response) {
        console.log(response.responseText);
      }
    })
  }
</script>
<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3"><%= t('home.index.seasonparticipation') %></h1>

    <% if @season_participations.any? %>
      <div class="flex-row w-2/4">
        <div class="flex flex-row">
          <div class="flex w-full">
            <input oninput="searchSeasonParticipations(this, true)" value="<%= @sSearch %>" id="search" name="search" class="block appearance-none placeholder-gray-500 placeholder-opacity-50 border border-light-blue-400 rounded-md w-full py-2 px-3 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300" placeholder="Search">
          </div>
          <div class="flex pl-3">
            <%= render_svg "icons/information-outline", styles: "fill-current icon-sm text-gray-700 dark:text-gray-200 hover:text-gray-800 hover:bg-white dark:bg-black inline-block", title: "e.g. reg:nordd wedel" %>
          </div>
        </div>
      </div>
      <%= link_to('New Season Participation', new_season_participation_path, class: "btn btn-primary") if current_user.andand.admin? %>
    <% end %>
  </div>

  <% if @season_participations.any? %>
    <div id="table_wrapper">
      <%= render partial: 'season_participations_table' %>
    </div>

  <% else %>
    <div class="bg-white dark:bg-black rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Season Participation</p>
        <%= link_to 'New Season Participation', new_season_participation_path, class: "btn btn-primary"  %>
      </div>
    </div>
  <% end %>
</div>
