<div class="rounded shadow table-responsive">
  <% @locations ||= records %>
  <% @pagy ||= defined?(pagy) ? pagy : nil %>
  <table class="table">
    <thead>
    <tr>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :id,'Id(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :club_id,'Clubs(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :address,'Address(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :data,'Data', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :name,'Name(*)', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :synonyms,'Synonyme', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :organizer_type,'Organizer Type', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :organizer_id,'Organizer Id', params, class: 'text-gray-700 dark:text-gray-300' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :source_url,'Source', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs"><%= sortable @locations, :sync_date,'Sync Date', params, class: 'text-gray-700' %></th>
      <th class="p-3 uppercase text-left text-xs text-gray-700 dark:text-gray-300 w-20"><%= t('actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @locations.each do |location| %>
      <tr class="group border-t border-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:bg-gray-700">
        <td class="p-3"><%= custom_link_to location.id, location_path(location), :"data-turbo" => false %></td>
        <td class="p-3">
          <% club_links = location.clubs.map { |club|
             custom_link_to club.shortname, club_path(club) if club.present?
           }.compact %>
          <%= club_links.join("<hr class=\"my-2 mx-auto w-48 h-1 bg-gray-200 rounded border-0 md:my-5 dark:bg-gray-700\">").html_safe %>
        </td>
        <td class="p-3"><%= location.address.gsub("\n", "<br />").html_safe if location.address.present? %></td>
        <td class="p-3"><%= location.data %></td>
        <td class="p-3"><%= location.name %></td>
        <td class="p-3"><%= location.synonyms.present? ? location.synonyms.gsub("\n", ",<hr class=\"my-2 mx-auto w-48 h-1 bg-gray-200 rounded border-0 md:my-5 dark:bg-gray-700\">").html_safe : "" %></td>
        <td class="p-3"><%= location.organizer_type %></td>
        <td class="p-3">
          <% if location.organizer_id.present? && location.organizer_type.present? %>
            <% if location.organizer.present? %>
              <%= custom_link_to location.organizer_id, send("#{location.organizer_type.underscore}_path", location.organizer), target: :_blank %>
            <% elsif location.organizer_type == "Region" && @regions_cache&.has_key?(location.organizer_id) %>
              <%= custom_link_to location.organizer_id, region_path(@regions_cache[location.organizer_id]), target: :_blank %>
            <% else %>
              <%= location.organizer_id %>
            <% end %>
          <% end %>
        </td>
        <td class="p-3">
          <% if location.source_url.present? %>
            <% begin %>
              <%= link_to URI.parse(location.source_url).host, location.source_url, target: :_blank %>
            <% rescue URI::InvalidURIError %>
              <%= location.source_url %>
            <% end %>
          <% end %>
        </td>
        <td class="p-3"><%= location.sync_date&.to_date %></td>

        <td>
          <%= custom_link_to t('view'), location, class: "btn btn-link no-underline", :"data-turbo" => false %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%- unless local_server? %>
  <%= form_tag merge_locations_path, method: :post do %>
    <%= label_tag "merge" %><%= number_field_tag "merge", nil, placeholder: "master location id", class: "px-4 py-2 rounded-md border border-gray-300 bg-white text-gray-800 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-200 dark:placeholder-gray-400" %>
    <%= label_tag "with duplicates (comma-separated ids)" %><%= text_field_tag "with", nil, placeholder: "slave location id", class: "px-4 py-2 rounded-md border border-gray-300 bg-white text-gray-800 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-200 dark:placeholder-gray-400" %>
    <%= submit_tag "merge and delete slave", class: "btn btn-primary" %>
  <% end %>
<%- end %>

<% if @pagy.pages > 1 %>
  <div class="text-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
