<template x-if="<%= show.presence %>">
  <div x-init="increment_<%= varname %> = <%= increment %>"><%= header %></div>
</template>
<template x-if="<%= show.presence %>">
  <div class="col-span-4">
    <div class="grid grid-cols-<%= cols %> gap-4">
      <%- values.each_with_index do |val, ix| %>
        <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-2vw font-medium uppercase focus:outline-none sm:flex-1 shadow-sm cursor-pointer undefined" :class="{ 'bg-blue-600 text-white': (<%= varname %> == '<%= val %>'), ' text-gray-200': !(<%= varname %> == '<%= val %>') }">
          <input type="radio" x-model.number="<%= varname %>" name="<%= varname %>_choice" value="<%= val %>" class="sr-only" aria-labelledby="<%= varname %>-choice-<%= ix %>-label" @change="handleRadioChange('<%= varname %>', <%= val %>)">
          <span id="<%= varname %>-choice-<%= ix %>-label"><%= displays[ix] %></span>
        </label>
      <%- end %>
    </div>
  </div>
</template>
<template x-if="<%= show.presence %>">
  <div class="grid grid-cols-3">
    <%- unless local_assigns[:no_counter] %>
      <template x-if="'discipline' != '<%= varname %>'">
        <div class="flex text-4vw justify-center font-bold" @click="decrement('<%= varname %>')">-</div>
      </template>
      <template x-if="'discipline' != '<%= varname %>'">
        <input name="<%= varname %>_choice" x-model.number="<%= varname %>" x-text="<%= varname %>" class="flex items-center justify-center text-2vw font-medium shadow-sm bg-blue-600 dark:text-gray-200 text-gray-200 border rounded-md">
      </template>
      <%- if table.table_kind.name == "Pool" %>
        <template x-if="'discipline' == '<%= varname %>'">
          <div class="flex col-span-3 items-center justify-center w-full">
            <template x-if="discipline == 0">
              <div class="overflow-hidden flex pb-1 justify-center hover:bg-gray-700 w-16 h-16"><%= image_tag "p8.png" %></div>
            </template>
            <template x-if="discipline == 1">
              <div class="overflow-hidden flex pb-1 justify-center hover:bg-gray-700 w-16 h-16"><%= image_tag "p9.png" %></div>
            </template>
            <template x-if="discipline == 2">
              <div class="overflow-hidden flex pb-1 justify-center hover:bg-gray-700 w-16 h-16"><%= image_tag "p10.png" %></div>
            </template>
            <template x-if="discipline == 3">
              <div class="overflow-hidden flex pb-1 justify-center hover:bg-gray-700 w-16 h-16"><%= image_tag "p14.1.png" %></div>
            </template>
          </div>
        </template>
      <%- end %>
      <template x-if="'discipline' != '<%= varname %>'">
        <div class="flex text-4vw justify-center font-bold" @click="increment('<%= varname %>', <%= local_assigns[:maxval] %>)">+</div>
      </template>
    <%- end %>
  </div>
</template>
