<div data-karambol-settings-target="<%= varname %>Header" 
     class="<%= show == 'true' ? '' : 'hidden' %>">
  <%= header %>
</div>
<div data-karambol-settings-target="<%= varname %>Container" 
     class="col-span-4 <%= show == 'true' ? '' : 'hidden' %>">
  <div class="grid grid-cols-<%= cols %> gap-4">
    <%- values.each_with_index do |val, ix| %>
      <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-2vw font-medium uppercase focus:outline-none sm:flex-1 shadow-sm cursor-pointer"
             data-karambol-settings-target="<%= varname %>Option"
             data-value="<%= val %>">
        <input type="radio" 
               name="<%= varname %>_choice" 
               value="<%= val %>" 
               class="sr-only" 
               aria-labelledby="<%= varname %>-choice-<%= ix %>-label"
               <%= local_assigns[:data] ? "data-#{local_assigns[:data]}" : '' %>>
        <span id="<%= varname %>-choice-<%= ix %>-label"><%= displays[ix] %></span>
      </label>
    <%- end %>
  </div>
</div>
<% unless local_assigns[:no_counter] %>
  <div data-karambol-settings-target="<%= varname %>Counter" 
       class="grid grid-cols-3 <%= show == 'true' ? '' : 'hidden' %>">
    <div class="flex text-4vw justify-center font-bold cursor-pointer" 
         data-action="click->karambol-settings#decrement<%= varname.capitalize %>">-</div>
    <input name="<%= "#{varname}_2" %>_choice" 
           type="number"
           data-karambol-settings-target="<%= varname %>Input"
           class="flex items-center justify-center text-2vw font-medium shadow-sm bg-blue-600 dark:text-gray-200 text-gray-200 border rounded-md">
    <div class="flex text-4vw justify-center font-bold cursor-pointer" 
         data-action="click->karambol-settings#increment<%= varname.capitalize %>">+</div>
  </div>
<% end %>
