<!--suppress RubyScope, RubyScope, RubyScope -->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
    }
    .responsive-svg {
        width: 100%;
        height: auto;
    }

    h1, h2, h3, h4 {
        color: white;
        text-shadow: 2px 2px #000000;
    }
</style>
<!--<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.js"></script>-->
<script type="text/javascript">
  window.hotkeys('*', function (event) {
// Prevent the default refresh event under WINDOWS system

    //console.log(hotkeys.getPressedKeyCodes());
    //alert('you pressed ' + hotkeys.getPressedKeyCodes());
    const keyMap = {
      33: "key_a",
      37: "key_a",
      34: "key_b",
      39: "key_b",
      66: "key_c",
      38: "key_c",
      116: "key_d",
      27: "key_d",
      40: "key_d",
      13: "key_d",
    }
    if (event.keyCode in keyMap) {
      let key = keyMap[event.keyCode];
      if (key === "key_c") {
        window.history.back();
        event.preventDefault();
      }
    }
    return true
  });
</script>
<div class="bg-gray-800">
  <div data-controller="table-monitor" data-action="click->table-monitor#back" class="w-10 fixed text-gray-300 hover:text-black text-4vw font-bold" style="left: 10px; top: -10px;">
    <%= render_svg "icons/arrow-thin-left", styles: "responsive-svg fill-current icon-sm inline-block", title: "back" %>
  </div>
  <div class="w-1/12 grid grid-cols-3 gap-4 mr-4 fixed text-gray-300 hover:text-black text-2vw font-bold" style="right: 10px; top: -10px;">
    <%= custom_link_to scoreboard_location_path(@location.md5, sb_state: "tournament_scores", :"data-turbo" => false) do %>
      <%= render_svg "icons/information-outline", styles: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "home" %>
    <% end %>
    <%= custom_link_to toggle_dark_mode_location_path(@location), :"data-turbo" => false do %>
      <%= render_svg "icons/adjust", styles: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "toggle dark mode" %>
    <% end %>
    <%= custom_link_to scoreboard_location_path(@location.md5, sb_state: "welcome", :"data-turbo" => false) do %>
      <%= render_svg "icons/home", styles: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "home" %>
    <% end %>
  </div>
  <div class="p-8 w-full m-auto flex items-center flex-col bg-cover h-screen bg-center bg-no-repeat" style="background-image: url('<%= @location.background_image %>')">
    <h1 class="text-center text-yellow-400"><%= @tournament&.title %></h1>
    <div class="w-2/3 flex flex-col">
      <%= render partial: "tournament_monitors/rankings", locals: { tournament_monitor: @tournament&.tournament_monitor, full_screen: true, totals: true, grid: false } %>
      <%= render partial: "tournament_monitors/game_results", locals: { tournament_monitor: @tournament&.tournament_monitor, edit_games_modus: false } %>
    </div>
  </div>
</div>
