<!--suppress RubyScope, RubyScope, RubyScope -->
<!--<script defer src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>-->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<%= stylesheet_link_tag "scoreboard_free_game_pool", "data-turbo-track": "reload" %>

<script defer src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<!--<script src="/alpine.min.js"></script>-->
<script src="/onscreen-keyboard.js"></script>
<script nonce="<%= content_security_policy_nonce %>" type="text/javascript">
  document.addEventListener('turbo:load', function() {
    // Set the background image via CSS variable
    const container = document.querySelector('.table-monitor-container');
    if (container) {
      const bgImage = container.dataset.backgroundImage;
      if (bgImage) {
        container.style.setProperty('--bg-image', `url('${bgImage}')`);
      }
    }

    // Player management functions
    window.players_mode = function() {
      set_players_modal();
    }

    window.new_player_mode = function() {
      set_new_player_modal();
    }

    window.set_checked_player = function(ab, ix, val) {
      document.getElementById("player" + ab + "_" + ix).checked = true;
      document.getElementById("player_" + ab + "_id").value = val;
    }

    function set_players_modal() {
      document.getElementById("modal-players").classList.toggle("hidden");
      document.getElementById("modal-players-bg").classList.toggle("hidden");
      document.getElementById("modal-players").classList.toggle("flex");
      document.getElementById("modal-players-bg").classList.toggle("flex");
    }

    function set_new_player_modal() {
      document.getElementById("modal-new-player").classList.toggle("hidden");
      document.getElementById("modal-new-player-bg").classList.toggle("hidden");
      document.getElementById("modal-new-player").classList.toggle("flex");
      document.getElementById("modal-new-player-bg").classList.toggle("flex");
    }

    // Make modal functions globally available
    window.set_players_modal = set_players_modal;
    window.set_new_player_modal = set_new_player_modal;
  });
</script>
<div class="modal-bg hidden" id="modal-players-bg"></div>
<div class="modal-container hidden" id="modal-players">
  <div id="players_modal_setup__2" class="modal-content">
    <div class="flex flex-col">
      <div class="flex justify-around pt-5 space-x-10">
        <%= custom_link_to t('continue'), "javascript:void(0)", 
            onclick: "set_players_modal()",
            data: { turbolinks: false }, 
            class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary text-2vw", 
            id: "cancel", 
            tabindex: "1" %>
      </div>
      <div class="flex justify-around w-full text-3vw">
        <div>Spieler A</div>
        <div>Spieler B</div>
      </div>
      <%- players = [] %>
      <%- players += [["---Gäste---", ""]] +
        Array(@guest_players_default.andand.map { |p| ["#{p.firstname} #{p.lastname}".gsub("Dr. ", "") + (p.firstname =~ /Dr\./ ? ", Dr." : ""), p.id] }) +
        Array(@guest_players_other.andand.map { |p| ["#{p.firstname} #{p.lastname}".gsub("Dr. ", "") + (p.firstname =~ /Dr\./ ? ", Dr." : ""), p.id] })
      %>
      <%- players += [["---Club---", ""]] + Array(club_players.andand.map { |p| ["#{p.firstname} #{p.lastname}".gsub("Dr. ", "") + (p.firstname =~ /Dr\./ ? ", Dr." : ""), p.id] }) %>
      <%- count = players.count %>
      <div class="player-selection-container">
        <div class="mr-2">
          <%= content_tag :div, id: "player_a_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-2 rounded-lg p-3" do %>
            <div class="flex flex-row w-full">
              <div class="player-column">
                <%- (0..(count / 2 - 1)).each do |ix| %>
                  <div class="player-option">
                    <div>
                      <%- if players[ix][1].present? %>
                        <%= radio_button_tag :player_a_id, players[ix][1], nil, 
                            class: "player-radio", 
                            id: "playera_#{ix}", 
                            data: { 
                              action: "click->set_checked_player",
                              player: "a",
                              index: ix,
                              value: players[ix][1]
                            } %>
                      <%- end %>
                    </div>
                    <div data-action="click->set_checked_player" 
                         data-player="a" 
                         data-index="<%= ix %>" 
                         data-value="<%= players[ix][1] %>">
                      <%= players[ix][0] %>
                    </div>
                  </div>
                <%- end %>
              </div>
              <div class="flex-col">
                <%- ((count / 2)..count - 1).each do |ix| %>
                  <div class="flex mb-2">
                    <div class="">
                      <%- if players[ix][1].present? %>
                        <%= radio_button_tag :player_a_id, players[ix][1], class: "mr-4 text-4vw", id: "playera_#{ix}", onclick: "set_checked_player('a', #{ix}, #{players[ix][1]})", ontouch: "set_checked_player('a', #{ix}, #{players[ix][1]})" %>
                      <%- end %>
                    </div>
                    <div class="" onclick="set_checked_player('a', <%= ix %>, <%= players[ix][1] %>)">
                      <%= players[ix][0] %></div>
                  </div>
                <%- end %>
              </div>
            </div>
          <%- end %>
        </div>
        <div class="">
          <%= content_tag :div, id: "player_b_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-2 rounded-lg p-3" do %>
            <div class="flex flex-row w-full">
              <div class="flex-col">
                <%- (0..(count / 2 - 1)).each do |ix| %>
                  <div class="flex mb-2">
                    <div class="">
                      <%- if players[ix][1].present? %>
                        <%= radio_button_tag :player_b_id, players[ix][1], players[ix][1] == @player_b.andand.id, class: "mr-4 text-4vw", id: "playerb_#{ix}", onclick: "set_checked_player('b', #{ix}, #{players[ix][1]})", ontouch: "set_checked_player('b', #{ix}, #{players[ix][1]})" %>
                      <%- end %>
                    </div>
                    <div class="" onclick="set_checked_player('b', <%= ix %>, <%= players[ix][1] %>)">
                      <%= players[ix][0] %></div>
                  </div>
                <%- end %>
              </div>
              <div class="flex-col">
                <%- ((count / 2)..count - 1).each do |ix| %>
                  <div class="flex mb-2">
                    <div class="">
                      <%- if players[ix][1].present? %>
                        <%= radio_button_tag :player_b_id, players[ix][1], players[ix][1] == @player_b.andand.id, class: "mr-4 text-4vw", id: "playerb_#{ix}", onclick: "set_checked_player('b', #{ix}, #{players[ix][1]})", ontouch: "set_checked_player('b', #{ix}, #{players[ix][1]})" %>
                      <%- end %>
                    </div>
                    <div class="" onclick="set_checked_player('b', <%= ix %>, <%= players[ix][1] %>)">
                      <%= players[ix][0] %></div>
                  </div>
                <%- end %>
              </div>
            </div>
          <%- end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-bg hidden" id="modal-new-player-bg"></div>
<div class="modal-container hidden" id="modal-new-player">
  <div id="new_player_modal_setup__2" class="modal-content">
    <div class="flex flex-col">
      <h2 class="flex mb-5">Anmeldung eines Gasts im Club <%= club.shortname %></h2>
      <div class="flex justify-around w-full text-3vw">
        <%= form_with(model: Player.new) do |form| %>
          <%= hidden_field_tag :club_id, club.id %>
          <%= hidden_field_tag :location_id, @location.id %>
          <%= hidden_field_tag :season_id, Season.current_season.id %>
          <%= hidden_field_tag :from, "new_guest" %>
          <%= render "error_messages", resource: form.object %>
          <div class="form-group">
            <%= form.text_field :firstname, autocomplete: "off", class: "form-control text-2vw", placeholder: "Vorname" %>
          </div>
          <div class="form-group">
            <%= form.text_field :lastname, autocomplete: "off", class: "form-control text-2vw", placeholder: "Nachname" %>
          </div>
          <div class="form-group">
            <%= custom_link_to t('back'), "javascript:void(0)", 
                onclick: "set_new_player_modal()",
                data: { turbolinks: false }, 
                class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary text-2vw", 
                id: "cancel", 
                tabindex: "1" %>
            <%= form.submit t('save'), class: "btn btn-primary text-2vw" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="nav-icons">
  <%= custom_link_to scoreboard_location_path(@location.md5, sb_state: "tournament_scores", :"data-turbo" => false) do %>
    <%= render_svg "icons/information-outline", class: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "home" %>
  <% end %>
  <%= custom_link_to scoreboard_location_path(@location.md5, sb_state: "welcome", :"data-turbolinks" => false) do %>
    <%= render_svg "icons/home", class: "responsive-svg fill-current icon-lg m-4 text-white inline-block", title: "home" %>
  <% end %>
</div>
<div data-controller="table-monitor" 
     class="table-monitor-container"
     data-background-image="<%= @location.background_image.gsub(".", "-.") %>">
  <h1 class="table-title"><%= "#{table.andand.table_kind.andand.name} - #{table.andand.name}" %></h1>
  <%- if @location.present? %>
    <%= form_tag start_game_table_monitor_path(table_monitor), method: :post, class: "flex flex-col text-gray-300" do %>
      <input name='free_game_form' value='pool' type='hidden'/>
      <div class="flex justify-center mt-4 text-center">
        <div id="submit" tabindex=1 class="focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 min-w-min focus:border-0 rounded-lg">
          <%= submit_tag "Start Game", class: "h-full border-4 rounded-lg btn btn-primary text-center text-2vw p-2" %>
        </div>
      </div>
      <div x-data="{last_direction: 0, gametime: 30, warntime: 5, increment_points: 1, points: 80, points_2: 80, increment_games: 2, games: 2, games_2: 2, increment_innings: 1, innings: 0, innings_2: 0, first_break: 0, next_break: 0, discipline: 1, discipline_2: 1, sets: 1}" class="game-settings">
        <div>Spieler</div>
        <div class="col-span-4 flex flex-row">
          <div class="grid grid-cols-3 gap-4">
            <div class="flex">
              <%= custom_link_to "Spieler-Auswahl", "javascript:players_mode()", data: { turbolinks: false }, class: "flex w-full h-full border-4 focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg btn btn-primary text-2vw", id: "cancel", tabindex: "1" %>
            </div>
            <%= content_tag :div, id: "player_a_w", tabindex: 1, class: "flex focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg" do %>
              <%= select_tag :player_a_id, options_for_select(Array(players),default_guest_a.player.id), class: "py-3 px-4 text-2vw w-full" %>
            <%- end %>
            <%= content_tag :div, id: "player_b_w", tabindex: 1, class: "flex focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg" do %>
              <%= select_tag :player_b_id, options_for_select(Array(players), default_guest_b.player.id), class: "py-3 px-4 text-2vw w-full" %>
            <%- end %>
          </div>
        </div>
        <div class="col-span-1">
          <div class="flex">
            <%= custom_link_to "Neuer Spieler", "javascript:new_player_mode()", data: { turbolinks: false }, class: "flex w-full h-full border-4 focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg btn btn-primary text-2vw", id: "cancel", tabindex: "1" %>
          </div>
        </div>
        <form>
          <%= render partial: "radio_select", locals: {
            table: table,
            show: "true",
            header: "Disziplin",
            varname: "discipline",
            values: [0, 1, 2, 3],
            maxval: 3,
            displays: ["8-Ball", "9-Ball", "10-Ball", "14.1 endlos"],
            cols: 4,
            increment: 1 }
          %>
          <%= render partial: "radio_select", locals: {
            table: table,
            show: "discipline != 3",
            header: "Anstoß",
            varname: "next_break",
            values: [0, 1],
            maxval: 2,
            displays: %w[Wechsel Gewinner],
            cols: 3,
            increment: 1,
            no_counter: true }
          %>
          <%= render partial: "radio_select", locals: {
            table: table,
            show: "discipline != 3",
            header: "Gewinnspiele",
            varname: "games",
            values: (2..10).to_a,
            maxval: 99,
            displays: (2..10).to_a,
            cols: 10,
            increment: 1 }
          %>
          <%= render partial: "radio_select", locals: {
            table: table,
            show: "discipline == 3",
            header: "Punkteziel",
            varname: "points",
            values: ["0"] + %w{40 50 60 80 100 125 150 175},
            maxval: 999,
            displays: ["keins"] + %w{40 50 60 80 100 125 150 175},
            cols: 9,
            fixed_increment: 1,
            increment: 1 }
          %>
          <%= render partial: "radio_select", locals: {
            table: table,
            show: "discipline == 3",
            header: "Aufnahme-begrenzung",
            varname: "innings",
            values: Discipline::KARAMBOL_INNINGS_MAP,
            maxval: 99,
            displays: ["keine"] + Discipline::KARAMBOL_INNINGS_MAP[1..-1].to_a,
            cols: 5,
            fixed_increment: 1,
            increment: 1 }
          %>
          <div>Shootout</div>
          <div id="submit" tabindex=1 class="focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 min-w-min focus:border-0 rounded-lg">
            <%= submit_tag "Start Shootout", class: "h-full border-4 rounded-lg btn btn-primary text-center text-2vw p-2"%>
          </div>
          <div class="col-span-4 flex flex-row">
            <div class="w-full grid grid-cols-4">
              <div class="flex justify-end items-center">Spielzeit:</div>
              <div class="ml-4 grid grid-cols-3 gap-2">
                <div class="flex text-4vw justify-center font-bold" @click="if (parseInt(gametime) <= 200) {increment = 25}; if (parseInt(gametime) <= 100) {increment = 5}; if (parseInt(gametime) <= 10) {increment = 1}; if (parseInt(gametime) > 0 ) {gametime = parseInt(gametime) - increment};">-</div>
                <div name="gametime" type='number' x-text="gametime" class="flex text-2vw items-center justify-center font-medium  shadow-sm text-gray-900 border rounded-md"></div>
                <div class="flex text-4vw justify-center font-bold" @click="if (parseInt(gametime) >= 10) {increment = 5}; if (parseInt(gametime) >= 100) {increment = 25}; if (parseInt(gametime) >= 200) { increment = 100 }; if (parseInt(gametime) < 99) {gametime = parseInt(gametime) + increment};">+</div>
              </div>
              <div class="flex justify-end items-center">Warnzeit:</div>
              <div class="ml-4 grid grid-cols-3 gap-2">
                <div class="flex text-4vw justify-center font-bold" @click="if (parseInt(warntime) <= 200) {increment = 25}; if (parseInt(warntime) <= 100) {increment = 5}; if (parseInt(warntime) <= 10) {increment = 1}; if (parseInt(warntime) > 0 ) {warntime = parseInt(warntime) - increment};">-</div>
                <div name="warntime" type='number' x-text="warntime" class="flex text-2vw items-center justify-center font-medium  shadow-sm text-gray-900 border rounded-md "></div>
                <div class="flex text-4vw justify-center font-bold" @click="if (parseInt(warntime) >= 10) {increment = 5}; if (parseInt(warntime) >= 100) {increment = 25}; if (parseInt(warntime) >= 200) { increment = 100 }; if (parseInt(warntime) < 99) {warntime = parseInt(warntime) + increment};">+</div>
              </div>
            </div>
          </div>
          <%= render partial: "radio_select", locals: {
            table: table,
            show: "true",
            header: "Erster Anstoß",
            varname: "first_break",
            values: %w{0 1 2},
            maxval: 2,
            displays: ["ausstoßen", "Heim/Spieler A", "Gast/Spieler B"],
            cols: 3,
            increment: 1,
            no_counter: true }
          %>
        </form>
      </div>
    <% end %>
  <% end %>
</div>
