<!--suppress RubyScope, RubyScope, RubyScope -->
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.js"></script>
<script type="text/javascript">
  var table_kind;
  var players;
  var player_ids;
  var tabbed_elements;
  var tabbed_keys;
  var game_values_disciplines;
  var game_values_innings;
  var game_values_balls_goal;
  var current_element;
  <%- game_values_disciplines = {
      "Pool": ["Pool",
        "9-Ball",
        "8-Ball",
        "14.1 endlos",
        "Blackball",
        "10-Ball"],
      "Snooker": ["Snooker"],
      "Small Billard": ["Freie Partie klein",
        "Dreiband klein",
        "Cadre 35/2",
        "Cadre 52/2",
        "Einband klein",
        "Biathlon",
        "5-Pin Billards"],
      "Half Match Billard": ["Cadre 57/2", "Cadre 38/2", "Dreiband halb", "Einband halb"],
      "Match Billard": ["Dreiband groß",
        "Freie Partie groß",
        "Einband groß",
        "Cadre 47/1",
        "Cadre 71/2",
        "Cadre 47/2"],
      "Pin Billards": ["Pin Billards"],
    } %>
  <%- game_values_disciplines_json = game_values_disciplines.to_json.html_safe %>

  window.onload = function () {
    game_values_disciplines = JSON.parse('<%= game_values_disciplines_json %>')
    players = JSON.parse('<%= @players.map { |p| [p.id, "#{p.lastname}, #{p.firstname}"] }.to_json.html_safe %>');
    game_values_innings = [
      20, 15
    ]
    game_values_timeouts = [
      0, 1, 2, 3, 4, 5
    ]
    game_values_timeout = [
      "", "30", "40", "45"
    ]
    game_values_balls_goal = [
      80, 100, 120, 150, 200, 400, 8, 16, 32, 45, 60, 75
    ]
    <%- table_kind = @table_monitor.andand.table.andand.table_kind.andand.name %>
    table_kind = "<%= table_kind %>";
    tabbed_elements = document.querySelectorAll('[tabindex="1"]')
    set_default_values();
    tabbed_keys = []
    for (let i = 0; i < tabbed_elements.length; i++) {
      tabbed_keys[i] = tabbed_elements[i].getAttribute("id")
    }
    if (tabbed_keys.length > 0) {
      current_element = "player_a_w"
      document.getElementById(current_element).focus();
    }
  };
  // backspace, tab, clear, enter, return, esc, escape, space, up, down, left, right, home, end, pageup, pagedown, del, delete and f1 through f19
  hotkeys('*', function (event, handler) {
// Prevent the default refresh event under WINDOWS system

    //console.log(hotkeys.getPressedKeyCodes());
    //alert('you pressed ' + hotkeys.getPressedKeyCodes());
    var keyMap = {
      33: "key_a",
      37: "key_a",
      34: "key_b",
      39: "key_b",
      66: "key_c",
      38: "key_c",
      116: "key_d",
      27: "key_d",
      40: "key_d",
    }
    tabbed_elements = document.querySelectorAll('[tabindex="1"]')

    tabbed_keys = []
    for (let i = 0; i < tabbed_elements.length; i++) {
      tabbed_keys[i] = tabbed_elements[i].getAttribute("id")
    }

    current_element = document.activeElement.getAttribute("id") || "submit"
    console.log("active: " + current_element);
    if (current_element == null) {
      current_element = tabbed_keys[0];
      console.log("active now: " + current_element);
      document.getElementById(current_element).focus();
    }

    if (event.keyCode in keyMap) {
      var key = keyMap[event.keyCode];
      if (key == "key_c") {
        current_element = document.activeElement.getAttribute("id") || "submit";
        if (current_element != "submit") {
          document.getElementById("submit").focus()
        } else {
          window.history.back();
        }
      }
      if (key == "key_b") {
        current_element = document.activeElement.getAttribute("id") || "submit";
        for (var i = 0; i < tabbed_keys.length; i++) {
          if (tabbed_keys[i] == current_element) {
            var ff = i + 1;
            if (ff >= tabbed_keys.length) ff = 0;
            console.log("active becomes (a): " + tabbed_keys[ff]);
            el = document.getElementById(tabbed_keys[ff])
            if (el != null)
              el.focus();
            break;
          }
        }
      }
      if (key == "key_a") {
        current_element = document.activeElement.getAttribute("id") || "submit";
        for (var i = 0; i < tabbed_keys.length; i++) {
          if (tabbed_keys[i] == current_element) {
            var ff = i - 1;
            if (ff < 0) ff = tabbed_keys.length - 1;
            console.log("active becomes (a): " + tabbed_keys[ff]);
            el = document.getElementById(tabbed_keys[ff])
            if (el != null)
              el.focus();
            break;
          }
        }
      }
      if (key == "key_d") {
        current_element = document.activeElement.getAttribute("id") || "submit";
        if (current_element == "submit")
          document.getElementsByName("commit")[0].click()
        else
          set_next_value(current_element);
      }
    }
    event.preventDefault();
    return true
  });

  function  set_next_value(name_) {
    let name_stripped1 = name_.replace("_w", "");
    let player_select = "";
    let name_stripped = "";
    let next_val = "";
    let next_val_id = 0;
    let current_value = "";
    let default_name = "Spieler A"
    // let players_p = [...players]
    // let player_ids_p = [...player_ids]
    let value_id = 0;

    if (name_stripped1.endsWith("_a")) {
      player_select = "_a";
      name_stripped = name_stripped1.replace("_a", "");
    } else if (name_stripped1.endsWith("_b")) {
      player_select = "_b";
      name_stripped = name_stripped1.replace("_b", "");
    } else {
      player_select = ""
      name_stripped = name_stripped1;
    }
    switch (name_stripped) {
      case "discipline":
        current_value = document.getElementById(name_stripped1).value;
        next_val = next_value(game_values_disciplines[table_kind], current_value);
        break;
      case "innings":
        current_value = document.getElementById(name_stripped1).value;
        next_val = next_value(game_values_innings, current_value);
        break;
      case "timeout":
        current_value = document.getElementById(name_stripped1).value;
        next_val = next_value(game_values_timeout, current_value);
        break;
      case "timeouts":
        current_value = document.getElementById(name_stripped1).value;
        next_val = next_value(game_values_timeouts, current_value);
        break;
      case "balls_goal":
        current_value = document.getElementById(name_stripped1).value;
        next_val = next_value(game_values_balls_goal, current_value);
        break;
      case "player":
        current_value = document.getElementById(name_stripped1 + "_id").value;
        current_player_id = document.getElementById(name_stripped1 + "_id").value
        if (player_select == "_b") default_name = "Spieler B"
        players_p = [...players]
        players_p.unshift([0, default_name])
        current_value = player_from_id(players_p, current_player_id)
        next_val = next_value(players_p, current_value);
        document.getElementById(name_stripped1 + "_id").value = next_val[0];
        return
    }
    document.getElementById(name_stripped1).value = next_val;
    if (name_stripped != "player" && player_select == "") {
      document.getElementById(name_stripped + "_a").value = next_val
      document.getElementById(name_stripped + "_b").value = next_val
    }
  };

  function player_from_id(values, value) {
    for (var i = 0; i < values.length; i++) {
      if (values[i][0] == value)
        return values[i];
    }
    return values[0]
  }

  function propagate_discipline() {
    document.getElementById("discipline_a").value = document.getElementById("discipline").value
    document.getElementById("discipline_b").value = document.getElementById("discipline").value
  }

  function propagate_balls_goal() {
    document.getElementById("balls_goal_a").value = document.getElementById("balls_goal").value
    document.getElementById("balls_goal_b").value = document.getElementById("balls_goal").value
  }

  function next_value(values, value) {
    for (var i = 0; i < values.length; i++) {
      if (values[i] == value) {
        next = i + 1
        if (i >= values.length - 1) next = 0
        return values[next];
      }
    }
    return values[0]
  }

  function set_default_values() {
    if (document.getElementById("discipline").value == "") {
      document.getElementById("discipline").value = game_values_disciplines[table_kind][0]
    }
    if (document.getElementById("discipline_a").value == "") {
      document.getElementById("discipline_a").value = game_values_disciplines[table_kind][0]
    }
    if (document.getElementById("discipline_b").value == "") {
      document.getElementById("discipline_b").value = game_values_disciplines[table_kind][0]
    }
    if (document.getElementById("balls_goal").value == "") {
      document.getElementById("balls_goal").value = game_values_balls_goal[0]
    }
    if (document.getElementById("balls_goal_a").value == "") {
      document.getElementById("balls_goal_a").value = game_values_balls_goal[0]
    }
    if (document.getElementById("balls_goal_b").value == "") {
      document.getElementById("balls_goal_b").value = game_values_balls_goal[0]
    }
    if (document.getElementById("innings").value == "") {
      document.getElementById("innings").value = game_values_innings[0]
    }
  }
</script>
<div data-controller="table-monitor" data-action="doubleclick->table-monitor#home click->table-monitor#back" class="fixed text-gray-300 hover:text-black text-4vw font-bold" style="left: 10px; top: -10px;">
  <%= render_svg "icons/arrow-thin-left", styles: "fill-current icon-sm inline-block", title: "e.g. reg:nordd wedel" %>
</div>
<div class="fixed text-gray-300 hover:text-black text-2vw font-bold" style="right: 10px; top: -10px;">
  <%= link_to scoreboard_location_path(@location.md5, sb_state: "welcome", :"data-turbolinks" => false)  do %>
    <%= render_svg "icons/home", styles: "fill-current icon-lg m-4 text-white inline-block", title: "home" %>
  <% end %>
</div>
<div data-controller="table-monitor" class="p-14 w-full m-auto flex items-center flex-col bg-cover h-screen bg-center bg-no-repeat" style="background-image: url('/Karambol.jpg')">
  <h1 style="text-shadow: 2px 2px #000000" class="text-4vw flex text-gray-200 "><%= "#{t("training_game")} #{@table.andand.name} (#{@table.andand.table_kind.andand.name})" %></h1>
  <%- if @location.present? %>
    <h1 style="text-shadow: 2px 2px #000000" class="text-4vw flex text-gray-200 mt-4"><%= @location.name %></h1>
    <%= form_tag start_game_table_monitor_path(@table_monitor), method: :post, class: "flex flex-col text-gray-200" do %>

      <div class="flex justify-center mt-4 text-center">
        <div id="submit" tabindex=1 class="focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 min-w-min focus:border-0 rounded-lg">
          <%= submit_tag "Start Game", class: "h-full border-4 rounded-lg btn btn-primary text-center text-2vw p-2" %>
        </div>
      </div>
      <div style="text-shadow: 2px 2px #000000" class="flex text-2vw grid gap-3 grid-cols-4 mt-4 text-gray-200">
        <div class="flex flex-col text-white">
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Disziplin</div>
          <%= content_tag :div, id: "discipline_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :discipline, options_for_select(game_values_disciplines[table_kind.to_sym], @discipline), onchange: "propagate_discipline();", class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Aufnahmen</div>
          <%= content_tag :div, id: "innings_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :innings, options_for_select(["20", "15"], @innings), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Ballziel</div>
          <%= content_tag :div, id: "balls_goal_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :balls_goal, options_for_select(["80", "100", "120", "150", "200", "400", "8", "16", "32", "45", "60", "75"], @balls_goal || "80"), onchange: "propagate_balls_goal();", class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
      </div>
      <div style="text-shadow: 2px 2px #000000" class="flex text-2vw grid gap-3 grid-cols-4 mt-4 text-gray-200">
        <div class="flex flex-col text-white">
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Timeout (Sek.)</div>
          <%= content_tag :div, id: "timeout_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :timeout, options_for_select(["", "30", "40", "45"], @timeout), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1"># Timeouts</div>
          <%= content_tag :div, id: "timeouts_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :timeouts, options_for_select(["0", "1", "2", "3", "4", "5"], @timeouts), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
      </div>

      <div class="flex text-2vw grid gap-3 grid-cols-4 mt-4 text-gray-200" style="text-shadow: 2px 2px #000000">
        <div class="flex flex-col text-white">
          <div class="mb-1">Name</div>
          <%= content_tag :div, id: "player_a_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :player_a_id, options_for_select([["Spieler A", 0]] + @players.map { |p| ["#{p.lastname}, #{p.firstname}", p.id] }, @player_a.andand.id || 0), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Disziplin</div>
          <%= content_tag :div, id: "discipline_a_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :discipline_a, options_for_select(game_values_disciplines[table_kind.to_sym], @discipline_a), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex row-span-4 items-center">
          <div class="p-10 w-full text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M6.59 12.83L4.4 15c-.58.58-1.59 1-2.4 1H0v-2h2c.29 0 .8-.2 1-.41l2.17-2.18 1.42 1.42zM16 4V1l4 4-4 4V6h-2c-.29 0-.8.2-1 .41l-2.17 2.18L9.4 7.17 11.6 5c.58-.58 1.59-1 2.41-1h2zm0 10v-3l4 4-4 4v-3h-2c-.82 0-1.83-.42-2.41-1l-8.6-8.59C2.8 6.21 2.3 6 2 6H0V4h2c.82 0 1.83.42 2.41 1l8.6 8.59c.2.2.7.41.99.41h2z"/>
            </svg>
          </div>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Ballziel</div>
          <%= content_tag :div, id: "balls_goal_a_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 -4 rounded-lg p-1" do %>
            <%= select_tag :balls_goal_a, options_for_select(["80", "100", "120", "150", "200", "400", "8", "16", "32", "45", "60", "75"], @balls_goal_a || "80"), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Name</div>
          <%= content_tag :div, id: "player_b_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :player_b_id, options_for_select([["Spieler B", 0]] + @players.map { |p| ["#{p.lastname}, #{p.firstname}", p.id] }, @player_b.andand.id || 0), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Disziplin</div>
          <%= content_tag :div, id: "discipline_b_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :discipline_b, options_for_select(game_values_disciplines[table_kind.to_sym], @discipline_b), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
        <div class="flex flex-col text-white">
          <div class="mb-1">Ballziel</div>
          <%= content_tag :div, id: "balls_goal_b_w", tabindex: 1, class: "focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 rounded-lg p-1" do %>
            <%= select_tag :balls_goal_b, options_for_select(["80", "100", "120", "150", "200", "400", "8", "16", "32", "45", "60", "75"], @balls_goal_b || "80"), class: "p-1 text-2vw w-full" %>
          <%- end %>
        </div>
      </div>
    <%- end %>
  <%- end %>
</div>
