<!--suppress RubyScope, RubyScope, RubyScope -->
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.js"></script>
<script type="text/javascript">
  window.onload = function () {
    var tabbed_elements = document.querySelectorAll('a[tabindex="1"]')
    var tabbed_keys = []
    for (let i = 0; i < tabbed_elements.length; i++) {
      tabbed_keys[i] = tabbed_elements[i].getAttribute("id")
    }
    if (tabbed_keys.length > 0) {
      var current_element = tabbed_keys[1]
      document.getElementById(current_element).focus();
    }
  };
  // backspace, tab, clear, enter, return, esc, escape, space, up, down, left, right, home, end, pageup, pagedown, del, delete and f1 through f19
  hotkeys('*', function (event, handler) {
// Prevent the default refresh event under WINDOWS system

    //console.log(hotkeys.getPressedKeyCodes());
    //alert('you pressed ' + hotkeys.getPressedKeyCodes());
    var keyMap = {
      33: "key_a",
      37: "key_a",
      34: "key_b",
      39: "key_b",
      66: "key_c",
      38: "key_c",
      116: "key_d",
      27: "key_d",
      40: "key_d",
    }
    var tabbed_elements = document.querySelectorAll('a[tabindex="1"]')

    var tabbed_keys = []
    for (let i = 0; i < tabbed_elements.length; i++) {
      tabbed_keys[i] = tabbed_elements[i].getAttribute("id")
    }

    var current_element = document.activeElement.getAttribute("id")
    console.log("active: " + current_element);
    if (current_element == null) {
      current_element = tabbed_keys[0];
      console.log("active now: " + current_element);
      document.getElementById(current_element).focus();
    }

    if (event.keyCode in keyMap) {
      var key = keyMap[event.keyCode];
      if (key == "key_c") {
        if (current_element == tabbed_keys[0])
          window.history.back()
        else
          document.getElementById(tabbed_keys[0]).focus()
      }
      if (key == "key_b") {
        var current_element = document.activeElement.getAttribute("id")
        for (var i = 0; i < tabbed_keys.length; i++) {
          if (tabbed_keys[i] == current_element) {
            var ff = i + 1;
            if (ff >= tabbed_keys.length) ff = 0;
            console.log("active becomes (a): " + tabbed_keys[ff]);
            document.getElementById(tabbed_keys[ff]).focus();
            break;
          }
        }
      }
      if (key == "key_a") {
        var current_element = document.activeElement.getAttribute("id");
        for (var i = 0; i < tabbed_keys.length; i++) {
          if (tabbed_keys[i] == current_element) {
            var ff = i - 1;
            if (ff < 0) ff = tabbed_keys.length - 1;
            console.log("active becomes (a): " + tabbed_keys[ff]);
            document.getElementById(tabbed_keys[ff]).focus();
            break;
          }
        }
      }
      if (key == "key_d") {
        console.log("activate: " + document.activeElement.getAttribute("id"));
        document.activeElement.click();
      }
    }
    event.preventDefault();
    return true
  });
</script>
<div data-controller="table-monitor" data-action="click->table-monitor#back" class="fixed text-gray-300 hover:text-black text-4vw font-bold" style="left: 10px; top: -10px;">
  <%= render_svg "icons/arrow-thin-left", styles: "fill-current icon-sm inline-block", title: "e.g. reg:nordd wedel" %>
</div>
<div class="p-14 w-full m-auto flex items-center flex-col bg-cover h-screen bg-center bg-no-repeat" style="background-image: url('/Karambol.jpg')">
  <h1 style="text-shadow: 2px 2px #000000" class="flex text-gray-200 text-4vw"><%= t('select_tournament') %></h1>
  <h2 style="text-shadow: 2px 2px #000000" class="flex text-gray-200 text-3vw"><%= @table.andand.name %></h2>
  <%- found = false %>
  <%- if @location.tournaments.present? %>
    <%- @location.tournaments.joins(:tournament_monitor).each do |tournament| %>
      <h1 style="text-shadow: 2px 2px #000000" class="flex text-yellow-500 m-5 text-3vw"><%= tournament.title %></h1>
      <%= link_to t('home.index.results_so_far'), game_results_location_path(@location, tournament_id: tournament.id), method: :post, data: { turbolinks: false }, class: "btn btn-primary ring-4 text-2vw p-1 lg:mr-4 mr-0 lg:mt-4 mt-2 p-1", id: "game_results_#{tournament.id}", tabindex: 1 %>
      <div class="flex items-center mt-10 flex-row h-1/8 space-x-10">
        <%- if tournament.manual_assignment? %>
          <%- if @table.present? %>
            <%- found = true %>
            <%= link_to t('continue'), placement_location_path(@location, tournament_id: tournament.id, table_id: @table.id), method: :post, data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-3vw p-2 lg:mr-4 mr-0 lg:mt-4 mt-2 p-1", id: "table_monitor_#{@table.id}", tabindex: 1 %>
          <%- else %>
            <%- tournament.tournament_location.tables.joins(:table_kind => :disciplines).where(disciplines: { id: tournament.discipline_id }).each do |table| %>
              <%- found = true %>
              <%= link_to table.name, placement_location_path(@location, tournament_id: tournament.id, table_id: table.id), method: :post, data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-3vw p-2 lg:mr-4 mr-0 lg:mt-4 mt-2 p-1", id: "table_monitor_#{table.id}", tabindex: 1 %>
            <%- end %>
          <%- end %>
        <%- else %>
          <%- tournament.tournament_monitor.table_monitors.order(:name).each do |table_monitor| %>
            <%- found = true %>
            <%= link_to table_monitor.display_name, table_monitor_path(table_monitor), data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-3vw p-1 lg:mr-4 mr-0 lg:mb-2 mb-1", id: "table_monitor_#{table_monitor.id}", tabindex: 1 %>
          <% end %>
        <%- end %>
      </div>
    <%- end %>
  <% end %>
  <%- unless found %>
    <h2 style="text-shadow: 2px 2px #000000" class="flex text-red-200 text-3vw"><%= "Kein Turnier registriert." %></h2>
    <%= link_to t('back'), :back, data: { turbolinks: false }, class: "btn btn-primary ring-4 h-3 text-3vw p-8 lg:mr-4 mr-0 lg:mb-2 mb-1 mt-5", id: "back", tabindex: 1 %>
  <%- end %>
</div>
