<!--suppress RubyScope, RubyScope, RubyScope -->
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.js"></script>
<script type="text/javascript">
  window.onload = function () {
    var current_element = document.activeElement.getAttribute("id")
    console.log("active: " + current_element);
    if (current_element == null) {
      current_element = "tournament";
      console.log("active now: " + current_element);
      document.getElementById(current_element).focus();
    }
  };
  // backspace, tab, clear, enter, return, esc, escape, space, up, down, left, right, home, end, pageup, pagedown, del, delete and f1 through f19
  hotkeys('*', function (event, handler) {
// Prevent the default refresh event under WINDOWS system

    //console.log(hotkeys.getPressedKeyCodes());
    //alert('you pressed ' + hotkeys.getPressedKeyCodes());
    var keyMap = {
      33: "key_a",
      37: "key_a",
      34: "key_b",
      39: "key_b",
      66: "key_c",
      38: "key_c",
      116: "key_d",
      27: "key_d",
      40: "key_d",
    }
    var tabbed_elements = {
      "tournament": "training",
      "training": "tournament",
    }
    var current_element = document.activeElement.getAttribute("id")
    console.log("active: " + current_element);
    if (current_element == null) {
      current_element = "tournament";
      console.log("active now: " + current_element);
      document.getElementById(current_element).focus();
    }

    if (event.keyCode in keyMap) {
      var key = keyMap[event.keyCode];
      if (key == "key_c") {
        window.history.back();
      }
      if (key == "key_b") {
        var current_element = document.activeElement.getAttribute("id")
        console.log("active becomes (b): " + tabbed_elements[current_element]);
        document.getElementById(tabbed_elements[current_element]).focus();
      }
      if (key == "key_a") {
        var current_element = document.activeElement.getAttribute("id");
        for (k in tabbed_elements) {
          if (tabbed_elements[k] == current_element) {
            console.log("active becomes (a): " + k);
            document.getElementById(k).focus();
            break;
          }
        }
      }
      if (key == "key_d") {
        console.log("activate: " + document.activeElement.getAttribute("id"));
        document.activeElement.click();
      }
    }
    event.preventDefault();
    return true
  });
</script>
<div data-controller="table-monitor" data-action="click->table-monitor#back" class="fixed text-gray-300 hover:text-black text-4vw font-bold" style="left: 10px; top: -10px;">
  <%= render_svg "icons/arrow-thin-left", styles: "fill-current icon-sm inline-block", title: "e.g. reg:nordd wedel" %>
</div>
<div class="p-14 w-full m-auto flex items-center flex-col bg-cover h-screen bg-center bg-no-repeat" style="background-image: url('/Karambol.jpg')">
  <%- if table.present? %>
    <h2 style="text-shadow: 2px 2px #000000" class="flex text-gray-200 pt-5 text-3vw"><%= "#{table.name}" %></h2>
  <%- end %>
  <h1 style="text-shadow: 2px 2px #000000" class="flex text-gray-200 pt-5 text-4vw"><%= t('select_game_mode') %></h1>
  <div class="flex items-center mt-20 flex-row h-1/4 space-x-20">

    <%= link_to t('home.index.tournament'), location_path(@location, sb_state: "tournament", table_id: table.andand.id), data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-6vw lg:mr-4 mr-0 lg:mt-4 mt-2 p-1", id: "tournament", tabindex: 1 %>
    <%- if table.present? %>
      <%= link_to t('home.index.training'), placement_location_path(@location, tournament_id: "", table_id: table.id), method: :post, data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-6vw lg:mr-4 mr-0 lg:mt-4 mt-2 p-1", id: "training", tabindex: 1 %>
    <%- else %>
      <%= link_to t('home.index.training'), location_path(@location, sb_state: "training", table_id: table.andand.id), data: { turbolinks: false }, class: "btn btn-primary ring-4 h-full text-6vw lg:mr-4 mr-0 lg:mt-4 mt-2 p-1", id: "training", tabindex: 1 %>
    <%- end %>

  </div>
</div>

