<!--suppress RubyScope, RubyScope, RubyScope -->
<%= stylesheet_link_tag "scoreboard_tournament_scores", "data-turbo-track": "reload" %>

<div class="nav-icons">
  <%= custom_link_to toggle_dark_mode_location_path(@location), :"data-turbo" => false do %>
    <%= render_svg "icons/adjust", class: "nav-icon", title: "toggle dark mode" %>
  <% end %>
  <%= custom_link_to scoreboard_location_path(@location.md5, sb_state: "welcome", :"data-turbo" => false) do %>
    <%= render_svg "icons/home", class: "nav-icon", title: "home" %>
  <% end %>
</div>

<div class="tournament-container" style="background-image: url('<%= @location.background_image.gsub(".", "-.") %>')">
  <%- if @location.tournaments.present? %>
    <%- @tournaments = @tournament.present? ? [@tournament] : @location.tournaments.joins(:tournament_monitor).order("tournament_monitors.updated_at desc").to_a %>

    <%- @tournaments.each do |tournament| %>
      <!--      <h1 style="text-shadow: 2px 2px #000000" class="flex text-yellow-400 m-5 mb-10 text-center text-3vw"><%#= tournament.title.gsub("Biathlonl", "Biathlon") %></h1>-->
      <%- if tournament&.tournament_monitor&.present? %>
        <%- table_monitors = tournament&.tournament_monitor&.table_monitors.to_a.sort_by { |tm| tm.table.name }.reverse %>
        <%- cols = { 1 => 1, 2 => 2, 3 => 3, 4 => 4, 5 => 4, 6 => 3, 8 => 4, 9 => 3, 10 => 4, 11 => 4, 12 => 4, 13 => 4, 14 => 4, 15 => 3, 16 => 4, 17 => 4, 18 => 4 }[table_monitors.count] || 3 %>
        <%#- cols = { 1 => 1, 2 => 2, 3 => 2, 4 => 2, 5 => 2, 6 => 2, 8 => 2, 9 => 2, 10 => 5, 11 => 6, 12 => 6, 13 => 7, 14 => 7, 15 => 5, 16 => 6, 17 => 6, 18 => 6 }[table_monitors.count] || 3 %>
        <turbo-frame id="teasers" class="tournament-grid grid-cols-<%= cols %> text-<%= cols < 4 ? "3" : "2" %>vw">
          <%- monitors = tournament&.tournament_monitor&.table_monitors %>
          <%- monitors&.joins(:game).to_a.sort_by { |tm| tm.table.name }.reverse.each do |table_monitor| %>
            <%- table_monitor.get_options!(I18n.locale) %>
            <turbo_frame id="teaser_<%= table_monitor.id %>">
              <%= render partial: "table_monitors/teaser", locals: { table_monitor: table_monitor } %>
            </turbo_frame>
          <%- end %>
        </turbo-frame>
      <%- end %>
    <%- end %>
  <%- end %>
</div>

<script nonce="<%= content_security_policy_nonce %>" type="text/javascript">
  document.addEventListener('turbo:load', function() {
    // Set the background image via CSS variable
    const container = document.querySelector('.tournament-container');
    if (container) {
      const bgImage = container.style.backgroundImage;
      if (bgImage) {
        container.style.setProperty('--bg-image', bgImage);
        container.style.backgroundImage = 'var(--bg-image)';
      }
    }
  });
</script>
