<!--suppress RubyScope, RubyScope, RubyScope -->
<div data-controller="scoreboard-welcome">
  <style nonce="<%= content_security_policy_nonce %>">
      #info {
          height: 40px;
          position: fixed;
          bottom: 0;
          width: 300px;
          color: white;
          opacity: 1;
      }
      .karambol-img {
          background-image: url('/Karambol.jpg')
      }
      .text-shadow {
          text-shadow: 2px 2px #000000
      }
  </style>
  <div id="info" class="mb-5 ml-5">Version: <%= Rails.env == "production" ? "#{File.read("#{Rails.root}/REVISION").truncate(11)}<br />#{File.ctime("#{Rails.root}/REVISION")}".html_safe : `git show --pretty=%H -q`.truncate(11) %></div>
  <div class="p-14 w-full m-auto flex items-end flex-col bg-cover h-screen karambol-img bg-center bg-no-repeat">
    <% if I18n.locale.to_s == "en" %>
      <%= custom_link_to image_tag("flag_de.png"), { :locale => 'de' }, id: "language", data: { turbo: false, scoreboard_welcome_target: "language" }, tabindex: 0 %>
    <% else %>
      <%= custom_link_to image_tag("flag_en.png"), { :locale => 'en' }, id: "language", data: { turbo: false, scoreboard_welcome_target: "language" }, tabindex: 0 %>
    <% end %>
    <h1 class="text-4vw text-shadow flex mb-2 text-gray-200 "><%= t('welcome') + " - #{@location.name}" %></h1>
    <p class="mb-6 text-shadow text-gray-200 leading-normal text-3vw"><%= t('carambus_manages') %></p>
    <span>
      <%= custom_link_to "Start", location_path(sb_state: "start"), class: "dark:text-white focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary p-5 lg:p-10 text-3vw lg:mr-10 mr-4 lg:mt-4 mt-2", id: "start", data: { turbo: false, scoreboard_welcome_target: "start" }, tabindex: 1 %>
      <%= custom_link_to "Intro", intro_path, class: "dark:text-white focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary p-5 lg:p-10 text-3vw lg:mr-10 mr-4 lg:mt-4 mt-2", id: "intro", data: { turbo: false, scoreboard_welcome_target: "intro" }, tabindex: 2 %>
    </span>
    <span class="flex items-center flex-row h-1/4 space-x-20">
      <%= custom_link_to t('home.index.reservation'), location_path(@location, sb_state: "reservations"), data: { turbo: false }, class: "dark:text-white focus:outline-none focus:ring-8 focus:ring-green-500 focus:ring-opacity-90 border-0 btn btn-primary text-3vw lg:mr-10 mr-4 lg:mt-4 mt-2", id: "reservations", tabindex: 1 %>
    </span>
  </div>
</div>
