<p>
  <strong>Club:</strong>
  <%= link_to @location.club.shortname, club_path(@location.club) if @location.club.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address.gsub("\n", "<br />").html_safe %>
</p>

<p>
  <strong>Data:</strong>
<pre>
  <%= JSON.pretty_generate(@location.data).gsub("\n", "<br />").html_safe %>
  </pre>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back to Club', club_path(@location.club) %>
